/* =Custom Font
-------------------------------------------------------------- */
@font-face {
  font-family: 'star';
  src: url("fonts/star.eot");
  src: url("fonts/star.eot?#iefix") format("embedded-opentype"), url("fonts/star.woff") format("woff"), url("fonts/star.ttf") format("truetype"), url("fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'WooCommerce';
  src: url("fonts/WooCommerce.eot");
  src: url("fonts/WooCommerce.eot?#iefix") format("embedded-opentype"), url("fonts/WooCommerce.woff") format("woff"), url("fonts/WooCommerce.ttf") format("truetype"), url("fonts/WooCommerce.svg#WooCommerce") format("svg");
  font-weight: normal;
  font-style: normal; }

.center-block-parent {
  text-align: center; }
  .center-block-parent:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */ }

.center-block-child {
  display: inline-block;
  vertical-align: middle; }

.checkout-page-title {
  color: #434343;
  font-size: 28px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e0e0e0;
  line-height: 50px;
  font-weight: normal;
  padding: 0 0 14px 0; }

.product-item-title, .dokan-dashboard .dokan-dashboard-content p a, ul.dokan-seller-wrap li.dokan-single-seller .dokan-store-caption h3, table.dokan-table.order-items tbody td.name a {
  line-height: 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 19.5px;
  color: #1257ab; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

/*===================================================================================*/
/*  Helper
/*===================================================================================*/
.light-bg {
  background-color: #f8f8f8; }

.inner {
  padding-top: 75px;
  padding-bottom: 75px; }

.m-t-0 {
  margin-top: 0 !important; }

.m-t-35 {
  margin-top: 35px !important; }

.semi-bold {
  font-weight: 600 !important; }

.title-color {
  color: #434343 !important; }

.content-color {
  color: #747474 !important; }

.bold {
  font-weight: 700 !important; }

.auto-width {
  width: auto !important; }

.center-block {
  float: none; }

.inner {
  padding-top: 120px;
  padding-bottom: 120px; }

.inner-md {
  padding-top: 100px;
  padding-bottom: 100px; }

.inner-sm {
  padding-top: 80px;
  padding-bottom: 80px; }

.inner-xs {
  padding-top: 40px;
  padding-bottom: 40px; }

.inner-top {
  padding-top: 120px; }

.inner-top-md {
  padding-top: 100px; }

.inner-top-sm {
  padding-top: 80px; }

.inner-top-xs {
  padding-top: 40px; }

.inner-bottom {
  padding-bottom: 120px; }

.inner-bottom-md {
  padding-bottom: 100px; }

.inner-bottom-sm {
  padding-bottom: 80px; }

.inner-bottom-xs {
  padding-bottom: 40px; }

.inner-left {
  padding-left: 75px; }

.inner-left-md {
  padding-left: 60px; }

.inner-left-sm {
  padding-left: 45px; }

.inner-left-xs {
  padding-left: 30px; }

.inner-right {
  padding-right: 75px; }

.inner-right-md {
  padding-right: 60px; }

.inner-right-sm {
  padding-right: 45px; }

.inner-right-xs {
  padding-right: 30px; }

.outer {
  margin-top: 120px;
  margin-bottom: 120px; }

.outer-md {
  margin-top: 100px;
  margin-bottom: 100px; }

.outer-sm {
  margin-top: 80px;
  margin-bottom: 80px; }

.outer-xs {
  margin-top: 40px;
  margin-bottom: 40px; }

.outer-top {
  margin-top: 120px; }

.outer-top-md {
  margin-top: 100px; }

.outer-top-sm {
  margin-top: 80px; }

.outer-top-xs {
  margin-top: 40px; }

.outer-bottom {
  margin-bottom: 120px; }

.outer-bottom-md {
  margin-bottom: 100px; }

.outer-bottom-sm {
  margin-bottom: 80px; }

.outer-bottom-xs {
  margin-bottom: 40px; }

@media (max-width: 767px) {
  .inner {
    padding-top: 80px;
    padding-bottom: 80px; }
  .inner-md {
    padding-top: 65px;
    padding-bottom: 65px; }
  .inner-sm {
    padding-top: 50px;
    padding-bottom: 50px; }
  .inner-xs {
    padding-top: 40px;
    padding-bottom: 40px; }
  .inner-top {
    padding-top: 80px; }
  .inner-top-md {
    padding-top: 65px; }
  .inner-top-sm {
    padding-top: 50px; }
  .inner-top-xs {
    padding-top: 40px; }
  .inner-bottom {
    padding-bottom: 80px; }
  .inner-bottom-md {
    padding-bottom: 65px; }
  .inner-bottom-sm {
    padding-bottom: 50px; }
  .inner-bottom-xs {
    padding-bottom: 40px; } }

.ft-22, .ft-22 .amount {
  font-size: 22px !important; }

.ft-20, .ft-20 .amount {
  font-size: 20px !important; }

.ft-18, .ft-18 .amount {
  font-size: 18px !important; }

.ft-16, .ft-16 .amount {
  font-size: 16px !important; }

.ft-14, .ft-14 .amount {
  font-size: 14px !important; }

.ft-12, .ft-12 .amount {
  font-size: 12px !important; }

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

#customer_login .user-role {
  clear: both; }

#customer_login .user-role .radio input[type=radio] {
  position: relative;
  margin-left: 0; }

.dokan-dashboard .dokan-dashboard-content .row-actions span.edit a,
.dokan-dashboard .dokan-dashboard-content .row-actions span.delete a,
.dokan-dashboard .dokan-dashboard-content .row-actions span.view a {
  font-size: 13px;
  font-weight: 400; }

.dokan-dashboard .dokan-dashboard-content .row-actions span.edit a,
.dokan-dashboard .dokan-dashboard-content .row-actions span.view a {
  color: #747474; }

.dokan-dashboard .dokan-dashboard-content .row-actions span.delete a {
  color: #ff0000; }

.dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.big-counter ul {
  padding-left: 0; }

.dokan-product-listing .dokan-product-listing-area ins .amount {
  color: #301c53;
  font-size: 18px; }

.dokan-product-listing .dokan-product-listing-area del .amount {
  color: #b7b7b7;
  font-size: 14px; }

input.dokan-btn-theme[type="submit"],
a.dokan-btn-theme,
.dokan-btn-theme {
  color: #fff; }

ul.subsubsub,
ul.order-statuses-filter {
  padding: 0; }
  ul.subsubsub li a,
  ul.order-statuses-filter li a {
    color: #3d3d3d;
    font-size: 15px; }

.dokan-product-edit .product-edit-new-container .dokan-attribute-variation-options .dokan-product-attribute-wrapper ul {
  margin-bottom: 1em; }

.dokan-product-edit .dokan-product-edit-area .dokan-edit-sidebar .dokan-btn-theme {
  width: 100%;
  margin-bottom: 10px; }

.dokan-product-edit .dokan-product-edit-area .dokan-edit-sidebar .dokan-label-success {
  font-weight: 400; }

.dokan-product-edit .btn-danger {
  padding: 2px 10px; }

.dokan-product-listing-area .pagination-wrap ul.pagination,
.dokan-product-listing-area .pagination-wrap ul.dokan-pagination,
.dokan-product-listing-area .dokan-pagination-container ul.pagination,
.dokan-product-listing-area .dokan-pagination-container ul.dokan-pagination,
.store-page-wrap .pagination-wrap ul.pagination,
.store-page-wrap .pagination-wrap ul.dokan-pagination,
.store-page-wrap .dokan-pagination-container ul.pagination,
.store-page-wrap .dokan-pagination-container ul.dokan-pagination {
  margin: 17px 0;
  display: inline-block;
  padding-left: 0; }
  .dokan-product-listing-area .pagination-wrap ul.pagination li,
  .dokan-product-listing-area .pagination-wrap ul.dokan-pagination li,
  .dokan-product-listing-area .dokan-pagination-container ul.pagination li,
  .dokan-product-listing-area .dokan-pagination-container ul.dokan-pagination li,
  .store-page-wrap .pagination-wrap ul.pagination li,
  .store-page-wrap .pagination-wrap ul.dokan-pagination li,
  .store-page-wrap .dokan-pagination-container ul.pagination li,
  .store-page-wrap .dokan-pagination-container ul.dokan-pagination li {
    display: inline; }
    .dokan-product-listing-area .pagination-wrap ul.pagination li:hover a, .dokan-product-listing-area .pagination-wrap ul.pagination li.current a,
    .dokan-product-listing-area .pagination-wrap ul.dokan-pagination li:hover a,
    .dokan-product-listing-area .pagination-wrap ul.dokan-pagination li.current a,
    .dokan-product-listing-area .dokan-pagination-container ul.pagination li:hover a,
    .dokan-product-listing-area .dokan-pagination-container ul.pagination li.current a,
    .dokan-product-listing-area .dokan-pagination-container ul.dokan-pagination li:hover a,
    .dokan-product-listing-area .dokan-pagination-container ul.dokan-pagination li.current a,
    .store-page-wrap .pagination-wrap ul.pagination li:hover a,
    .store-page-wrap .pagination-wrap ul.pagination li.current a,
    .store-page-wrap .pagination-wrap ul.dokan-pagination li:hover a,
    .store-page-wrap .pagination-wrap ul.dokan-pagination li.current a,
    .store-page-wrap .dokan-pagination-container ul.pagination li:hover a,
    .store-page-wrap .dokan-pagination-container ul.pagination li.current a,
    .store-page-wrap .dokan-pagination-container ul.dokan-pagination li:hover a,
    .store-page-wrap .dokan-pagination-container ul.dokan-pagination li.current a {
      background-color: #fff; }
    .dokan-product-listing-area .pagination-wrap ul.pagination li .current,
    .dokan-product-listing-area .pagination-wrap ul.dokan-pagination li .current,
    .dokan-product-listing-area .dokan-pagination-container ul.pagination li .current,
    .dokan-product-listing-area .dokan-pagination-container ul.dokan-pagination li .current,
    .store-page-wrap .pagination-wrap ul.pagination li .current,
    .store-page-wrap .pagination-wrap ul.dokan-pagination li .current,
    .store-page-wrap .dokan-pagination-container ul.pagination li .current,
    .store-page-wrap .dokan-pagination-container ul.dokan-pagination li .current {
      background: transparent; }
    .dokan-product-listing-area .pagination-wrap ul.pagination li.active a,
    .dokan-product-listing-area .pagination-wrap ul.dokan-pagination li.active a,
    .dokan-product-listing-area .dokan-pagination-container ul.pagination li.active a,
    .dokan-product-listing-area .dokan-pagination-container ul.dokan-pagination li.active a,
    .store-page-wrap .pagination-wrap ul.pagination li.active a,
    .store-page-wrap .pagination-wrap ul.dokan-pagination li.active a,
    .store-page-wrap .dokan-pagination-container ul.pagination li.active a,
    .store-page-wrap .dokan-pagination-container ul.dokan-pagination li.active a {
      background: transparent; }
  .dokan-product-listing-area .pagination-wrap ul.pagination a, .dokan-product-listing-area .pagination-wrap ul.pagination span,
  .dokan-product-listing-area .pagination-wrap ul.dokan-pagination a,
  .dokan-product-listing-area .pagination-wrap ul.dokan-pagination span,
  .dokan-product-listing-area .dokan-pagination-container ul.pagination a,
  .dokan-product-listing-area .dokan-pagination-container ul.pagination span,
  .dokan-product-listing-area .dokan-pagination-container ul.dokan-pagination a,
  .dokan-product-listing-area .dokan-pagination-container ul.dokan-pagination span,
  .store-page-wrap .pagination-wrap ul.pagination a,
  .store-page-wrap .pagination-wrap ul.pagination span,
  .store-page-wrap .pagination-wrap ul.dokan-pagination a,
  .store-page-wrap .pagination-wrap ul.dokan-pagination span,
  .store-page-wrap .dokan-pagination-container ul.pagination a,
  .store-page-wrap .dokan-pagination-container ul.pagination span,
  .store-page-wrap .dokan-pagination-container ul.dokan-pagination a,
  .store-page-wrap .dokan-pagination-container ul.dokan-pagination span {
    position: relative;
    float: left;
    border: 1px solid #e0dfdf;
    color: #3D3D3D !important;
    border-radius: 0 !important;
    padding: 9px 17px !important;
    font-size: 18px;
    margin: 0 4px 0 0;
    font-weight: 400; }

.dokan-theme-mediacenter .woocommerce-tabs .panel ul {
  margin: 0; }
  .dokan-theme-mediacenter .woocommerce-tabs .panel ul > li span.seller-rating {
    float: left;
    display: block;
    margin: 5px 0; }
  .dokan-theme-mediacenter .woocommerce-tabs .panel ul > li span.text {
    display: none; }

ul.dokan-seller-wrap {
  margin-left: -15px;
  margin-right: -15px;
  padding: 0; }
  ul.dokan-seller-wrap::after {
    clear: both;
    content: "";
    display: table; }
  ul.dokan-seller-wrap li.dokan-single-seller {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 1200px) {
      ul.dokan-seller-wrap li.dokan-single-seller {
        float: left;
        width: 25%; } }
    @media (min-width: 992px) {
      ul.dokan-seller-wrap li.dokan-single-seller {
        float: left;
        width: 25%; } }
    @media (min-width: 768px) {
      ul.dokan-seller-wrap li.dokan-single-seller {
        float: left;
        width: 25%; } }
    ul.dokan-seller-wrap li.dokan-single-seller:nth-child(2n+1) {
      margin-right: 0;
      clear: none; }
    ul.dokan-seller-wrap li.dokan-single-seller .dokan-store-caption h3 a {
      color: #1257ab; }

.dokan-single-store .dokan-store-tabs ul {
  border-width: 1px; }

/*===================================================================================*/
/*	RESPONSIVE XS SCREEN
/*===================================================================================*/
@media (max-width: 767px) {
  .dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.big-counter li {
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    margin: 0; }
    .dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.big-counter li .title {
      border-bottom: none;
      margin-bottom: 0; }
    .dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.big-counter li .count {
      padding-bottom: 10px; }
  table.product-listing-table thead,
  table.dokan-table thead {
    display: none; }
  table.product-listing-table tbody tr td,
  table.dokan-table tbody tr td {
    display: block; } }
