/* =Custom Font
-------------------------------------------------------------- */
@font-face {
  font-family: 'star';
  src: url("fonts/star.eot");
  src: url("fonts/star.eot?#iefix") format("embedded-opentype"), url("fonts/star.woff") format("woff"), url("fonts/star.ttf") format("truetype"), url("fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'WooCommerce';
  src: url("fonts/WooCommerce.eot");
  src: url("fonts/WooCommerce.eot?#iefix") format("embedded-opentype"), url("fonts/WooCommerce.woff") format("woff"), url("fonts/WooCommerce.ttf") format("truetype"), url("fonts/WooCommerce.svg#WooCommerce") format("svg");
  font-weight: normal;
  font-style: normal; }

.center-block-parent {
  text-align: center; }
  .center-block-parent:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */ }

.center-block-child {
  display: inline-block;
  vertical-align: middle; }

.checkout-page-title, html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-Checkout-blockTitle,
html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout table.ecwid-Checkout-blockTitle div.gwt-Label,
html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout table.ecwid-Checkout-blockTitle div.gwt-HTML {
  color: #434343;
  font-size: 28px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e0e0e0;
  line-height: 50px;
  font-weight: normal;
  padding: 0 0 14px 0; }

.product-item-title {
  line-height: 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 19.5px;
  color: #1257ab; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

/*===================================================================================*/
/*  Helper
/*===================================================================================*/
.light-bg {
  background-color: #f8f8f8; }

.inner {
  padding-top: 75px;
  padding-bottom: 75px; }

.m-t-0 {
  margin-top: 0 !important; }

.m-t-35 {
  margin-top: 35px !important; }

.semi-bold {
  font-weight: 600 !important; }

.title-color {
  color: #434343 !important; }

.content-color {
  color: #747474 !important; }

.bold {
  font-weight: 700 !important; }

.auto-width {
  width: auto !important; }

.center-block {
  float: none; }

.inner {
  padding-top: 120px;
  padding-bottom: 120px; }

.inner-md {
  padding-top: 100px;
  padding-bottom: 100px; }

.inner-sm {
  padding-top: 80px;
  padding-bottom: 80px; }

.inner-xs {
  padding-top: 40px;
  padding-bottom: 40px; }

.inner-top {
  padding-top: 120px; }

.inner-top-md {
  padding-top: 100px; }

.inner-top-sm {
  padding-top: 80px; }

.inner-top-xs {
  padding-top: 40px; }

.inner-bottom {
  padding-bottom: 120px; }

.inner-bottom-md {
  padding-bottom: 100px; }

.inner-bottom-sm {
  padding-bottom: 80px; }

.inner-bottom-xs {
  padding-bottom: 40px; }

.inner-left {
  padding-left: 75px; }

.inner-left-md {
  padding-left: 60px; }

.inner-left-sm {
  padding-left: 45px; }

.inner-left-xs {
  padding-left: 30px; }

.inner-right {
  padding-right: 75px; }

.inner-right-md {
  padding-right: 60px; }

.inner-right-sm {
  padding-right: 45px; }

.inner-right-xs {
  padding-right: 30px; }

.outer {
  margin-top: 120px;
  margin-bottom: 120px; }

.outer-md {
  margin-top: 100px;
  margin-bottom: 100px; }

.outer-sm {
  margin-top: 80px;
  margin-bottom: 80px; }

.outer-xs {
  margin-top: 40px;
  margin-bottom: 40px; }

.outer-top {
  margin-top: 120px; }

.outer-top-md {
  margin-top: 100px; }

.outer-top-sm {
  margin-top: 80px; }

.outer-top-xs {
  margin-top: 40px; }

.outer-bottom {
  margin-bottom: 120px; }

.outer-bottom-md {
  margin-bottom: 100px; }

.outer-bottom-sm {
  margin-bottom: 80px; }

.outer-bottom-xs {
  margin-bottom: 40px; }

@media (max-width: 767px) {
  .inner {
    padding-top: 80px;
    padding-bottom: 80px; }
  .inner-md {
    padding-top: 65px;
    padding-bottom: 65px; }
  .inner-sm {
    padding-top: 50px;
    padding-bottom: 50px; }
  .inner-xs {
    padding-top: 40px;
    padding-bottom: 40px; }
  .inner-top {
    padding-top: 80px; }
  .inner-top-md {
    padding-top: 65px; }
  .inner-top-sm {
    padding-top: 50px; }
  .inner-top-xs {
    padding-top: 40px; }
  .inner-bottom {
    padding-bottom: 80px; }
  .inner-bottom-md {
    padding-bottom: 65px; }
  .inner-bottom-sm {
    padding-bottom: 50px; }
  .inner-bottom-xs {
    padding-bottom: 40px; } }

.ft-22, .ft-22 .amount {
  font-size: 22px !important; }

.ft-20, .ft-20 .amount {
  font-size: 20px !important; }

.ft-18, .ft-18 .amount {
  font-size: 18px !important; }

.ft-16, .ft-16 .amount {
  font-size: 16px !important; }

.ft-14, .ft-14 .amount {
  font-size: 14px !important; }

.ft-12, .ft-12 .amount {
  font-size: 12px !important; }

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 {
  border-spacing: 0 !important; }
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 td.ecwid-productBrowser-productsGrid-cell {
    padding: 0 34.5px !important; }
    html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 td.ecwid-productBrowser-productsGrid-cell table img {
      max-width: 100% !important;
      display: block;
      height: auto !important; }
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 div.ecwid-productBrowser-productNameLink.ecwid-singleLine,
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 div.ecwid-productBrowser-productNameLink.ecwid-multiLine {
    text-align: left !important;
    margin: 20px 0 0;
    height: 83px; }
    html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 div.ecwid-productBrowser-productNameLink.ecwid-singleLine:hover a, html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 div.ecwid-productBrowser-productNameLink.ecwid-singleLine:focus a,
    html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 div.ecwid-productBrowser-productNameLink.ecwid-multiLine:hover a,
    html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 div.ecwid-productBrowser-productNameLink.ecwid-multiLine:focus a {
      color: #1257ab !important; }
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 div.ecwid-productBrowser-productsGrid-productCostFragment {
    border-top: 1px solid #ececec;
    padding: 9px 0 !important;
    text-align: right !important; }
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 td.ecwid-productBrowser-productsGrid-cellTop,
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 td.ecwid-productBrowser-productsGrid-cellMiddle,
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 td.ecwid-productBrowser-productsGrid-cellBottom {
    border: 1px solid #e0e0e0 !important;
    border-right: none !important;
    border-bottom: none !important; }
    html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 td.ecwid-productBrowser-productsGrid-cellTop:last-child,
    html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 td.ecwid-productBrowser-productsGrid-cellMiddle:last-child,
    html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 td.ecwid-productBrowser-productsGrid-cellBottom:last-child {
      border-right: 1px solid #e0e0e0 !important; }
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 td.ecwid-productBrowser-productsGrid-cellMiddle,
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 td.ecwid-productBrowser-productsGrid-cellBottom {
    border-top: none !important; }
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 tr:last-child td {
    border-bottom: 1px solid #e0e0e0 !important; }
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 table.ecwid-productBrowser-productsGrid-productTopFragment-inner tr:last-child td {
    border-bottom: none !important; }
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 div.ecwid-productBrowser-productsGrid-productTopFragment tr:last-child td {
    border-bottom: none !important; }
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 div.ecwid-productBrowser-productsGrid-productBottomFragment {
    padding: 0 5px 50px !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-productTopFragment {
  padding-top: 25px !important; }

html#ecwid_html body#ecwid_body td.ecwid-productBrowser-productsGrid-cellSpace {
  height: 0 !important; }

html#ecwid_html body#ecwid_body table.ecwid-productBrowser-productsGrid-mainTable {
  margin: 0 !important; }

html#ecwid_html body#ecwid_body .ecwid-responsive div.ecwid-productBrowser-details-descr img,
html#ecwid_html body#ecwid_body .ecwid-responsive div.ecwid-productBrowser-categoryDescription img {
  max-width: 100% !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-category {
  padding-top: 0 !important; }

html#ecwid_html body#ecwid_body div.ecwid-favorite-view {
  background: transparent !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser {
  padding: 0 !important; }

html#ecwid_html body#ecwid_body div.ecwid-favorite-quantity-view {
  color: #747474 !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productNameLink a,
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productNameLink a:active,
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productNameLink a:visited {
  font-size: 15px !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productsGrid-inTheBagTick {
  left: 0 !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-relatedProducts .ecwid-productBrowser-productNameLink {
  text-align: left !important;
  color: #1257ab;
  font-size: 15px !important;
  font-weight: 700;
  line-height: 19.5px;
  height: 60px; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-relatedProducts .ecwid-productBrowser-relatedProducts-title {
  color: #434343;
  font-size: 28px !important;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 12px;
  padding-bottom: 14px !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-relatedProducts .ecwid-productBrowser-relatedProducts-item-top,
html#ecwid_html body#ecwid_body .ecwid-productBrowser-relatedProducts .ecwid-productBrowser-relatedProducts-item-bottom {
  border: 1px solid #e0e0e0 !important;
  margin: 0 !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-relatedProducts .ecwid-productBrowser-relatedProducts-item-top {
  border-bottom: none !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-relatedProducts .ecwid-productBrowser-relatedProducts-item-bottom {
  border-top: none !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-bottom: 5px !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-details .ecwid-productBrowser-relatedProducts .ecwid-productBrowser-price {
  border-top: 1px solid #ececec;
  padding: 9px 0 !important;
  text-align: right !important;
  color: #28124a;
  font-size: 18px !important;
  font-weight: 700; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-details .ecwid-productBrowser-relatedProducts div.ecwid-productBrowser-price {
  margin: 0 !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-relatedProducts .ecwid-productBrowser-relatedProducts-prev {
  margin-left: -4px !important;
  margin-right: 20px; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-relatedProducts .ecwid-productBrowser-relatedProducts-next {
  margin-right: -4px !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-relatedProducts .ecwid-productBrowser-sku {
  display: none; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-categoryPath {
  font-size: 12px !important;
  font-weight: 600 !important;
  padding-top: 0 !important; }
  html#ecwid_html body#ecwid_body div.ecwid-productBrowser-categoryPath a {
    font-size: 12px !important;
    font-weight: 600 !important; }

html#ecwid_html body#ecwid_body .ecwid-fieldEnvelope .ecwid-fieldEnvelope-around input.ecwid-productBrowser-details-qtyTextField {
  background-color: #fff !important;
  border: 1px solid #e0e0e0 !important;
  border-radius: 5px !important;
  text-align: center !important;
  padding: 10px !important;
  color: #3d3d3d !important;
  transition: all 0.3s ease;
  text-align: center !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-details div.ecwid-productBrowser-price {
  color: #28124A !important;
  font-weight: 700 !important;
  margin: 20px 0 !important;
  font-size: 40px !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-details-inTheBag div {
  color: #3d3d3d !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-details-outOfStockLabel {
  color: #FF0000 !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-details-descr p {
  margin: 22px 0 !important;
  color: #747474 !important;
  font-size: 16px !important;
  line-height: 28px !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-details-descr h1, html#ecwid_html body#ecwid_body div.ecwid-productBrowser-details-descr h2, html#ecwid_html body#ecwid_body div.ecwid-productBrowser-details-descr h3 {
  font-weight: 700 !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-details-descr h4, html#ecwid_html body#ecwid_body div.ecwid-productBrowser-details-descr h5, html#ecwid_html body#ecwid_body div.ecwid-productBrowser-details-descr h6 {
  font-weight: 600 !important; }

html#ecwid_html body#ecwid_body.chameleon div.ecwid-productBrowser-subcategories-categoryName {
  color: #1257ab !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  line-height: 19.5px;
  margin-top: 0 !important;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-top: none !important; }

html#ecwid_html body#ecwid_body.chameleon table.ecwid-productBrowser-subcategories-mainTable {
  margin: 20px 0; }
  html#ecwid_html body#ecwid_body.chameleon table.ecwid-productBrowser-subcategories-mainTable td[align="center"] .ecwid-imgLoaded {
    display: block !important;
    border: 1px solid #e0e0e0;
    border-bottom: none !important; }

html#ecwid_html body#ecwid_body.chameleon div.ecwid-productBrowser-categoryPath {
  margin-bottom: 20px; }

html#ecwid_html body#ecwid_body div.ecwid-pager-hasTopSeparator {
  border-top: none !important; }

html#ecwid_html div.ecwid-pager {
  padding-top: 15px !important;
  margin-top: 15px !important; }
  html#ecwid_html div.ecwid-pager span.ecwid-pager-link {
    position: relative;
    float: left;
    border: 1px solid #e0dfdf !important;
    color: #3D3D3D !important;
    border-radius: 0 !important;
    padding: 9px 17px !important;
    font-size: 18px;
    margin: 0 4px 0 0 !important; }
  html#ecwid_html div.ecwid-pager span.ecwid-pager-link-enabled span {
    text-decoration: none !important; }
  html#ecwid_html div.ecwid-pager span.gwt-InlineLabel {
    display: none; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsList-v2 {
  position: relative !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productsList {
  padding: 0 !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productsList-thumbnail {
  padding: 25px 0 25px 25px !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productsList-details {
  padding: 25px 25px 25px 0 !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productsList-details div.ecwid-productBrowser-sku {
  font-size: 12px !important;
  color: #4f4f4f !important;
  line-height: 17.26px;
  text-transform: uppercase;
  padding: 5px 0 !important;
  border-bottom: 1px solid #e0e0e0; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productsList-descr {
  margin-top: 10px !important; }

html#ecwid_html body#ecwid_body td.ecwid-productBrowser-productsList-thumbnailCell,
html#ecwid_html body#ecwid_body td.ecwid-productBrowser-productsList-detailsCell,
html#ecwid_html body#ecwid_body td.ecwid-productBrowser-productsList-inTheBagTickCell {
  border: 1px solid #e0e0e0 !important;
  border-bottom: none !important; }

html#ecwid_html body#ecwid_body td.ecwid-productBrowser-productsList-inTheBagTickCell {
  border-left: none !important;
  border-right: none !important; }

html#ecwid_html body#ecwid_body td.ecwid-productBrowser-productsList-detailsCell {
  border-left: none !important; }

html#ecwid_html body#ecwid_body td.ecwid-productBrowser-productsList-thumbnailCell {
  border-right: none !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsList-productRow:last-child td.ecwid-productBrowser-productsList-thumbnailCell,
html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsList-productRow:last-child td.ecwid-productBrowser-productsList-detailsCell,
html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsList-productRow:last-child td.ecwid-productBrowser-productsList-inTheBagTickCell {
  border-bottom: 1px solid #e0e0e0 !important; }

html#ecwid_html body#ecwid_body div.ecwid-results-topPanel {
  background-color: #F9F9F9 !important;
  border-radius: 5px;
  padding: 13px !important;
  margin-bottom: 25px !important; }
  html#ecwid_html body#ecwid_body div.ecwid-results-topPanel::after {
    clear: both;
    content: "";
    display: table; }
  html#ecwid_html body#ecwid_body div.ecwid-results-topPanel div {
    color: #5D5D5D !important;
    font-size: 13px !important; }
  html#ecwid_html body#ecwid_body div.ecwid-results-topPanel div.ecwid-results-topPanel-itemsCountLabel-cell {
    float: left; }
  html#ecwid_html body#ecwid_body div.ecwid-results-topPanel div.gwt-Label {
    display: none; }
  html#ecwid_html body#ecwid_body div.ecwid-results-topPanel div.ecwid-results-topPanel-viewAsPanel {
    padding-right: 0 !important; }
    html#ecwid_html body#ecwid_body div.ecwid-results-topPanel div.ecwid-results-topPanel-viewAsPanel div {
      margin-right: 23px; }
      html#ecwid_html body#ecwid_body div.ecwid-results-topPanel div.ecwid-results-topPanel-viewAsPanel div:before {
        font-size: 19px;
        vertical-align: middle;
        font-family: FontAwesome;
        font-weight: 400;
        margin-right: 5px;
        color: #ccc; }
      html#ecwid_html body#ecwid_body div.ecwid-results-topPanel div.ecwid-results-topPanel-viewAsPanel div:nth-child(2):before {
        content: "\f009"; }
      html#ecwid_html body#ecwid_body div.ecwid-results-topPanel div.ecwid-results-topPanel-viewAsPanel div:nth-child(3):before {
        content: "\f00b"; }
      html#ecwid_html body#ecwid_body div.ecwid-results-topPanel div.ecwid-results-topPanel-viewAsPanel div:last-child:before {
        content: "\f0ce"; }

html#ecwid_html body#ecwid_body select.gwt-ListBox {
  border-color: #ececec !important;
  border-radius: 0; }

html#ecwid_html body#ecwid_body.chameleon .ecwid-productBrowser-productsTable-table {
  width: 100% !important; }

html#ecwid_html body#ecwid_body.chameleon div.ecwid-productBrowser-productsTable {
  padding: 0 !important; }

html#ecwid_html body#ecwid_body.chameleon td.ecwid-productBrowser-productsTable-cellOdd {
  background: white !important; }

html#ecwid_html body#ecwid_body.chameleon td.ecwid-productBrowser-productsTable-cell {
  border: 1px solid #e0e0e0 !important; }

html#ecwid_html body#ecwid_body.chameleon div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-sku {
  color: #4f4f4f !important;
  font-size: 15px !important; }

html#ecwid_html body#ecwid_body.chameleon div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-productsTable-addToBagLink {
  border-radius: 4px;
  font-weight: bold;
  padding: 10px 20px;
  display: inline-block;
  line-height: 20px;
  border: none;
  font-size: 15px;
  color: #fff;
  transition: all 0.3s ease; }

html#ecwid_html body#ecwid_body .ecwid {
  font-size: 15px !important;
  color: #5D5D5D !important; }
  html#ecwid_html body#ecwid_body .ecwid a {
    font-size: 14px !important; }
  html#ecwid_html body#ecwid_body .ecwid .ecwid-btn--secondary {
    background: #e0e0e0 !important;
    border-radius: 4px !important;
    color: #3d3d3d !important;
    font-weight: 100;
    padding: 15px 34px !important;
    border: none !important;
    font-size: 15px !important;
    box-shadow: none !important; }
    html#ecwid_html body#ecwid_body .ecwid .ecwid-btn--secondary:hover {
      background: #ececec !important; }
    html#ecwid_html body#ecwid_body .ecwid .ecwid-btn--secondary.ecwid-btn--addMore, html#ecwid_html body#ecwid_body .ecwid .ecwid-btn--secondary.ecwid-btn--openBag {
      padding: 7px 10px !important;
      font-size: 13px !important; }
    html#ecwid_html body#ecwid_body .ecwid .ecwid-btn--secondary.ecwid-btn--secondary-inverse {
      background: transparent !important; }
    html#ecwid_html body#ecwid_body .ecwid .ecwid-btn--secondary.ecwid-btn--register_popup_button {
      color: #fff !important; }
  html#ecwid_html body#ecwid_body .ecwid .ecwid-btn--primary {
    padding: 15px 34px !important;
    border-radius: 4px !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    line-height: 20px !important;
    box-shadow: none !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-auth {
  text-align: left !important;
  margin: 10px 0 !important; }
  html#ecwid_html body#ecwid_body div.ecwid-productBrowser-auth a {
    color: #747474 !important; }

html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rollover {
  border: 1px solid #e0e0e0 !important; }

html#ecwid_html body#ecwid_body .ecwid-minicart-mini-overlay-count,
html#ecwid_html body#ecwid_body .ecwid-minicart-mini-items,
html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-total {
  color: #5D5D5D !important; }

html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-total {
  font-weight: 700 !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-head {
  color: #3d3d3d !important;
  font-size: 28px !important;
  font-weight: 500 !important;
  letter-spacing: -1px;
  line-height: 52px; }

html#ecwid_html body#ecwid_body .ecwid-reset-password-page .ecwid-productBrowser-head,
html#ecwid_html body#ecwid_body .ecwid-Checkout .ecwid-productBrowser-head {
  padding: 40px 0;
  color: #434343 !important;
  font-size: 40px !important;
  line-height: 50px;
  margin-bottom: 0 !important;
  text-align: left;
  float: none !important;
  margin-right: 0 !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsTable-v2 div.ecwid-productBrowser-productNameLink a,
html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsList-v2 div.ecwid-productBrowser-productNameLink a,
html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 div.ecwid-productBrowser-productNameLink a,
html#ecwid_html body#ecwid_body .ecwid-Invoice-itemsTable-cell div.ecwid-productBrowser-productNameLink a {
  display: inline-block;
  font-size: 15px !important;
  font-weight: 700 !important;
  line-height: 19.5px !important;
  width: 100% !important; }
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsTable-v2 div.ecwid-productBrowser-productNameLink a, html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsTable-v2 div.ecwid-productBrowser-productNameLink a:hover, html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsTable-v2 div.ecwid-productBrowser-productNameLink a:focus,
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsList-v2 div.ecwid-productBrowser-productNameLink a,
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsList-v2 div.ecwid-productBrowser-productNameLink a:hover,
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsList-v2 div.ecwid-productBrowser-productNameLink a:focus,
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 div.ecwid-productBrowser-productNameLink a,
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 div.ecwid-productBrowser-productNameLink a:hover,
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 div.ecwid-productBrowser-productNameLink a:focus,
  html#ecwid_html body#ecwid_body .ecwid-Invoice-itemsTable-cell div.ecwid-productBrowser-productNameLink a,
  html#ecwid_html body#ecwid_body .ecwid-Invoice-itemsTable-cell div.ecwid-productBrowser-productNameLink a:hover,
  html#ecwid_html body#ecwid_body .ecwid-Invoice-itemsTable-cell div.ecwid-productBrowser-productNameLink a:focus {
    color: #1257ab !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productNameLink a,
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productNameLink a:active,
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productNameLink a:visited {
  text-decoration: none !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-sku,
html#ecwid_html body#ecwid_body span.ecwid-productBrowser-cart-weight,
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-optionsList,
html#ecwid_html body#ecwid_body div.ecwid-Invoice-optionsList {
  color: #3d3d3d !important;
  font-size: 14px; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-price {
  color: #28124a !important;
  font-weight: 700 !important;
  font-size: 18px !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-backgroundedPanel {
  background: #F9F9F9 !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsList-productRow,
html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-cellTop,
html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-cellMiddle,
html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-cellBottom {
  position: relative !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsList-separatorRow,
html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-label {
  position: relative !important; }
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsList-separatorRow div.ecwid-productBrowser-productDragLabel,
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsList-separatorRow div.ecwid-productBrowser-productDragLabel-invisible,
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-label div.ecwid-productBrowser-productDragLabel,
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-label div.ecwid-productBrowser-productDragLabel-invisible {
    position: absolute !important;
    display: block !important;
    width: 100%;
    transition: all 0.3s ease;
    right: 8px !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-label div.ecwid-productBrowser-productDragLabel,
html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-label div.ecwid-productBrowser-productDragLabel-invisible {
  top: 4px !important; }

html#ecwid_html body#ecwid_body label.ecwid-fieldLabel,
html#ecwid_html body#ecwid_body .ecwid-reset-password-page-textbox-note {
  display: inline-block;
  width: 100% !important;
  float: none !important;
  color: #747474 !important;
  font-size: 16px !important;
  line-height: 28px;
  font-weight: 700 !important;
  margin-top: 0 !important;
  margin-bottom: 5px !important; }

html#ecwid_html body#ecwid_body .ecwid-fieldEnvelope .ecwid-fieldEnvelope-around input,
html#ecwid_html body#ecwid_body .ecwid-fieldEnvelope .ecwid-fieldEnvelope-around textarea,
html#ecwid_html body#ecwid_body .ecwid-FormPopup-fieldWrapper input,
html#ecwid_html body#ecwid_body .ecwid-FormPopup-fieldWrapper textarea {
  border-radius: 3px !important;
  background-color: #ececec !important;
  border: 1px solid transparent !important;
  color: #3d3d3d !important;
  padding: 10px !important;
  transition: all 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html#ecwid_html body#ecwid_body .ecwid-fieldEnvelope .ecwid-fieldEnvelope-around select,
html#ecwid_html body#ecwid_body .ecwid-FormPopup-fieldWrapper select {
  border-radius: 3px !important;
  background-color: #ececec !important;
  border: 1px solid transparent !important;
  min-height: 45px !important;
  height: 45px; }

html#ecwid_html body#ecwid_body span.gwt-RadioButton input {
  width: auto !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser.ecwid-productBrowser-CartPage div.ecwid-productBrowser-head {
  font-size: 34px !important;
  font-weight: 400 !important;
  color: #434343 !important;
  padding: 40px 0;
  text-align: center; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser.ecwid-productBrowser-CartPage div.ecwid-productBrowser-productNameLink a {
  color: #0e53a5 !important;
  font-weight: 400 !important;
  line-height: 15px !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser.ecwid-productBrowser-CartPage .ecwid-productBrowser-price {
  font-weight: 400 !important;
  padding: 2px 15px 0px; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser.ecwid-productBrowser-CartPage .ecwid-productBrowser-cart-qtyTextField-multiplication {
  padding-top: 0px;
  font-weight: 400 !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser.ecwid-productBrowser-CartPage .ecwid-productBrowser-cart-removeItemButton {
  top: -6px !important;
  right: -10px !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser.ecwid-productBrowser-CartPage .ecwid-productBrowser-cart-qtyTextField {
  background-color: transparent !important;
  border: 1px solid #e0e0e0 !important;
  border-radius: 5px !important;
  text-align: center !important;
  padding: 5px !important;
  /*10px*/
  color: #3d3d3d !important;
  transition: all 0.3s ease; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser.ecwid-productBrowser-CartPage .ecwid-productBrowser-cart-optionsList-name,
html#ecwid_html body#ecwid_body div.ecwid-productBrowser.ecwid-productBrowser-CartPage .ecwid-productBrowser-cart-weight {
  font-weight: 400 !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser.ecwid-productBrowser-CartPage div.ecwid-productBrowser-cart-optionsList {
  padding-top: 0 !important; }
  html#ecwid_html body#ecwid_body div.ecwid-productBrowser.ecwid-productBrowser-CartPage div.ecwid-productBrowser-cart-optionsList .ecwid-productBrowser-cart-optionsList-value {
    font-weight: 400 !important; }
  html#ecwid_html body#ecwid_body div.ecwid-productBrowser.ecwid-productBrowser-CartPage div.ecwid-productBrowser-cart-optionsList .ecwid-btn--secondary.ecwid-btn--changeOptions {
    padding: 5px 11px !important;
    font-size: 13px !important; }

html#ecwid_html body#ecwid_body table.ecwid-productBrowser-cart-itemsTable tr {
  margin-left: -15px;
  margin-right: -15px;
  position: relative; }
  html#ecwid_html body#ecwid_body table.ecwid-productBrowser-cart-itemsTable tr::after {
    clear: both;
    content: "";
    display: table; }

html#ecwid_html body#ecwid_body td.ecwid-productBrowser-cart-itemsTable-headerCell,
html#ecwid_html body#ecwid_body td.ecwid-Invoice-itemsTable-headerCell {
  color: #747474 !important;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 20px;
  padding: 15px 6px 0px !important;
  border-bottom: 1px solid #e0e0e0 !important;
  font-weight: 400 !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-cart-itemsTable-row-selected,
html#ecwid_html body#ecwid_body .ecwid-productBrowser-cart-itemsTable-cell-selected {
  border-bottom: none !important; }

html#ecwid_html body#ecwid_body td.ecwid-productBrowser-cart-itemsTable-cell {
  padding: 7px 0 15px !important;
  border-bottom: 1px solid #e0e0e0 !important; }
  html#ecwid_html body#ecwid_body td.ecwid-productBrowser-cart-itemsTable-cell.ecwid-productBrowser-cart-itemsTable-cell-thumbnail {
    padding-right: 15px !important; }
  html#ecwid_html body#ecwid_body td.ecwid-productBrowser-cart-itemsTable-cell.ecwid-productBrowser-cart-itemsTable-cell-price, html#ecwid_html body#ecwid_body td.ecwid-productBrowser-cart-itemsTable-cell.ecwid-productBrowser-cart-itemsTable-cell-subtotal {
    text-align: center !important; }

html#ecwid_html body#ecwid_body td.ecwid-Invoice-itemsTable-cell-thumbnail img,
html#ecwid_html body#ecwid_body td.ecwid-productBrowser-cart-itemsTable-cell img {
  border: 1px solid #E0E0E0 !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-EnterCouponBox {
  margin: 0px !important;
  padding: 12px 18px !important;
  background-color: #f4f4f4 !important; }
  html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-EnterCouponBox div.ecwid-productBrowser-cart-EnterCouponBox-couponCodeLabel {
    color: #3d3d3d !important;
    font-size: 14px !important;
    line-height: 40px !important;
    vertical-align: middle !important;
    font-weight: 400; }
  html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-EnterCouponBox .ecwid-productBrowser-cart-EnterCouponBox-couponPanelControls .ecwid-fieldEnvelope-around {
    padding: 0px; }
  html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-EnterCouponBox .gwt-TextBox {
    background-color: #ececec !important;
    border: medium none;
    border-radius: 5px 0 0 5px !important;
    color: #3d3d3d !important;
    font-size: 13px;
    line-height: 20px;
    padding: 13px 14px !important;
    /*15px 14px;*/
    width: 200px !important; }

html#ecwid_html body#ecwid_body .ecwid-btn.ecwid-btn--secondary.ecwid-btn--apply {
  border-radius: 0 5px 5px 0 !important;
  margin-left: -5px;
  padding: 14px 34px !important;
  /*15px 14px;*/
  color: #fff !important;
  font-size: 15px;
  font-weight: 400;
  border: none !important;
  line-height: 16px; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-subtotalLabel,
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-shippingLabel,
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-taxLabel,
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-totalLabel {
  color: #434343 !important;
  font-size: 14px !important;
  text-transform: uppercase;
  line-height: 16px !important;
  font-weight: 400; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-totalLabel {
  font-size: 20px !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-backgroundedPanelInner,
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-subtotalAmount,
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-subtotalAmountMinus,
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-shippingAmount,
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-taxAmount {
  color: #301c53 !important;
  font-weight: 400 !important;
  line-height: 16px !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-cart,
html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-totalAmount {
  color: #301c53 !important;
  font-weight: 400 !important;
  line-height: 25px !important;
  font-size: 20px !important; }

html#ecwid_html body#ecwid_body table.ecwid-productBrowser-cart-totalAmountPanel td {
  padding: 24px 0 !important; }
  html#ecwid_html body#ecwid_body table.ecwid-productBrowser-cart-totalAmountPanel td .ecwid-productBrowser-cart-totalLabel {
    line-height: 25px !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-termsCheckbox {
  color: #5D5D5D !important; }
  html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-termsCheckbox a, html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-termsCheckbox label {
    font-weight: 400;
    font-size: 12px !important; }
  html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-termsCheckbox label {
    color: #000 !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-cart .ecwid-btn--secondary {
  padding: 10px 40px !important;
  font-size: 13px !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-cart-estimationNote {
  font-size: 12px !important; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-cart-termsCheckbox.ecwid-productBrowser-cart-termsCheckbox-rollover {
  opacity: 1; }
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-cart-termsCheckbox.ecwid-productBrowser-cart-termsCheckbox-rollover a, html#ecwid_html body#ecwid_body .ecwid-productBrowser-cart-termsCheckbox.ecwid-productBrowser-cart-termsCheckbox-rollover label {
    color: #000 !important; }

html#ecwid_html body#ecwid_body .ecwid-btn--primary.ecwid-btn--checkout {
  padding: 10px 40px !important;
  border-radius: 4px !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  line-height: 20px !important;
  box-shadow: none !important;
  font-weight: 400 !important; }
  html#ecwid_html body#ecwid_body .ecwid-btn--primary.ecwid-btn--checkout:focus:hover {
    border-color: none; }

html#ecwid_html body#ecwid_body .ecwid-btn--primary:focus, html#ecwid_html body#ecwid_body .ecwid-btn--primary:hover,
html#ecwid_html body#ecwid_body .ecwid-btn--primary:visited html#ecwid_html body#ecwid_body .ecwid-btn--primary:active {
  border-color: transparent !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-cart-chooseLocationPopup-deliveryMethodLabel {
  color: #3d3d3d !important; }

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .section-page-title,
html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-categories,
html#ecwid_html body#ecwid_body.ecwid-shopping-cart td .ecwid-minicart-mini,
html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-shopping-cart-search,
html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-productBrowser-auth {
  display: none; }

html#ecwid_html body#ecwid_body.ecwid-shopping-cart .ecwid-minicart-mini-rolloverContainer + .ecwid-minicart-mini-rolloverContainer .ecwid-minicart-mini-rollover {
  display: none !important; }

html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-Checkout-blockTitle,
html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout table.ecwid-Checkout-blockTitle div.gwt-Label,
html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout table.ecwid-Checkout-blockTitle div.gwt-HTML {
  max-width: 100% !important; }

html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout table.ecwid-Checkout-blockTitle,
html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout table.ecwid-fullWidth.ecwid-AddressForm-name-envelope {
  width: 100% !important;
  max-width: 100% !important; }

html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout table.ecwid-Checkout-blockTitle {
  margin: 30px 0 15px !important; }

html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout .ecwid-btn--secondary.ecwid-btn--address_book_sign_in {
  margin: 0 !important;
  padding: 6px 11px !important;
  font-size: 11px !important; }

html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-floatLeftPanel {
  width: 100%;
  margin-right: 0 !important; }

html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-AddressForm div.ecwid-form {
  padding: 0 !important;
  width: 100% !important;
  background: transparent !important; }

html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-fieldWrapper {
  margin-bottom: 20px; }
  html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-fieldWrapper table {
    width: 100% !important; }

html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout table.ecwid-AddressForm-state select,
html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout table.ecwid-AddressForm-country select {
  width: 100% !important; }

html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-AddressForm-secureLockIcon {
  bottom: 0px !important;
  right: 0px !important; }

html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout .ecwid-floatLeftPanel.ecwid-Checkout-DeliveryMethod table,
html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout .ecwid-floatLeftPanel.ecwid-Checkout-DeliveryMethod div.ecwid-form,
html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-Checkout-EmailBlock table,
html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-Checkout-EmailBlock div.ecwid-form,
html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-Checkout-PasswordBlock table,
html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-Checkout-PasswordBlock div.ecwid-form {
  width: 100% !important; }

html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout .ecwid-floatLeftPanel.ecwid-Checkout-DeliveryMethod div.ecwid-form,
html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-Checkout-EmailBlock div.ecwid-form,
html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-Checkout-PasswordBlock div.ecwid-form {
  padding: 30px !important;
  background: #f6f6f6 !important; }
  html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout .ecwid-floatLeftPanel.ecwid-Checkout-DeliveryMethod div.ecwid-form input.gwt-TextBox,
  html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout .ecwid-floatLeftPanel.ecwid-Checkout-DeliveryMethod div.ecwid-form input.gwt-PasswordTextBox,
  html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-Checkout-EmailBlock div.ecwid-form input.gwt-TextBox,
  html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-Checkout-EmailBlock div.ecwid-form input.gwt-PasswordTextBox,
  html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-Checkout-PasswordBlock div.ecwid-form input.gwt-TextBox,
  html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-Checkout-PasswordBlock div.ecwid-form input.gwt-PasswordTextBox {
    width: 100% !important; }

html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-Checkout-PasswordBlock-tip {
  color: #3d3d3d !important; }

html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-AddressForm td[align="center"] {
  text-align: left !important; }

html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-AddressForm .ecwid-btn--secondary-inverse {
  padding: 15px 0 !important;
  border: none !important;
  box-shadow: none; }
  html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-AddressForm .ecwid-btn--secondary-inverse td {
    color: #3d3d3d !important;
    font-size: 14px !important;
    font-weight: 700; }

html#ecwid_html body#ecwid_body .ecwid-Checkout > .ecwid-productBrowser-head-panel + div > div > div {
  display: flex !important; }

html#ecwid_html body#ecwid_body .ecwid-Checkout .ecwid-Checkout-ShippingAddress {
  padding-right: 20px;
  width: 100%; }
  html#ecwid_html body#ecwid_body .ecwid-Checkout .ecwid-Checkout-ShippingAddress .ecwid-Checkout-blockTitle td > div {
    display: flex;
    align-items: center; }
  html#ecwid_html body#ecwid_body .ecwid-Checkout .ecwid-Checkout-ShippingAddress form .ecwid-AddressForm-fields {
    padding: 20px 15px; }
    html#ecwid_html body#ecwid_body .ecwid-Checkout .ecwid-Checkout-ShippingAddress form .ecwid-AddressForm-fields .ecwid-fieldWrapper {
      display: flex;
      margin-bottom: 3px; }
      html#ecwid_html body#ecwid_body .ecwid-Checkout .ecwid-Checkout-ShippingAddress form .ecwid-AddressForm-fields .ecwid-fieldWrapper .ecwid-fieldLabel {
        width: 210px !important;
        font-weight: 400 !important;
        font-size: 14px !important; }
      html#ecwid_html body#ecwid_body .ecwid-Checkout .ecwid-Checkout-ShippingAddress form .ecwid-AddressForm-fields .ecwid-fieldWrapper > table {
        width: 68.5% !important; }

html#ecwid_html body#ecwid_body .ecwid-Checkout .ecwid-Checkout-DeliveryMethod {
  width: 60% !important; }

html#ecwid_html body#ecwid_body .ecwid-Checkout .ecwid-productBrowser-head {
  font-size: 25px !important;
  padding: 0px !important;
  line-height: 1 !important;
  font-weight: 400 !important; }

html#ecwid_html body#ecwid_body .ecwid-Checkout .gwt-HTML {
  font-size: 18px !important;
  border-bottom: none !important;
  padding: 0px !important;
  margin-bottom: 0px !important;
  margin-bottom: 1px !important;
  line-height: 1 !important; }

html#ecwid_html body#ecwid_body .ecwid-Checkout .ecwid-Checkout-DeliveryMethod .gwt-HTML {
  margin-bottom: 24px !important; }

html#ecwid_html body#ecwid_body .ecwid-Checkout .ecwid-Checkout-DeliveryMethod .ecwid-AccentedContinueButton .ecwid-btn--primary {
  font-weight: 400 !important; }

html#ecwid_html body#ecwid_body .ecwid-Checkout .ecwid-Checkout-ShippingAddress-container {
  background-color: #f6f6f6 !important; }

html#ecwid_html body#ecwid_body .ecwid-Checkout .ecwid-shippingOption label,
html#ecwid_html body#ecwid_body .ecwid-Checkout .ecwid-shippingOption .ecwid-shippingOption-rate {
  font-weight: 400; }

html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-PaymentMethodSelector {
  padding-right: 20px;
  width: 75% !important; }
  html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-PaymentMethodSelector .ecwid-productBrowser-head {
    font-size: 22px !important; }
  html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-PaymentMethodSelector div.ecwid-Checkout-blockTitle {
    font-size: 20px !important;
    border-bottom: none !important;
    line-height: 1 !important;
    padding: 0px !important;
    margin-bottom: 19px !important; }

html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage div.ecwid-Checkout-blockTitle {
  font-size: 20px !important;
  border-bottom: none !important;
  line-height: 1 !important;
  padding: 0px !important;
  margin-bottom: 19px !important; }

html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-form {
  padding: 14px 20px;
  background-color: #f4f4f4; }
  html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-form .ecwid-fieldEnvelope .ecwid-fieldEnvelope-around textarea {
    background-color: #fff !important;
    border: 1px solid #bfbfbf !important; }
  html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-form .ecwid-PaymentMethodsBlock-PaymentOption label {
    font-weight: 400;
    font-size: 14px; }
  html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-form .ecwid-fieldWrapper {
    display: flex; }

html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-Checkout-EmailBlock .ecwid-form,
html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-Checkout-PasswordBlock .ecwid-form {
  padding: 20px 30px 20px 15px !important; }

html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-btn--secondary {
  padding: 5px 34px !important;
  font-size: 11px !important; }

html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-form {
  padding: 20px !important; }
  html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-form .ecwid-fieldWrapper {
    margin-bottom: 2px;
    display: flex;
    align-items: center; }
    html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-form .ecwid-fieldWrapper label {
      width: 30% !important;
      font-weight: 400 !important;
      font-size: 14px !important; }
    html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-form .ecwid-fieldWrapper input {
      border: 1px solid #bfbfbf !important; }
    html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-form .ecwid-fieldWrapper > table.ecwid-fieldEnvelope {
      width: 74% !important; }

html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-Checkout-PasswordBlock .ecwid-Checkout-blockTitle-text {
  line-height: 1.5; }

html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-Checkout-PasswordBlock .ecwid-Checkout-PasswordBlock-tip {
  line-height: 1.8; }

html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-Checkout-BillingAddress-container {
  background: #f6f6f6; }
  html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-Checkout-BillingAddress-container .ecwid-AddressForm-fields-topPanel > table {
    margin-bottom: 0px; }
    html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-Checkout-BillingAddress-container .ecwid-AddressForm-fields-topPanel > table td {
      text-align: center !important; }
      html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-Checkout-BillingAddress-container .ecwid-AddressForm-fields-topPanel > table td .ecwid-btn--secondary {
        padding-bottom: 0px !important; }
        html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-Checkout-BillingAddress-container .ecwid-AddressForm-fields-topPanel > table td .ecwid-btn--secondary td {
          vertical-align: middle !important; }
          html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-Checkout-BillingAddress-container .ecwid-AddressForm-fields-topPanel > table td .ecwid-btn--secondary td .gwt-HTML {
            font-size: 14px !important;
            font-weight: 400 !important; }
  html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-Checkout-BillingAddress-container .ecwid-AddressForm-fields {
    padding: 0px 30px 40px 18px; }
    html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-Checkout-BillingAddress-container .ecwid-AddressForm-fields table {
      width: 74% !important; }
      html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-Checkout-PaymentRightPanel .ecwid-Checkout-BillingAddress-container .ecwid-AddressForm-fields table table {
        width: 100% !important; }

html#ecwid_html body#ecwid_body div.ecwid-Invoice {
  border: 1px solid #e0e0e0 !important; }

html#ecwid_html body#ecwid_body div.ecwid-Invoice-cell-title,
html#ecwid_html body#ecwid_body div.ecwid-Invoice-blockTitle,
html#ecwid_html body#ecwid_body div.ecwid-Invoice-block,
html#ecwid_html body#ecwid_body div.ecwid-Invoice-Summary-label,
html#ecwid_html body#ecwid_body div.ecwid-Invoice-Summary-value,
html#ecwid_html body#ecwid_body div.ecwid-Invoice-header-placeOrder div.gwt-Label,
html#ecwid_html body#ecwid_body div.ecwid-Invoice-footer-placeOrder div.gwt-Label,
html#ecwid_html body#ecwid_body td.ecwid-Invoice-header-orderConfirmation-text,
html#ecwid_html body#ecwid_body td.ecwid-Invoice-footer-orderConfirmation-text {
  color: #3d3d3d !important; }

html#ecwid_html body#ecwid_body div.ecwid-Invoice-Summary-label,
html#ecwid_html body#ecwid_body div.ecwid-Invoice-Summary-value {
  font-weight: 700; }

html#ecwid_html body#ecwid_body table.ecwid-Invoice-itemsTable .ecwid-Invoice-optionsList {
  padding-top: 0 !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-head-share-purchase {
  color: #434343 !important; }

html#ecwid_html body#ecwid_body td.ecwid-Invoice-Header-OrderId span,
html#ecwid_html body#ecwid_body td.ecwid-Invoice-Header-OrderId-long span,
html#ecwid_html body#ecwid_body td.ecwid-Invoice-Header-OrderId-very-long span {
  display: block; }

html#ecwid_html body#ecwid_body div.ecwid-Invoice-Header-OrderStatus span {
  color: #5D5D5D !important; }

html#ecwid_html body#ecwid_body .top-cart-row-container {
  position: relative; }

html#ecwid_html body#ecwid_body .widget.widget_ecwid_minicart {
  position: absolute;
  top: -70px;
  right: 0;
  display: inline-block; }
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_minicart .widgettitle {
    display: none; }

html#ecwid_html body#ecwid_body .widget.widget_ecwid_minicart_miniview {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right !important;
  height: 100%; }
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_minicart_miniview .widgettitle {
    display: none; }

html#ecwid_html body#ecwid_body .widget.widget_ecwidnsfminicart {
  display: inline-block;
  position: absolute;
  right: 0; }
  html#ecwid_html body#ecwid_body .widget.widget_ecwidnsfminicart h2 {
    display: none; }
  html#ecwid_html body#ecwid_body .widget.widget_ecwidnsfminicart .ec-minicart:hover {
    background-color: transparent; }
  html#ecwid_html body#ecwid_body .widget.widget_ecwidnsfminicart .ec-minicart.ec-minicart--rect {
    border: 0;
    padding: 0;
    box-shadow: none; }
    html#ecwid_html body#ecwid_body .widget.widget_ecwidnsfminicart .ec-minicart.ec-minicart--rect .ec-minicart__icon {
      display: none; }
    html#ecwid_html body#ecwid_body .widget.widget_ecwidnsfminicart .ec-minicart.ec-minicart--rect .ec-minicart__count {
      font-weight: 400;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif; }
    html#ecwid_html body#ecwid_body .widget.widget_ecwidnsfminicart .ec-minicart.ec-minicart--rect .ec-minicart__wrap:before {
      background: url(../images/background-images/cart.png) no-repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      left: -55px;
      position: absolute;
      right: 0;
      top: 0; }
    html#ecwid_html body#ecwid_body .widget.widget_ecwidnsfminicart .ec-minicart.ec-minicart--rect .ec-minicart__subtotal {
      font-size: 22px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      line-height: 1.5; }
    html#ecwid_html body#ecwid_body .widget.widget_ecwidnsfminicart .ec-minicart.ec-minicart--rect .ec-minicart__counter {
      display: block;
      right: inherit;
      top: 2px;
      left: -35px;
      padding: 0 6px;
      min-width: auto;
      height: auto;
      line-height: 1.6;
      font-size: 12px; }

html#ecwid_html body#ecwid_body .top-cart-row-container div.ecwid-minicart-mini .ecwid-minicart-mini-link,
html#ecwid_html body#ecwid_body .top-cart-row-container div.ecwid-minicart-mini .ecwid-minicart-mini-count {
  display: none; }

html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer {
  display: block !important; }
  html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer div.ecwid-minicart-mini-rollover {
    border: none !important;
    left: 65px !important;
    top: 0 !important;
    cursor: pointer; }
  html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer .ecwid-minicart-mini-link {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    float: right;
    margin-top: -4px; }
    html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer .ecwid-minicart-mini-link, html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer .ecwid-minicart-mini-link:hover, html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer .ecwid-minicart-mini-link:focus {
      color: #3d3d3d !important; }
  html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer .ecwid-minicart-mini-items {
    display: none; }
  html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer .ecwid-minicart-mini-overlay-count {
    font-size: 12px !important;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    color: #fff !important;
    vertical-align: middle;
    line-height: 19px;
    margin-left: 9px;
    margin-right: 18px; }
  html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer .ecwid-minicart-mini-total {
    margin-top: -5px;
    margin-left: 48px; }
    html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer .ecwid-minicart-mini-total .ecwid-minicart-mini-total-label {
      display: none; }
    html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer .ecwid-minicart-mini-total .ecwid-minicart-mini-total-total {
      font-size: 22px; }
  html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer:hover .ecwid-minicart-mini-link, html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer:hover .ecwid-minicart-mini-link:hover, html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer:hover .ecwid-minicart-mini-link:focus,
  html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer:hover a,
  html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer:hover a:hover,
  html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer:hover a:focus, html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer:focus .ecwid-minicart-mini-link, html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer:focus .ecwid-minicart-mini-link:hover, html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer:focus .ecwid-minicart-mini-link:focus,
  html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer:focus a,
  html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer:focus a:hover,
  html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer:focus a:focus {
    color: #3d3d3d !important; }

html#ecwid_html body#ecwid_body .ecwid-minicart-mini-overlay-count {
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  height: 21px;
  line-height: 21px;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 5px;
  width: 21px; }
  html#ecwid_html body#ecwid_body .ecwid-minicart-mini-overlay-count:before {
    background: url("../images/background-images/cart.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }

html#ecwid_html body#ecwid_body #horizontal-menu.horizontal-desktop .horizontal-menu {
  border: 1px solid #e0e0e0 !important;
  border-radius: 0 !important;
  padding: 0 !important; }

html#ecwid_html body#ecwid_body #horizontal-menu.horizontal-desktop .horizontal-menu-item > a {
  color: #5D5D5D !important;
  font-size: 14px !important; }

html#ecwid_html body#ecwid_body #horizontal-menu.horizontal-desktop .horizontal-menu-item.horizontal-menu-item--hover > a {
  background: transparent !important; }
  html#ecwid_html body#ecwid_body #horizontal-menu.horizontal-desktop .horizontal-menu-item.horizontal-menu-item--hover > a:hover, html#ecwid_html body#ecwid_body #horizontal-menu.horizontal-desktop .horizontal-menu-item.horizontal-menu-item--hover > a:focus {
    background: #ececec !important;
    border-radius: 0 !important; }

html#ecwid_html body#ecwid_body #horizontal-menu.horizontal-desktop .horizontal-menu-parent > .horizontal-menu-item {
  border-right: 1px solid #e0e0e0; }
  html#ecwid_html body#ecwid_body #horizontal-menu.horizontal-desktop .horizontal-menu-parent > .horizontal-menu-item:last-child {
    border-right: none; }

html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .widgettitle {
  display: none; }

html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-SearchPanel,
html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget {
  margin: 8px 0 0 0;
  position: relative; }
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-SearchPanel input.ecwid-SearchPanel-field,
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-SearchPanel input.ecwid-search-widget__input,
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-SearchPanel .ecwid-search-widget__input[type="text"],
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget input.ecwid-SearchPanel-field,
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget input.ecwid-search-widget__input,
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget .ecwid-search-widget__input[type="text"] {
    border: 3px solid #c6c6c6;
    padding: 13px;
    color: #3D3D3D;
    width: 100%;
    border-radius: 7px;
    /*br-values(7px 0  0 7px);*/
    margin-right: 0 !important;
    max-width: 100% !important; }
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-SearchPanel .ecwid-SearchPanel-button,
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-SearchPanel .ecwid-search-widget__btn,
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget .ecwid-SearchPanel-button,
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget .ecwid-search-widget__btn {
    border-radius: 0 5px 5px 0 !important;
    padding: 15px 20px !important;
    margin: 0 0 0 -2px;
    color: #fff !important;
    display: inline-block;
    font-size: 15px !important;
    font-weight: 700;
    height: auto !important;
    border: medium none !important;
    transition: 0.3s ease;
    position: absolute;
    top: 0;
    right: 0; }
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-SearchPanel .ecwid-SearchPanel-button:hover, html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-SearchPanel .ecwid-SearchPanel-button:focus,
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-SearchPanel .ecwid-search-widget__btn:hover,
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-SearchPanel .ecwid-search-widget__btn:focus,
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget .ecwid-SearchPanel-button:hover,
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget .ecwid-SearchPanel-button:focus,
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget .ecwid-search-widget__btn:hover,
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget .ecwid-search-widget__btn:focus {
      background: #939393 !important; }

html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget {
  max-width: 100%; }
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget input.ecwid-search-widget__input,
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget .ecwid-search-widget__input[type="text"] {
    height: auto;
    border-radius: 7px !important; }
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget .ecwid-search-widget__btn {
    height: 54px !important;
    width: 10%;
    line-height: 1.2; }
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget .ecwid-search-widget__btn:hover, html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget .ecwid-search-widget__btn:focus {
      opacity: 1 !important; }
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget .ecwid-search-widget__btn svg {
      height: auto;
      width: auto; }
      html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget .ecwid-search-widget__btn svg .ecwid-search-widget-icon {
        fill: #fff; }

@media (max-width: 991px) {
  html#ecwid_html body#ecwid_body .mc-handheld-footer-bar li.search {
    position: relative; }
  html#ecwid_html body#ecwid_body .mc-handheld-footer-bar li.search.active .widget_ecwid_search {
    bottom: 100%; }
  html#ecwid_html body#ecwid_body .mc-handheld-footer-bar .widget_ecwid_search {
    position: absolute;
    bottom: -2em;
    left: 0;
    right: 0;
    background-color: #333E48;
    padding: 1em;
    transition: all 0.3s; }
    html#ecwid_html body#ecwid_body .mc-handheld-footer-bar .widget_ecwid_search .ecwid-search-widget {
      margin-top: 0; }
      html#ecwid_html body#ecwid_body .mc-handheld-footer-bar .widget_ecwid_search .ecwid-search-widget:before {
        top: 20px;
        left: 20px;
        font-family: FontAwesome;
        content: "\f002";
        color: #43454b;
        position: absolute;
        opacity: .8; }
  html#ecwid_html body#ecwid_body .mc-handheld-footer-bar .widget.widget_ecwid_search .ecwid-search-widget input.ecwid-search-widget__input {
    border: none;
    padding: 16px 20px 16px 45px;
    border-radius: 2px !important; }
  html#ecwid_html body#ecwid_body .mc-handheld-footer-bar .widget.widget_ecwid_search .ecwid-search-widget .ecwid-search-widget__btn {
    display: none; } }

html#ecwid_html body#ecwid_body .ecwid-popup-contentPanel div.ecwid-popup-headLabel {
  color: #434343; }

html#ecwid_html body#ecwid_body .ecwid-popup-contentPanel .ecwid-form {
  background: transparent !important; }

html#ecwid_html body#ecwid_body .ecwid-popup-contentPanel .ecwid-btn--secondary.ecwid-btn--login_popup_button.ecwid-btn--secondary-inverse {
  color: #fff !important; }

html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-ask-advice-panel a,
html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-sharePanel-header a,
html#ecwid_html body#ecwid_body .ecwid-productBrowser-cart-checkoutOptionsPanel a,
html#ecwid_html body#ecwid_body .ecwid .ecwid-popup-linkBlock a {
  color: #747474 !important;
  font-weight: bold; }

html#ecwid_html body#ecwid_body div.ecwid-favorites-view div.ecwid-form {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.ecwid-home-page-tabs .product {
  float: left;
  width: 25%; }
  @media (max-width: 767px) {
    .ecwid-home-page-tabs .product {
      width: 100%; } }

.ecwid-favorite {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none; }
  .ecwid-favorite span {
    font-size: 14px;
    line-height: 16px;
    color: #747474; }
    .ecwid-favorite span:before {
      content: "\f08a";
      font-family: FontAwesome;
      color: #747474;
      margin-right: 5px; }

.carousel-holder .product:hover .ecwid-favorite, .carousel-holder .product:focus .ecwid-favorite,
.ecwid-home-page-tabs .product:hover .ecwid-favorite,
.ecwid-home-page-tabs .product:focus .ecwid-favorite {
  display: block; }

html#ecwid_html body#ecwid_body .top-cart-row-container div.ecwid-productBrowser-auth {
  margin: 0 !important; }

html#ecwid_html body#ecwid_body .top-cart-row-container div.ecwid-ProductBrowser-auth-anonim,
html#ecwid_html body#ecwid_body .top-cart-row-container div.ecwid-ProductBrowser-auth-logged {
  margin-right: 0 !important; }

html#ecwid_html body#ecwid_body .top-cart-row-container div.ecwid-ProductBrowser-auth-anonim .gwt-Anchor.ecwid-productBrowser-auth-signInLink,
html#ecwid_html body#ecwid_body .top-cart-row-container div.ecwid-ProductBrowser-auth-anonim .ecwid-favorite-menu {
  display: block !important;
  color: #3d3d3d !important;
  font-size: 13px;
  line-height: 24px; }

html#ecwid_html body#ecwid_body .top-cart-row-container div.ecwid-ProductBrowser-auth-anonim .gwt-Anchor.ecwid-productBrowser-auth-signInLink {
  position: relative;
  top: -2px; }
  html#ecwid_html body#ecwid_body .top-cart-row-container div.ecwid-ProductBrowser-auth-anonim .gwt-Anchor.ecwid-productBrowser-auth-signInLink:before {
    content: "\f090";
    font-family: FontAwesome;
    color: #c6c6c6;
    font-size: 14px;
    margin: 0 10px 0 0;
    transition: all 0.3s ease 0s, all 0s ease 0s; }

html#ecwid_html body#ecwid_body .top-cart-row-container div.ecwid-ProductBrowser-auth-anonim .ecwid-favorite-menu {
  position: relative;
  top: -20px; }
  html#ecwid_html body#ecwid_body .top-cart-row-container div.ecwid-ProductBrowser-auth-anonim .ecwid-favorite-menu .ecwid-favorite-menu-item {
    padding-left: 10px !important; }

html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list h4.widget-title,
html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list h2.widgettitle,
html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories h4.widget-title,
html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories h2.widgettitle {
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 16px !important;
  font-weight: 700 !important;
  padding: 17px !important;
  margin: 0 !important;
  border-bottom: none !important;
  letter-spacing: 0 !important; }
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list h4.widget-title:before,
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list h2.widgettitle:before,
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories h4.widget-title:before,
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories h2.widgettitle:before {
    content: "\f03a";
    font-family: FontAwesome;
    margin: 0 10px 0 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased; }

html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list div.ecwid-categories,
html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories div.ecwid-categories {
  border: 1px solid #e0e0e0;
  border-radius: 0 0 5px 5px;
  border-top: none; }
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list div.ecwid-categories table,
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories div.ecwid-categories table {
    width: 100% !important; }
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list div.ecwid-categories table tr:nth-child(4n+1) td a,
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories div.ecwid-categories table tr:nth-child(4n+1) td a {
      background: #fff; }
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list div.ecwid-categories table tr:nth-child(4n+3) td a,
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories div.ecwid-categories table tr:nth-child(4n+3) td a {
      background: #f9f9f9; }
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list div.ecwid-categories table td.ecwid-categories-vertical-table-cell,
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories div.ecwid-categories table td.ecwid-categories-vertical-table-cell {
      border: none !important; }
      html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list div.ecwid-categories table td.ecwid-categories-vertical-table-cell table.ecwid-categories-vertical-table-cell-categoryLink,
      html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories div.ecwid-categories table td.ecwid-categories-vertical-table-cell table.ecwid-categories-vertical-table-cell-categoryLink {
        margin: 0 !important;
        width: 100% !important; }
        html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list div.ecwid-categories table td.ecwid-categories-vertical-table-cell table.ecwid-categories-vertical-table-cell-categoryLink td a,
        html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories div.ecwid-categories table td.ecwid-categories-vertical-table-cell table.ecwid-categories-vertical-table-cell-categoryLink td a {
          display: block !important; }
          html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list div.ecwid-categories table td.ecwid-categories-vertical-table-cell table.ecwid-categories-vertical-table-cell-categoryLink td a .ecwid-categories-category,
          html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories div.ecwid-categories table td.ecwid-categories-vertical-table-cell table.ecwid-categories-vertical-table-cell-categoryLink td a .ecwid-categories-category {
            padding: 12px 17px;
            font-size: 15px;
            line-height: 26px;
            color: #636363 !important;
            font-weight: 600;
            display: block !important; }
          html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list div.ecwid-categories table td.ecwid-categories-vertical-table-cell table.ecwid-categories-vertical-table-cell-categoryLink td a:hover .ecwid-categories-category, html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list div.ecwid-categories table td.ecwid-categories-vertical-table-cell table.ecwid-categories-vertical-table-cell-categoryLink td a:focus .ecwid-categories-category,
          html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories div.ecwid-categories table td.ecwid-categories-vertical-table-cell table.ecwid-categories-vertical-table-cell-categoryLink td a:hover .ecwid-categories-category,
          html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories div.ecwid-categories table td.ecwid-categories-vertical-table-cell table.ecwid-categories-vertical-table-cell-categoryLink td a:focus .ecwid-categories-category {
            color: #fff !important; }

html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list ul,
html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories ul {
  list-style-type: none;
  padding-left: 0px; }
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list ul li,
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories ul li {
    font-size: 15px;
    padding: 12px 0px 12px 15px;
    line-height: 26px;
    font-weight: 600;
    border: 1px solid #e0e0e0;
    border-bottom: 0px;
    border-top: 0px; }
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list ul li:last-child,
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories ul li:last-child {
      border: 1px solid #e0e0e0;
      border-top: 0px;
      border-radius: 0 0 5px 5px; }
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list ul li:hover,
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories ul li:hover {
      background-color: #59B210 !important;
      border-color: #59B210; }
      html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list ul li:hover a,
      html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories ul li:hover a {
        color: #fff; }
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list ul li:nth-child(2n),
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories ul li:nth-child(2n) {
      background-color: #F9F9F9; }
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list ul li a,
    html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories ul li a {
      color: #636363; }

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_minicart,
  html#ecwid_html body#ecwid_body .widget.widget_ecwid_minicart_miniview {
    position: relative !important;
    top: 0 !important;
    margin: 20px 0; }
  html#ecwid_html body#ecwid_body table.ecwid-productBrowser-auth-mini td {
    display: block; }
    html#ecwid_html body#ecwid_body table.ecwid-productBrowser-auth-mini td:nth-child(2) {
      display: none; }
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsList-separatorRow {
    display: block !important; }
  html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productsList-details {
    padding: 25px !important; }
  html#ecwid_html body#ecwid_body td.ecwid-productBrowser-productsList-detailsCell {
    border-left: 1px solid #e0e0e0 !important; }
  html#ecwid_html body#ecwid_body .ecwid-btn--secondary.ecwid-btn--clearBag, html#ecwid_html body#ecwid_body .ecwid-btn--secondary.ecwid-btn--continueShopping {
    padding: 15px 24px !important; }
  html#ecwid_html body#ecwid_body td.ecwid-productBrowser-cart-itemsTable-cell.ecwid-productBrowser-cart-itemsTable-cell-price, html#ecwid_html body#ecwid_body td.ecwid-productBrowser-cart-itemsTable-cell.ecwid-productBrowser-cart-itemsTable-cell-subtotal {
    text-align: right !important; }
  html#ecwid_html body#ecwid_body .ecwid div.ecwid-Checkout div.ecwid-AddressForm-secureLockIcon {
    display: none; } }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 td.ecwid-productBrowser-productsGrid-cell table img {
    width: 100% !important; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  html#ecwid_html body#ecwid_body .ecwid-productBrowser-productsGrid-v2 td.ecwid-productBrowser-productsGrid-cell table img {
    width: 100% !important; } }
