/*===================================================================================*/
/*  Green Color
/*===================================================================================*/
/* =Custom Font
-------------------------------------------------------------- */
@font-face {
  font-family: 'star';
  src: url("fonts/star.eot");
  src: url("fonts/star.eot?#iefix") format("embedded-opentype"), url("fonts/star.woff") format("woff"), url("fonts/star.ttf") format("truetype"), url("fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'WooCommerce';
  src: url("fonts/WooCommerce.eot");
  src: url("fonts/WooCommerce.eot?#iefix") format("embedded-opentype"), url("fonts/WooCommerce.woff") format("woff"), url("fonts/WooCommerce.ttf") format("truetype"), url("fonts/WooCommerce.svg#WooCommerce") format("svg");
  font-weight: normal;
  font-style: normal; }

.primary-bg {
  background-color: #59B210;
  color: #FFF; }

.primary-color {
  color: #59B210; }

.le-dropdown {
  background-color: #59B210; }
  .le-dropdown.open {
    background-color: #4d9b0e; }

.le-button,
input[type="submit"],
.add_to_cart_button,
.button,
.added_to_cart,
.entry-content .wpcf7-form .wpcf7-form-control.wpcf7-submit,
.wpcf7-form .wpcf7-form-control.wpcf7-submit,
.dropdown-menu-mini-cart .buttons .wc-forward.checkout {
  background-color: #59B210; }
  .le-button:hover, .le-button:focus, .le-button:active,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:active,
  .add_to_cart_button:hover,
  .add_to_cart_button:focus,
  .add_to_cart_button:active,
  .button:hover,
  .button:focus,
  .button:active,
  .added_to_cart:hover,
  .added_to_cart:focus,
  .added_to_cart:active,
  .entry-content .wpcf7-form .wpcf7-form-control.wpcf7-submit:hover,
  .entry-content .wpcf7-form .wpcf7-form-control.wpcf7-submit:focus,
  .entry-content .wpcf7-form .wpcf7-form-control.wpcf7-submit:active,
  .wpcf7-form .wpcf7-form-control.wpcf7-submit:hover,
  .wpcf7-form .wpcf7-form-control.wpcf7-submit:focus,
  .wpcf7-form .wpcf7-form-control.wpcf7-submit:active,
  .dropdown-menu-mini-cart .buttons .wc-forward.checkout:hover,
  .dropdown-menu-mini-cart .buttons .wc-forward.checkout:focus,
  .dropdown-menu-mini-cart .buttons .wc-forward.checkout:active {
    background-color: #65c912;
    color: #fff; }

.comment-form .form-submit input[type="submit"] {
  background-color: #59B210; }
  .comment-form .form-submit input[type="submit"]:hover {
    background-color: #60c011; }

a,
a:hover,
a:focus,
a:active {
  color: #59B210; }

::-moz-selection {
  background-color: #59B210; }

::selection {
  background-color: #59B210; }

.yith-wcwl-share li a:hover, .social-icons li a:hover {
  background-color: #59B210; }

.le-color {
  color: #59B210; }

.navbar .navbar-toggle {
  background-color: #4d9b0e;
  border-color: #42830c;
  border-radius: 0; }

header .top-search-holder .contact-row i {
  color: #59B210; }

header .top-search-holder .search-area .search-button {
  background-color: #59B210; }

header .top-cart-row .wishlist-compare-holder a:hover {
  color: #59B210; }
  header .top-cart-row .wishlist-compare-holder a:hover i {
    color: #59B210; }

header .top-cart-row .top-cart-holder .basket-item .price {
  color: #59B210; }

header .top-cart-row .top-cart-holder .basket-item-count .count {
  background-color: #59B210; }

.sidemenu-holder .side-menu .head {
  background-color: #59B210; }

.sidemenu-holder .side-menu .menu-item:hover, .sidemenu-holder .side-menu .menu-item.open {
  border-color: #59B210; }

.megamenu-horizontal .nav > li > a:hover, .megamenu-horizontal .nav > li > a:focus {
  background-color: #59B210 !important; }

.megamenu-horizontal .dropdown:hover .dropdown-toggle:focus, .megamenu-horizontal .dropdown:hover .dropdown-toggle, .megamenu-horizontal .dropdown.open .dropdown-toggle:focus, .megamenu-horizontal .dropdown.open .dropdown-toggle, .megamenu-horizontal .dropdown:focus .dropdown-toggle:focus, .megamenu-horizontal .dropdown:focus .dropdown-toggle {
  background-color: #59B210 !important; }

#top-mega-nav nav .le-dropdown:first-child .dropdown-menu > li > a:hover, #top-mega-nav nav .le-dropdown:first-child .dropdown-menu > li > a:focus {
  background-color: #59B210 !important; }

.breadcrumb-nav-holder .breadcrumb-item.current a {
  color: #59B210; }

.carousel-holder .title-nav .inverse {
  color: #59B210; }

.carousel-holder .title-nav .nav-holder a:hover {
  color: #59B210 !important; }

.le-radio:checked + .fake-box:after {
  background-color: #59B210; }

.le-checkbox:checked + .fake-box {
  background-color: #59B210;
  border-color: #59B210; }

.le-links li a:hover {
  color: #59B210; }

.blog-sidebar .widget > ul > li > a:hover {
  color: #59B210; }

.accordion-widget .accordion .accordion-toggle {
  color: #59B210; }
  .accordion-widget .accordion .accordion-toggle:after {
    color: #59B210; }

.dropdown .dropdown-menu {
  border-top-color: #59B210; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:active {
  background-color: transparent;
  color: #59B210; }

.slider-selection,
.single-product .site-main .mc-wc-product-gallery .flex-control-nav li a.flex-active {
  background-color: #59B210; }

.slider-handle {
  border-color: #59B210; }

#footer .widget .body li a:hover {
  color: #59B210; }

#footer .link-list-row .link-widget li a:hover {
  color: #59B210; }

.iconic-link:hover {
  color: #59B210; }
  .iconic-link:hover:before {
    color: #59B210; }

.page-numbers li:hover a, .page-numbers li.current a {
  color: #59B210 !important;
  border-color: #59B210; }

.page-numbers li a.current,
.page-numbers li span.current {
  color: #59B210 !important;
  border-color: #59B210; }

.simple-link:hover {
  color: #59B210; }

#top-megamenu-nav {
  background-color: #59B210; }
  #top-megamenu-nav .nav > li {
    border-right-color: #4d9b0e; }
    #top-megamenu-nav .nav > li > a:hover, #top-megamenu-nav .nav > li > a:focus {
      background-color: #54a90f; }
    #top-megamenu-nav .nav > li.active > a, #top-megamenu-nav .nav > li.active > a:focus {
      background-color: #54a90f; }
    #top-megamenu-nav .nav > li > .dropdown-toggle:focus {
      background-color: #54a90f !important; }
    #top-megamenu-nav .nav > li > .dropdown-toggle:before {
      border-bottom-color: #59B210; }
    #top-megamenu-nav .nav > li.open > .dropdown-toggle {
      background-color: #54a90f; }
  #top-megamenu-nav .dropdown {
    border-right-color: #4d9b0e; }
    #top-megamenu-nav .dropdown:hover > .dropdown-toggle, #top-megamenu-nav .dropdown:hover > .dropdown-toggle:focus, #top-megamenu-nav .dropdown:focus > .dropdown-toggle, #top-megamenu-nav .dropdown:focus > .dropdown-toggle:focus, #top-megamenu-nav .dropdown.active > .dropdown-toggle, #top-megamenu-nav .dropdown.active > .dropdown-toggle:focus {
      background-color: #54a90f; }
    #top-megamenu-nav .dropdown .dropdown-toggle:focus {
      background-color: #54a90f !important; }
    #top-megamenu-nav .dropdown .dropdown-toggle:before {
      border-bottom-color: #59B210; }
    #top-megamenu-nav .dropdown.open > .dropdown-toggle {
      background-color: #54a90f; }

.rtl #top-megamenu-nav .nav > li {
  border-left-color: #4d9b0e; }

.rtl #top-megamenu-nav .dropdown {
  border-left-color: #4d9b0e; }

#cart-page .widget .buttons-holder .simple-link:hover {
  color: #59B210; }

#cart-page .items-holder .close-btn:hover:after {
  color: #59B210; }

#cart-page .items-holder .remove:hover {
  color: #59B210; }

#cart-page .items-holder .cart-item .title a:hover {
  color: #59B210; }

.nav-tabs li.active a, .nav-tabs li.active a:focus {
  background-color: #59B210 !important; }

.nav-tabs li.active a:hover {
  background-color: #62c512; }

.btn-loadmore:hover i {
  background-color: #59B210; }

.le-quantity .minus:hover:after, .le-quantity .plus:hover:after {
  color: #59B210; }

.meta-row span a {
  color: #59B210; }

#reviews strong[itemprop="author"] {
  color: #59B210; }

.product-item-holder .body .title a:hover {
  color: #59B210; }

.single-product-gallery .gallery-thumbs .next-btn:hover, .single-product-gallery .gallery-thumbs .prev-btn:hover {
  background-color: #59B210; }

.single-product-gallery .gallery-thumbs li a.active {
  border-bottom-color: #59B210; }

.grid-list-products .grid-list-buttons ul li.active a i {
  color: #59B210; }

.grid-list-products .grid-list-buttons ul li a:hover i {
  color: #42830c; }

@media (max-width: 767px) {
  #top-megamenu-nav .nav {
    border-color: #42830c !important; }
  #top-megamenu-nav .nav > .dropdown {
    border-color: #42830c !important; } }

.sidebar .price-range-holder .filter-button a {
  color: #59B210; }

.sidebar .widget .product-list li a:hover {
  color: #59B210; }

.sidebar .widget .product-list .price .price-current {
  color: #59B210; }

.top-bar ul > li a:hover {
  color: #59B210; }

.logo-svg {
  fill: #59B210; }

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
  background: #59B210; }

.panel-faq .panel-heading .panel-title > a:after {
  color: #59B210; }

.panel-faq .panel-heading .panel-title > a:hover:after {
  color: #59B210; }

.posts .post .meta > li a:hover {
  color: #59B210; }

.owl-carousel-blog .owl-dots .owl-dot:hover span, .owl-carousel-blog .owl-dots .owl-dot.active span {
  background: none repeat scroll 0 0 #59B210; }

.comment-item .comment-body .likes a:hover, .comment-item .comment-body .likes .icon:hover {
  color: #59B210; }

.comment-item .comment-body .likes .dislikes .icon:hover {
  color: #59B210; }

.comment-item .comment-body .comment-reply:hover {
  color: #59B210; }

.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_section .wpb_accordion_header.ui-accordion-header-active a,
.owl-carousel:hover .owl-prev:hover,
.owl-carousel:hover .owl-next:hover,
.blog-sidebar .le-links > li > a:hover,
.tagcloud a:hover,
.blog-sidebar .widget .recent-post-list h5 a:hover,
.sidebar .product_list_widget .media-heading > a:hover,
.sidebar .product-filters .widgets .widget-title,
.sidebar .product-filters .widgets .widget-title + ul > li a:hover,
.sidebar .product-filters .widgets .widget-title + ul > li a:hover::before,
.sidebar .product-filters .widgets .widget-title + ul > li.chosen a:before,
.btn-add-to-compare:hover > i,
.btn-add-to-wishlist:hover > i,
.logo-text,
.product-categories li a:hover,
.yamm-content h2,
.yamm-content h3,
.yamm-content h4,
body .tp-leftarrow.default:hover,
body .tp-rightarrow.default:hover,
.post .post-title > a:hover,
.posts .meta > li > a:hover,
.page-links > a:hover,
.page-links > span,
.post-entry .post-title > a:hover,
.single-product-wish-compare .button-holder a:hover,
.btn-action-link a:hover,
.product-subcategories-list .product-category a:hover h3,
.product-subcategories-list .product-category a:hover h2,
.product-subcategories-list .product-category a:hover h2.woocommerce-loop-category__title,
.entry-content .shipping-calculator-title .shipping-calculator-button:hover,
.mc-breadcrumb > li > span > a:hover,
.mc-breadcrumb > li:last-child > span,
.panel-group-faq.style-2 .panel-faq .panel-heading .panel-title > a,
.blog-sidebar .widget .menu li > a:hover,
.blog-sidebar .widget > ul li > a:hover,
.sidebar .widget_layered_nav ul li > a:hover,
.total-price-basket .amount,
.control-bar ul.shop-view-switcher li.active > a i,
.entry-content .vc_toggle.vc_toggle_active .vc_toggle_title h4:after,
html#ecwid_html body#ecwid_body .widget.widget_ecwidnsfminicart .ec-minicart.ec-minicart--rect .ec-minicart__subtotal {
  color: #59B210; }

.page-links > a:hover,
.page-links > span {
  color: #59B210 !important;
  border-color: #59B210 !important; }

body .tp-bullets.simplebullets.round .bullet:hover,
body .tp-bullets.simplebullets.round .bullet.selected,
body .tp-bullets.simplebullets.navbar .bullet:hover,
body .tp-bullets.simplebullets.navbar .bullet.selected,
.jp-play-bar, .jp-volume-bar-value,
.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a,
.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:hover,
.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:focus,
.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:active,
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a,
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:hover,
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:focus,
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:active,
#scrollUp,
.mc-search-bar button,
html#ecwid_html body#ecwid_body .widget.widget_ecwidnsfminicart .ec-minicart.ec-minicart--rect .ec-minicart__counter:after {
  background: #59B210; }

.header-1-primary-navbar .navbar-nav,
.posts .post .date-wrapper .date {
  background-color: #59B210; }

.widget_price_filter .ui-slider .ui-slider-range {
  background-color: #59B210 !important; }

.widget_price_filter .ui-slider .ui-slider-handle {
  border-color: #59B210 !important; }

.commentlist .bypostauthor .comment-body {
  border-top-color: #59B210; }

p.demo_store {
  background: #59B210;
  border: 1px solid #42830c; }

.single-product .wc-tabs > li.active > a {
  background-color: #59B210;
  color: #fff; }

.single-product .single_add_to_cart_button {
  background-color: #59B210;
  color: #fff; }
  .single-product .single_add_to_cart_button:hover {
    background-color: #4d9b0e;
    color: #fff; }

.yith-wcwl-wishlistexistsbrowse > a:hover,
.add_to_wishlist:hover,
.yith-wcwl-wishlistaddedbrowse .feedback:hover,
.add-to-compare-link:hover {
  color: #59B210; }
  .yith-wcwl-wishlistexistsbrowse > a:hover::before,
  .add_to_wishlist:hover::before,
  .yith-wcwl-wishlistaddedbrowse .feedback:hover::before,
  .add-to-compare-link:hover::before {
    color: #59B210; }

@media (max-width: 767px) {
  .single-product .site-main .wc-tabs > li.active > a {
    border-left-color: #59B210;
    border-right-color: #59B210; } }

html#ecwid_html body#ecwid_body .ecwid a,
html#ecwid_html body#ecwid_body .ecwid a:active,
html#ecwid_html body#ecwid_body .ecwid a:visited {
  color: #59B210 !important; }
  html#ecwid_html body#ecwid_body .ecwid a:hover,
  html#ecwid_html body#ecwid_body .ecwid a:active:hover,
  html#ecwid_html body#ecwid_body .ecwid a:visited:hover {
    color: #4d9b0e !important; }

html#ecwid_html body#ecwid_body .widget.widget_ecwid_search .ecwid-search-widget .ecwid-search-widget__btn {
  background-color: #59B210 !important; }

html#ecwid_html body#ecwid_body .ecwid-btn--primary {
  background-color: #59B210 !important;
  color: #fff; }
  html#ecwid_html body#ecwid_body .ecwid-btn--primary:hover {
    background-color: #4d9b0e !important;
    color: #fff; }

html#ecwid_html body#ecwid_body .ecwid-btn--secondary.ecwid-btn--login_popup_button.ecwid-btn--secondary-inverse, html#ecwid_html body#ecwid_body .ecwid-btn--secondary.ecwid-btn--register_popup_button.ecwid-btn--secondary-inverse {
  background-color: #59B210 !important; }
  html#ecwid_html body#ecwid_body .ecwid-btn--secondary.ecwid-btn--login_popup_button.ecwid-btn--secondary-inverse:hover, html#ecwid_html body#ecwid_body .ecwid-btn--secondary.ecwid-btn--register_popup_button.ecwid-btn--secondary-inverse:hover {
    background-color: #4d9b0e !important; }

html#ecwid_html body#ecwid_body div.ecwid-minicart-link * {
  color: #59B210 !important; }

html#ecwid_html body#ecwid_body .ecwid-SearchPanel .ecwid-SearchPanel-button {
  background-color: #59B210 !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-details-inStockLabel {
  color: #59B210 !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-categoryPath a, html#ecwid_html body#ecwid_body div.ecwid-productBrowser-categoryPath a:hover, html#ecwid_html body#ecwid_body div.ecwid-productBrowser-categoryPath a:focus {
  color: #59B210 !important; }

html#ecwid_html body#ecwid_body .ecwid-minicart-mini-rolloverContainer:hover a,
html#ecwid_html body#ecwid_body .ecwid-minicart-mini-link:hover {
  color: #59B210 !important; }

html#ecwid_html body#ecwid_body #horizontal-menu.horizontal-desktop .horizontal-menu-item > a:hover, html#ecwid_html body#ecwid_body #horizontal-menu.horizontal-desktop .horizontal-menu-item > a:focus {
  color: #59B210 !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-subcategories-categoryName:hover, html#ecwid_html body#ecwid_body div.ecwid-productBrowser-subcategories-categoryName:focus {
  color: #59B210 !important; }

html#ecwid_html body#ecwid_body div.ecwid-results-topPanel div.ecwid-results-topPanel-viewAsPanel-current:before {
  color: #59B210 !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-auth a:hover, html#ecwid_html body#ecwid_body div.ecwid-productBrowser-auth a:focus {
  color: #59B210 !important; }

html#ecwid_html body#ecwid_body div.ecwid-pager span.ecwid-pager-link-enabled:hover, html#ecwid_html body#ecwid_body div.ecwid-pager span.ecwid-pager-link-enabled:focus {
  color: #59B210 !important;
  border: 1px solid #59B210 !important; }

html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-productsTable-addToBagLink {
  background-color: #59B210; }
  html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-productsTable-addToBagLink:hover, html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-productsTable-addToBagLink:focus, html#ecwid_html body#ecwid_body div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-productsTable-addToBagLink:active {
    background-color: #65c912;
    color: #fff; }

html#ecwid_html body#ecwid_body .ecwid-btn--secondary.ecwid-btn--apply {
  background-color: #59B210 !important; }
  html#ecwid_html body#ecwid_body .ecwid-btn--secondary.ecwid-btn--apply:hover, html#ecwid_html body#ecwid_body .ecwid-btn--secondary.ecwid-btn--apply:focus, html#ecwid_html body#ecwid_body .ecwid-btn--secondary.ecwid-btn--apply:active {
    background-color: #65c912 !important;
    color: #fff; }

html#ecwid_html body#ecwid_body .ecwid-productBrowser-cart-termsCheckbox.ecwid-productBrowser-cart-termsCheckbox-rollover {
  background-color: #65c912 !important; }

html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-ask-advice-panel a,
html#ecwid_html body#ecwid_body .ecwid .ecwid-productBrowser-sharePanel-header a,
html#ecwid_html body#ecwid_body .ecwid-productBrowser-cart-checkoutOptionsPanel a,
html#ecwid_html body#ecwid_body .ecwid .ecwid-popup-linkBlock a {
  color: #59B210 !important; }

html#ecwid_html body#ecwid_body div.ecwid-Checkout-BreadCrumbs-link-current {
  border-color: #59B210 !important;
  color: #59B210 !important; }
  html#ecwid_html body#ecwid_body div.ecwid-Checkout-BreadCrumbs-link-current:after {
    background-color: #59B210 !important; }

html#ecwid_html body#ecwid_body div.ecwid-Checkout-BreadCrumbs-point-current:after {
  background-color: #59B210 !important; }

html#ecwid_html body#ecwid_body .ecwid-popup-content .ecwid-btn--secondary.ecwid-btn--secondary-inverse {
  background-color: #59B210 !important;
  color: #fff !important; }
  html#ecwid_html body#ecwid_body .ecwid-popup-content .ecwid-btn--secondary.ecwid-btn--secondary-inverse:hover, html#ecwid_html body#ecwid_body .ecwid-popup-content .ecwid-btn--secondary.ecwid-btn--secondary-inverse:focus, html#ecwid_html body#ecwid_body .ecwid-popup-content .ecwid-btn--secondary.ecwid-btn--secondary-inverse:active {
    background-color: #65c912 !important;
    color: #fff; }

html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer .ecwid-minicart-mini-overlay-count {
  background-color: #59B210; }

html#ecwid_html body#ecwid_body div.ecwid-minicart-mini-rolloverContainer .ecwid-minicart-mini-total .ecwid-minicart-mini-total-total {
  color: #59B210 !important; }

html#ecwid_html body#ecwid_body .ecwid-Invoice-Header-OrderNumber span {
  color: #59B210 !important; }

html#ecwid_html body#ecwid_body .top-cart-row-container div.ecwid-ProductBrowser-auth-anonim .gwt-Anchor.ecwid-productBrowser-auth-signInLink:hover, html#ecwid_html body#ecwid_body .top-cart-row-container div.ecwid-ProductBrowser-auth-anonim .gwt-Anchor.ecwid-productBrowser-auth-signInLink:focus,
html#ecwid_html body#ecwid_body .top-cart-row-container div.ecwid-ProductBrowser-auth-anonim .ecwid-favorite-menu:hover,
html#ecwid_html body#ecwid_body .top-cart-row-container div.ecwid-ProductBrowser-auth-anonim .ecwid-favorite-menu:focus {
  color: #59B210 !important; }

html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list h4.widget-title,
html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list h2.widgettitle,
html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories h4.widget-title,
html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories h2.widgettitle {
  background: #59B210 !important; }

html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list div.ecwid-categories table tr td a:hover, html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories_list div.ecwid-categories table tr td a:focus,
html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories div.ecwid-categories table tr td a:hover,
html#ecwid_html body#ecwid_body .widget.widget_ecwid_vcategories div.ecwid-categories table tr td a:focus {
  background: #59B210 !important; }

/*dokan*/
input.dokan-btn-theme[type="submit"],
a.dokan-btn-theme,
.dokan-btn-theme {
  background-color: #59B210;
  border-color: #59B210; }
  input.dokan-btn-theme[type="submit"]:hover, input.dokan-btn-theme[type="submit"]:focus,
  a.dokan-btn-theme:hover,
  a.dokan-btn-theme:focus,
  .dokan-btn-theme:hover,
  .dokan-btn-theme:focus {
    background-color: #4d9b0e;
    border-color: #4d9b0e; }

.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.active,
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover,
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li:focus {
  background-color: #59B210; }

.dokan-dashboard .dokan-dashboard-content .row-actions span.edit a:hover, .dokan-dashboard .dokan-dashboard-content .row-actions span.edit a:focus,
.dokan-dashboard .dokan-dashboard-content .row-actions span.view a:hover,
.dokan-dashboard .dokan-dashboard-content .row-actions span.view a:focus {
  color: #59B210; }

.dokan-product-listing .dokan-product-listing-area table.product-listing-table mark.instock {
  color: #59B210; }

.dokan-product-listing-area .pagination-wrap ul.pagination > li > .current,
.dokan-product-listing-area .pagination-wrap ul.dokan-pagination > li > .current,
.dokan-product-listing-area .dokan-pagination-container ul.pagination > li > .current,
.dokan-product-listing-area .dokan-pagination-container ul.dokan-pagination > li > .current,
.store-page-wrap .pagination-wrap ul.pagination > li > .current,
.store-page-wrap .pagination-wrap ul.dokan-pagination > li > .current,
.store-page-wrap .dokan-pagination-container ul.pagination > li > .current,
.store-page-wrap .dokan-pagination-container ul.dokan-pagination > li > .current {
  border-color: #59B210;
  color: #59B210 !important; }

.dokan-product-listing-area .pagination-wrap ul.pagination > li.active a,
.dokan-product-listing-area .pagination-wrap ul.dokan-pagination > li.active a,
.dokan-product-listing-area .dokan-pagination-container ul.pagination > li.active a,
.dokan-product-listing-area .dokan-pagination-container ul.dokan-pagination > li.active a,
.store-page-wrap .pagination-wrap ul.pagination > li.active a,
.store-page-wrap .pagination-wrap ul.dokan-pagination > li.active a,
.store-page-wrap .dokan-pagination-container ul.pagination > li.active a,
.store-page-wrap .dokan-pagination-container ul.dokan-pagination > li.active a {
  border-color: #59B210;
  color: #59B210 !important; }

.dokan-product-listing-area .pagination-wrap ul.pagination > li:hover a, .dokan-product-listing-area .pagination-wrap ul.pagination > li:focus a,
.dokan-product-listing-area .pagination-wrap ul.dokan-pagination > li:hover a,
.dokan-product-listing-area .pagination-wrap ul.dokan-pagination > li:focus a,
.dokan-product-listing-area .dokan-pagination-container ul.pagination > li:hover a,
.dokan-product-listing-area .dokan-pagination-container ul.pagination > li:focus a,
.dokan-product-listing-area .dokan-pagination-container ul.dokan-pagination > li:hover a,
.dokan-product-listing-area .dokan-pagination-container ul.dokan-pagination > li:focus a,
.store-page-wrap .pagination-wrap ul.pagination > li:hover a,
.store-page-wrap .pagination-wrap ul.pagination > li:focus a,
.store-page-wrap .pagination-wrap ul.dokan-pagination > li:hover a,
.store-page-wrap .pagination-wrap ul.dokan-pagination > li:focus a,
.store-page-wrap .dokan-pagination-container ul.pagination > li:hover a,
.store-page-wrap .dokan-pagination-container ul.pagination > li:focus a,
.store-page-wrap .dokan-pagination-container ul.dokan-pagination > li:hover a,
.store-page-wrap .dokan-pagination-container ul.dokan-pagination > li:focus a {
  border-color: #59B210;
  color: #59B210 !important; }

ul.subsubsub li.active a,
ul.order-statuses-filter li.active a {
  color: #59B210; }

ul.subsubsub li:hover a, ul.subsubsub li:focus a,
ul.order-statuses-filter li:hover a,
ul.order-statuses-filter li:focus a {
  color: #59B210; }

.dokan-orders-content .dokan-orders-area ul.order-statuses-filter li.active a {
  color: #59B210; }

.dokan-orders-content .dokan-orders-area ul.order-statuses-filter li:hover a, .dokan-orders-content .dokan-orders-area ul.order-statuses-filter li:focus a {
  color: #59B210; }

.mc-handheld-footer-bar ul li a .count {
  background-color: #59B210; }

.single-product .site-main .woocommerce-product-gallery .flex-control-thumbs li img.flex-active,
.single-product .site-main .mc-wc-product-gallery .mc-wc-product-gallery__image.flex-active-slide a img {
  box-shadow: 0px 2px 0px 0px #59B210; }
