@mixin make-le-input( $color: $black, $bg_color: $second-color ) {
	border-radius: 3px;
    background-color: darken( $bg_color, 5% );
    border:none;
    color: $color;
    width: 100%;
    padding: 10px;
    transition: 0.3s ease;

    &:focus, &:hover{
        background-color: darken( $bg_color, 10% );
    }
}
