.primary-bg{
    background-color: $primary-color;
    color: #FFF;
}

.primary-color{
    color: $primary-color;
}

.le-dropdown{
    background-color: $primary-color;

    &.open{
        background-color: darken($primary-color,5%);
    }
}

.le-button,
input[type="submit"],
.add_to_cart_button,
.button,
.added_to_cart,
.entry-content .wpcf7-form .wpcf7-form-control.wpcf7-submit,
.wpcf7-form .wpcf7-form-control.wpcf7-submit,
.dropdown-menu-mini-cart .buttons .wc-forward.checkout {
    background-color: $primary-color;

    &:hover, &:focus, &:active {
        background-color: lighten($primary-color,5%);
        color: #fff;
    }
}

.comment-form{
    .form-submit{
        input[type="submit"]{
            background-color: $primary-color;

            &:hover{
                background-color: lighten($primary-color,3%);
            }
        }
    }
}

a,
a:hover,
a:focus,
a:active {
    color: $primary-color;

}

::-moz-selection {
    background-color: $primary-color;
}

::selection {
    background-color: $primary-color;
}

.yith-wcwl-share, .social-icons{
    li{
        a{
            &:hover{
                background-color: $primary-color;
            }
        }
    }
}

.le-color{
    color: $primary-color;
}

.navbar .navbar-toggle{
    background-color: darken($primary-color, 5%);
    border-color: darken($primary-color, 10%);
    border-radius: 0;
}

header {
    .top-search-holder{
        .contact-row {
            i{
                color: $primary-color;
            }
        }

        .search-area{
            .search-button {
                background-color: $primary-color;
            }
        }
    }

    .top-cart-row{
        .wishlist-compare-holder{
            a{
                &:hover{
                    color: $primary-color;

                    i{
                        color: $primary-color;
                    }
                }
            }
        }

        .top-cart-holder{
            .basket-item{
                .price{
                    color: $primary-color;
                }
            }

            .basket-item-count{
                .count{
                    background-color: $primary-color;
                }
            }
        }
    }
}

.sidemenu-holder{
    .side-menu{
        .head {
            background-color: $primary-color;
        }

        .menu-item{
            &:hover,&.open{
                border-color: $primary-color;
            }
        }
    }
}

.megamenu-horizontal{
    .nav{
        > li{
            > a{
                &:hover, &:focus{
                    background-color: $primary-color !important;
                }
            }
        }
    }

    .dropdown{
        &:hover,&.open,&:focus{
            .dropdown-toggle{
                &:focus,&{
                    background-color: $primary-color !important;
                }
            }
        }
    }
}

#top-mega-nav{
    nav{
        .le-dropdown{
            &:first-child{
                .dropdown-menu{
                    > li{
                        > a{
                            &:hover, &:focus{
                                background-color: $primary-color !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.breadcrumb-nav-holder{
    .breadcrumb-item{
        &.current{
            a{
                color: $primary-color;
            }
        }
    }
}

.carousel-holder{
    .title-nav{
        .inverse{
            color:$primary-color;
        }

        .nav-holder{
            a{
                &:hover{
                    color:$primary-color!important;
                }
            }
        }
    }
}

.le-radio{
    &:checked{
        & +  .fake-box{
            &:after{
                background-color: $primary-color;
            }
        }
    }
}

.le-checkbox{
    &:checked{
        & +  .fake-box{
            background-color:$primary-color;
            border-color:$primary-color;
        }
    }
}

.le-links{
    li{
        a{
            &:hover{
                color:$primary-color;
            }
        }
    }
}

.blog-sidebar{
    .widget{
        > ul{
            > li{
                > a{
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.accordion-widget{
    .accordion{
        .accordion-toggle{
            color: $primary-color;

            &:after{
                color: $primary-color;
            }
        }
    }
}

.dropdown{
    .dropdown-menu{
        border-top-color: $primary-color;
    }
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:active{
    background-color: transparent;
    color: $primary-color;
}

.slider-selection,
.single-product .site-main .mc-wc-product-gallery .flex-control-nav li a.flex-active {
    background-color: $primary-color;
}

.slider-handle {
    border-color: $primary-color;
}

#footer {
    .widget {
        .body{
            li{
                a{
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .link-list-row{
        .link-widget{
            li{
                a{
                    &:hover{
                        color:$primary-color;
                    }
                }
            }
        }
    }
}

.iconic-link{
    &:hover{
        color: $primary-color;
        &:before{
            color: $primary-color;
        }
    }
}

.page-numbers{
    li{
        &:hover,&.current{
            a{
                color: $primary-color!important;
                border-color: $primary-color;
            }
        }

        a.current,
        span.current{
            color: $primary-color!important;
            border-color: $primary-color;
        }
    }
}

.simple-link{
    &:hover{
        color:$primary-color;
    }
}

#top-megamenu-nav{
    background-color: $primary-color;

    .nav{
        > li{
            border-right-color: darken($primary-color,5%);

            > a{
                &:hover, &:focus{
                    background-color: darken($primary-color,2%);
                }
            }

            &.active{
                > a{
                    &,&:focus{
                        background-color: darken($primary-color,2%);
                    }
                }
            }

            > .dropdown-toggle{
                &:focus{
                    background-color: darken($primary-color,2%)!important;
                }

                &:before{
                    border-bottom-color: $primary-color;
                }
            }

            &.open{
                > .dropdown-toggle{
                    background-color: darken($primary-color,2%);
                }
            }
        }
    }

    .dropdown{
        border-right-color: darken($primary-color,5%);

        &:hover,&:focus,&.active{
           >  .dropdown-toggle{
                &,&:focus{
                    background-color: darken($primary-color,2%);
                }
            }
        }

        .dropdown-toggle{
            &:focus{
                background-color: darken($primary-color,2%)!important;
            }

            &:before{
                border-bottom-color: $primary-color;
            }
        }

        &.open{
            > .dropdown-toggle{
                background-color: darken($primary-color,2%);
            }
        }
    }
}

.rtl{
    #top-megamenu-nav{
        .nav{
            > li{
                border-left-color: darken($primary-color,5%);
            }
        }

        .dropdown{
            border-left-color: darken($primary-color,5%);
        }
    }
}

#cart-page{
    .widget{
        .buttons-holder{
            .simple-link{
                &:hover{
                    color:$primary-color;
                }
            }
        }
    }

    .items-holder{
        .close-btn{
            &:hover{
                &:after{
                    color:$primary-color;
                }
            }
        }

        .remove{
            &:hover{
                color: $primary-color;
            }
        }

        .cart-item{
            .title{
                a{
                    &:hover{
                        color:$primary-color;
                    }
                }
            }
        }
    }
}

.nav-tabs{
    li{
        &.active{
            a{
                &,&:focus{
                    background-color: $primary-color!important;
                }

                &:hover{
                    background-color: lighten($primary-color,4%);
                }
            }
        }
    }
}

.btn-loadmore{
    &:hover{
        i{
            background-color:$primary-color;
        }
    }
}

.le-quantity{
    .minus,.plus{
        &:hover{
            &:after{
                color: $primary-color;
            }
        }
    }
}

.meta-row{
    span{
        a{
            color:$primary-color;
        }
    }
}

#reviews strong[itemprop="author"] {
    color: $primary-color;
}

.product-item-holder{
    .body{
        .title{
            a{
                &:hover{
                    color:$primary-color;
                }
            }
        }
    }
}

.single-product-gallery{
    .gallery-thumbs{
        .next-btn,.prev-btn{
            &:hover{
                background-color: $primary-color;
            }
        }

        li {
            a{
                &.active{
                    border-bottom-color: $primary-color;
                }
            }
        }
    }
}

.grid-list-products{
    .grid-list-buttons{
        ul{
            li{
                &.active{
                    a{
                        i{
                            color:$primary-color;
                        }
                    }
                }

                a{
                    &:hover{
                        i{
                            color:darken($primary-color,10%);
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:$screen-xs-max){
    #top-megamenu-nav{
        .nav{
            border-color: darken($primary-color,10%)!important;
        }

        .nav  > .dropdown {
            border-color: darken($primary-color,10%)!important;
        }
    }
}

.sidebar{
    .price-range-holder{
        .filter-button{
            a{
                color:$primary-color;
            }
        }
    }

    .widget{
        .product-list {
            li{
                a{
                    &:hover{
                        color:$primary-color;
                    }
                }
            }

            .price{
                .price-current{
                    color:$primary-color;
                }
            }
        }
    }
}

.top-bar{
    ul{
        > li{
            a{
                &:hover{
                    color:$primary-color;
                }
            }
        }
    }
}

.logo-svg{
    fill: $primary-color;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
    background: $primary-color;
}


.panel-faq{
    .panel-heading{
        .panel-title{
            > a{
                &:after{
                    color: $primary-color;
                }

                &:hover{
                    &:after{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.posts{
    .post{
        .meta{
            > li{
                a{
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.owl-carousel-blog{
    .owl-dots{
        .owl-dot{
            &:hover,
            &.active{
                span{
                    background: none repeat scroll 0 0 $primary-color;
                }
            }
        }
    }
}

.comment-item{
    .comment-body{
        .likes{
            a,.icon{
                &:hover{
                    color: $primary-color;
                }
            }

            .dislikes{
                .icon{
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }

        .comment-reply{
            &:hover{
                color: $primary-color;
            }
        }
    }
}

.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_section .wpb_accordion_header.ui-accordion-header-active a,
.owl-carousel:hover .owl-prev:hover,
.owl-carousel:hover .owl-next:hover,
.blog-sidebar .le-links > li > a:hover,
.tagcloud a:hover,
.blog-sidebar .widget .recent-post-list h5 a:hover,
.sidebar .product_list_widget .media-heading > a:hover,
.sidebar .product-filters .widgets .widget-title,
.sidebar .product-filters .widgets .widget-title + ul > li a:hover,
.sidebar .product-filters .widgets .widget-title + ul > li a:hover::before,
.sidebar .product-filters .widgets .widget-title + ul > li.chosen a:before,
.btn-add-to-compare:hover > i,
.btn-add-to-wishlist:hover > i,
.logo-text,
.product-categories li a:hover,
.yamm-content h2,
.yamm-content h3,
.yamm-content h4,
body .tp-leftarrow.default:hover,
body .tp-rightarrow.default:hover,
.post .post-title > a:hover,
.posts .meta > li > a:hover,
.page-links > a:hover,
.page-links > span,
.post-entry .post-title > a:hover,
.single-product-wish-compare .button-holder a:hover,
.btn-action-link a:hover,
.product-subcategories-list .product-category a:hover h3,
.product-subcategories-list .product-category a:hover h2,
.product-subcategories-list .product-category a:hover h2.woocommerce-loop-category__title,
.entry-content .shipping-calculator-title .shipping-calculator-button:hover,
.mc-breadcrumb > li > span > a:hover,
.mc-breadcrumb > li:last-child > span,
.panel-group-faq.style-2 .panel-faq .panel-heading .panel-title > a,
.blog-sidebar .widget .menu li > a:hover,
.blog-sidebar .widget > ul li > a:hover,
.sidebar .widget_layered_nav ul li > a:hover,
.total-price-basket .amount,
.control-bar ul.shop-view-switcher li.active > a i,
.entry-content .vc_toggle.vc_toggle_active .vc_toggle_title h4:after,
html#ecwid_html body#ecwid_body .widget.widget_ecwidnsfminicart .ec-minicart.ec-minicart--rect .ec-minicart__subtotal {
    color: $primary-color;
}

.page-links > a:hover,
.page-links > span{
    color: $primary-color !important;
    border-color: $primary-color !important;
}

body .tp-bullets.simplebullets.round .bullet:hover,
body .tp-bullets.simplebullets.round .bullet.selected,
body .tp-bullets.simplebullets.navbar .bullet:hover,
body .tp-bullets.simplebullets.navbar .bullet.selected,
.jp-play-bar, .jp-volume-bar-value,
.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a,
.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:hover,
.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:focus,
.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:active,
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a,
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:hover,
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:focus,
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:active,
#scrollUp,
.mc-search-bar button,
html#ecwid_html body#ecwid_body .widget.widget_ecwidnsfminicart .ec-minicart.ec-minicart--rect .ec-minicart__counter:after {
    background: $primary-color;
}

.header-1-primary-navbar .navbar-nav,
.posts .post .date-wrapper .date{
    background-color: $primary-color;
}

.widget_price_filter .ui-slider .ui-slider-range{
    background-color: $primary-color !important;
}

.widget_price_filter .ui-slider .ui-slider-handle{
    border-color: $primary-color !important;
}

.commentlist .bypostauthor .comment-body{
    border-top-color: $primary-color;
}

p.demo_store{
    background: $primary-color;
    border: 1px solid darken($primary-color, 10%);
}

.single-product {
    .wc-tabs {
        > li.active {
            > a {
                background-color: $primary-color;
                color: #fff;
            }
        }
    }

    .single_add_to_cart_button {
        background-color: $primary-color;
        color: #fff;

        &:hover {
            background-color: darken( $primary-color, 5% );
            color: #fff;
        }
    }
}

.yith-wcwl-wishlistexistsbrowse > a,
.add_to_wishlist,
.yith-wcwl-wishlistaddedbrowse .feedback,
.add-to-compare-link {
    &:hover {
        color: $primary-color;

        &::before {
            color: $primary-color;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .single-product .site-main .wc-tabs > li.active > a {
        border-left-color: $primary-color;
        border-right-color: $primary-color;
    }
}

html#ecwid_html {
    body#ecwid_body {

        .ecwid a,
        .ecwid a:active,
        .ecwid a:visited {
            color: $primary-color !important;

            &:hover {
                color: darken( $primary-color, 5% ) !important;
            }
        }

        .widget.widget_ecwid_search .ecwid-search-widget .ecwid-search-widget__btn {
            background-color: $primary-color !important;
        }

        .ecwid-btn--primary  {
            background-color: $primary-color !important;
            color: #fff;

            &:hover {
                background-color: darken( $primary-color, 5% ) !important;
                color: #fff;
            }
        }

        .ecwid-btn--secondary {
            &.ecwid-btn--login_popup_button.ecwid-btn--secondary-inverse,
            &.ecwid-btn--register_popup_button.ecwid-btn--secondary-inverse
            {

                background-color: $primary-color !important;

                &:hover {
                    background-color: darken( $primary-color, 5% ) !important;
                }
            }
        }

        div.ecwid-minicart-link *{
            color: $primary-color !important;
        }

        .ecwid-SearchPanel {
            .ecwid-SearchPanel-button {
                background-color: $primary-color !important;
            }
        }

        div.ecwid-productBrowser-details-inStockLabel {
            color: $primary-color !important;
        }

        div.ecwid-productBrowser-categoryPath {
            a {
                &,
                &:hover,
                &:focus {
                     color: $primary-color !important;
                }
            }
        }


        .ecwid-minicart-mini-rolloverContainer:hover a,
        .ecwid-minicart-mini-link:hover{
            color: $primary-color !important;
        }

        #horizontal-menu.horizontal-desktop {
            .horizontal-menu-item {
                > a {

                    &:hover,
                    &:focus {
                         color: $primary-color !important;
                    }
                }
            }
        }

        div.ecwid-productBrowser-subcategories-categoryName {
            &:hover,
            &:focus {
                color: $primary-color !important;
            }
        }

        div.ecwid-results-topPanel {
            div.ecwid-results-topPanel-viewAsPanel-current {
                &:before {
                    color: $primary-color !important;
                }
            }
        }

        div.ecwid-productBrowser-auth {
            a {
                &:hover,
                &:focus {
                    color: $primary-color !important;
                }
            }
        }

        div.ecwid-pager {
            span.ecwid-pager-link-enabled {
                &:hover,
                &:focus {
                    color: $primary-color !important;
                    border:1px solid $primary-color !important;
                }
            }
        }

        div.ecwid-productBrowser-productsTable {
            div.ecwid-productBrowser-productsTable-addToBagLink {
                background-color: $primary-color;

                &:hover, &:focus, &:active {
                    background-color: lighten($primary-color,5%);
                    color: #fff;
                }
            }
        }

        .ecwid-btn--secondary.ecwid-btn--apply {
            background-color: $primary-color !important;

            &:hover, &:focus, &:active {
                background-color: lighten($primary-color,5%) !important;
                color: #fff;
            }
        }


        .ecwid-productBrowser-cart-termsCheckbox.ecwid-productBrowser-cart-termsCheckbox-rollover {
            background-color: lighten($primary-color,5%) !important;
        }

        .ecwid .ecwid-productBrowser-ask-advice-panel a,
        .ecwid .ecwid-productBrowser-sharePanel-header a,
        .ecwid-productBrowser-cart-checkoutOptionsPanel a,
        .ecwid .ecwid-popup-linkBlock a {
            color: $primary-color !important;
        }

        div.ecwid-Checkout-BreadCrumbs-link-current{
            border-color: $primary-color !important;
            color: $primary-color !important;

            &:after {
                background-color: $primary-color !important;
            }
        }

       div.ecwid-Checkout-BreadCrumbs-point-current{
            &:after {
                background-color: $primary-color !important;
            }
        }

        .ecwid-popup-content {
            .ecwid-btn--secondary.ecwid-btn--secondary-inverse {
                background-color: $primary-color !important;
                color: #fff !important;

                &:hover, &:focus, &:active {
                    background-color: lighten($primary-color,5%) !important;
                    color: #fff;
                }
            }
        }

        div.ecwid-minicart-mini-rolloverContainer {
            .ecwid-minicart-mini-overlay-count {
                background-color: $primary-color ;
            }

            .ecwid-minicart-mini-total {
                .ecwid-minicart-mini-total-total {
                    color: $primary-color !important;

                }
            }
        }

       .ecwid-Invoice-Header-OrderNumber {
            span {
                color: $primary-color !important;
            }
        }

        .top-cart-row-container {
            div.ecwid-ProductBrowser-auth-anonim {
                .gwt-Anchor.ecwid-productBrowser-auth-signInLink,
                .ecwid-favorite-menu {

                    &:hover,
                    &:focus {
                        color: $primary-color !important;
                    }
                }
            }
        }

        .widget.widget_ecwid_vcategories_list,
        .widget.widget_ecwid_vcategories {
            h4.widget-title,
            h2.widgettitle {
              background: $primary-color !important;
            }
        }

        .widget.widget_ecwid_vcategories_list,
        .widget.widget_ecwid_vcategories {
            div.ecwid-categories {
                table {
                    tr{
                        td {
                            a {
                                &:hover,
                                &:focus {
                                    background: $primary-color !important;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

/*dokan*/
input.dokan-btn-theme[type="submit"],
a.dokan-btn-theme,
.dokan-btn-theme {
    background-color: $primary-color;
    border-color: $primary-color;

&:hover,
&:focus{
        background-color: darken($primary-color,5%);
        border-color: darken($primary-color,5%);
    }
}

.dokan-dashboard {
    .dokan-dash-sidebar {
        ul.dokan-dashboard-menu {
            li.active,
            li:hover,
            li:focus {
                background-color: $primary-color;
            }
        }
    }

     .dokan-dashboard-content {
        .row-actions {
            span.edit,
            span.view {
                a {
                    &:hover,
                    &:focus {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.dokan-product-listing {
    .dokan-product-listing-area {
        table.product-listing-table {
            mark.instock {
                color: $primary-color;
            }
        }
    }
}

.dokan-product-listing-area ,
.store-page-wrap{
    .pagination-wrap,
    .dokan-pagination-container {
        ul.pagination,
        ul.dokan-pagination  {
            > li {
                > .current {
                    border-color: $primary-color;
                    color: $primary-color !important;
                }

                &.active {
                    a {
                        border-color: $primary-color;
                        color: $primary-color !important;
                    }
                }

                &:hover,
                &:focus {
                    a {
                        border-color: $primary-color;
                        color: $primary-color !important;
                    }
                }

            }
        }
    }
}

ul.subsubsub,
ul.order-statuses-filter {
    li {
        &.active {
            a {
                color: $primary-color;
            }
        }

        &:hover,
        &:focus {
            a {
                color: $primary-color;
            }
        }
    }
}

.dokan-orders-content  {
    .dokan-orders-area {
        ul.order-statuses-filter {
            li{
                &.active {
                    a {
                        color: $primary-color;
                    }
                }

                &:hover,
                &:focus {
                    a {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.mc-handheld-footer-bar ul li a .count {
    background-color: $primary-color;
}

.single-product .site-main .woocommerce-product-gallery .flex-control-thumbs li img.flex-active,
.single-product .site-main .mc-wc-product-gallery .mc-wc-product-gallery__image.flex-active-slide a img {
    box-shadow: 0px 2px 0px 0px $primary-color;
    //border-bottom-color: $primary-color;
}
