/*===================================================================================*/
/*  Footer
/*===================================================================================*/
#footer {
    padding: 54px 0 0 0;

    ul{
        list-style: none;
    }

    .widget-title{
        font-size: 21px;
        line-height: 32px;
        letter-spacing: -1px;
        border-bottom: 1px solid darken($second-color,10%);
        padding-bottom: 11px;
    }

    .logo-text{
        font-weight: 900;
        font-size: 34px;
        display: block;
        letter-spacing: -2px;
    }

    h3{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -1px;
        padding-bottom: 11px;
    }

    .widget {
        .row{
            @extend .no-margin;
        }

        .widget-title{
            margin-bottom: 27px;
        }

        .body{

            li{
                margin:0 0 20px 0;

                a{
                	line-height: 15px;
                    font-size: 14px;
                    font-weight: 700;
                    color: $blue;
                }
            }
        }

        .price{
            line-height:21px;

            del, ins{
                text-decoration: none;
            }

            .price-prev,
            del > .amount{
                color: darken($second-color,20%);
                font-size: 11px;
                text-decoration: line-through;
            }

            .price-current,
            ins > .amount,
            > .amount{
                font-size: 15px;
                color: $black;
            }

            .price-prev,.price-current,
            del, ins{
                @extend .inline;
                vertical-align: middle;
            }
        }

        .thumb-holder{
            float: #{$end};
            display: inline-block;
            background-color: #fff;
            border: 1px solid darken($second-color,10%);

            img{
                width: 73px;
                height: auto !important;
            }
        }
    }


    .sub-form-row {
        margin: 51px 0;
        position: relative;
        z-index: 200;

        &:before{
            content: "";
            position: absolute;
            top:50%;
            display: block;
            height: 1px;
            width:100%;
            background-color: darken($second-color,10%);
            z-index: -1;
        }

        input{
            border-radius: 5px;
            border:1px solid darken($second-color,10%);
            padding: 18px;
            color:$black;
            width:82%;
            border-radius: br-values(5px 0  0 5px);
        }

        button{
            border-radius: br-values(0 5px 5px 0);
            padding: 19px 31px 20px 31px;
            margin: dir-values(0 0 0 -5px);
        }
    }

    .link-list-row{
        margin:75px 0 72px 0;

        .contact-info{
            .regular-bold {
                margin: 0 0 29px 0;
            }

            .social-icons{
                margin: 58px 0 0 0;

                h3{
                    line-height: 27px;
                }
            }
        }

        .footer-logo{
            @extend .inline;
            margin: 7px 0 30px 0;
        }

        .link-widget{
            @extend .inline;
            width: 215px;
            margin: dir-values(0 0 0 15px);

            h3{
                padding-bottom: 32px;
            }

            li{
                margin: 0 0 12px 0;

                a{
                    color:darken($second-color,30%);
                }
            }
        }
    }

    .copyright-bar{
        background-color: $black;
        padding: 17px 0;

        .copyright{
            line-height: 30px;
            color:lighten($black,30%);
            a{
                color:#fff;
                font-weight: 600;
            }
        }
    }

    .payment-methods{
        text-align: #{$end};

        li{
            display: inline-block;
            width: 50px;
            background-color:#fff;
            border-radius: 2px;
            text-align: center;
            padding: 0px 5px;

            &:hover{
                cursor:pointer;

                img{
                    //@include gray(0%);
                }
            }

            img{
                transition: 0.3s ease;
                //@include gray(100%);
            }
        }
    }

    .star-rating{
        float: none;
        display: inline-block;
    }

    .footer-bottom-widget-area{

        .columns{
            display: inline-block;
            vertical-align: top;
            margin-#{$end}: 50px;

            &:last-child{
                margin-#{$end}: 0;
            }
        }

        .widget-title{
            padding-bottom: 32px;
            border-bottom: none;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -1px;
            margin-bottom: 0;
        }

        .widget-title + ul,
        .menu{
            > li{
                margin: 0 0 12px 0;

                a{
                    color:darken($second-color,30%);
                    font-weight: normal;
                }

                ul{
                    display: none;
                }
            }
        }
    }
}
