/*===================================================================================*/
/*  Header
/*===================================================================================*/

.stuck {
    position: fixed !important;
    top: 0;
}

.live-search-media {
    display: block;
    color: #333;
}

header {
    padding: 40px 0 31px 0;
    border-bottom: 1px solid darken($second-color,10%);

    &.ver2{
        padding-bottom: 0;
        margin-bottom: 13px;
    }

    .logo-holder{
        .logo {
            margin: 17px 0;
        }

        .logo-text{
            font-weight: 900;
            font-size: 34px;
            display: block;
            letter-spacing: -2px;
            margin-top: 30px;
            margin-bottom: -10px;
        }
    }

    .top-search-holder{
        margin: dir-values(0 0 0 -20px);

        .contact-row {
            font-size: 14px;
            line-height: 20px;
            min-height: 21px;

            .phone{
                margin: dir-values(0 10px 0 0);
            }

            i{
                vertical-align: middle;
                margin: dir-values(0 8px 0 0);
                font-size: 23px;
                line-height: 23px;
            }
        }

        .search-control-group{
            position: relative;

            .search-bar-controls{
                position: absolute;
                #{$end}: 0;
                top: 0;
            }
        }


        .search-area{
            border:3px solid darken($second-color,20%);
            border-radius: 7px;
            margin: 8px 0 0 0;

            .categories-filter {
                line-height: 47px;
                padding-#{$start}: 7px;
                display: inline-block;
                border-#{$start}: 1px solid darken($second-color,10%);

                .dropdown-menu{
                    #{$start}: -8px;
                }

                .dropdown-toggle{
                    color:$black;
                    padding: dir-values(0 14px 0 2px);
                    display: inline-block;

                    &:after{
                        content: $fa-var-angle-down;
                        font-family: fontawesome;
                        color:darken($second-color,10%);
                        display: inline-block;
                        font-size: 25px;
                        line-height: 25px;
                        margin: dir-values(12px 0 0 6px);
                        float: #{$end};
                    }
                }
            }

            .search-field,.search-button,.categories-filter{
                display: inline-block;
            }

            .search-field{
                border-radius: br-values(5px 0 0 5px);
                border:none;
                padding: 13px;
            }

            .search-button {
                display: inline-block;
                text-align: center;
                padding: 15px 15px 13px 15px;
                margin: dir-values(-3px -3px 0 0);
                border-radius: br-values(0 5px 5px 0);

                &:hover{
                    background-color: darken($second-color,40%);
                }

                &:after{
                    content:$fa-var-search;
                    font-family: fontawesome;
                    font-size: 25px;
                    line-height: 22px;
                    vertical-align: sub;
                    color:#fff;
                }
            }
        }
    }

    .top-cart-row{
        padding: dir-values(35px 0 0 21px);

        .wishlist-compare-holder{
            line-height: 24px;
            margin: dir-values(0 18px 0 0);
            font-size: 13px;
            @extend .inline;

            a{
                color:$black;
            }

            i {
                transition: 0.3s ease;
                color:darken($second-color,20%);
                margin: dir-values(0 10px 0 0px);
                font-size: 14px;
            }

        }

        .top-cart-holder{
            position: relative;
            @extend .inline;

            .checkout{
                a{
                    display: inline-block;
                }
            }

            .dropdown-menu{
                width: 332px;
                #{$start}: -170px;
                top: 65px;
                padding: 16px 0 0 0;
            }

            .basket-item{
                padding:11px 28px;
                position:relative;

                .thumb{
                    border:1px solid darken($second-color,10%);
                    text-align: center;
                    @extend .inline;
                }

                .title{
                    font-weight: 100;
                    line-height: 26px;
                }

                .price{
                    @extend .bold;
                }

                .close-btn{
                    display:inline-block;
                    position:absolute;
                    #{$end}: 8%;
                    top: 41%;

                    &:after{
                        color: $black;
                        content: $fa-var-times;
                        font-family: fontawesome;
                    }
                }
            }

            .basket-item-count{
                position: relative;
                @extend .inline;

                .count{
                    position: absolute;
                    color: #fff;
                    top: 5px;
                    border-radius: 100px;
                    width: 21px;
                    height: 21px;
                    line-height: 21px;
                    font-size: 12px;
                    font-weight: bold;
                    text-align: center;
                    #{$end}: 12px;
                }

                @include if-rtl {
                    img {
                        transform: scaleX(-1);
                    }
                }
            }

            .dropdown-toggle{
                display: block;
                padding: 0;

                .lbl{
                    font-size: 14px;
                    line-height: 21px;
                    color:$black;
                    display: block;
                }

                .total-price {
                    font-size: 22px;
                    font-weight: bold;
                }

                &:after{
                    display: none;
                }
            }

            .total-price-basket{
                margin: dir-values(0 0 0 5px);
                @extend .inline;
            }
        }
    }
}

.logo img{
    height: auto;
}

.header-alt{
    border-bottom: none;
}

.navbar .dropdown-submenu .dropdown-menu {
    top: -1px !important;
}

.navbar .dropdown-submenu > a:after {
    display: none;
}
.navbar .dropdown-submenu > .dropdown-menu:not(.yamm-dropdown-menu) {
    margin-top: 0;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu:not(.yamm-dropdown-menu) {
    top: 0;
    #{$start}: 100%;
    margin-top: -6px;
    @media (max-width: 991px)  {
        #{$start}: auto;
    }
}
.dropdown-submenu:hover>.dropdown-menu:not(.yamm-dropdown-menu) {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: $end;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-#{$end}: -10px;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu:not(.yamm-dropdown-menu) {
    #{$start}: -100%;
    margin-#{$start}: 10px;
}

.open > .dropdown-menu > .dropdown-submenu > .dropdown-menu {
    animation-name: slidenavAnimation;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: slidenavAnimation;
    -moz-animation-duration: 200ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: forwards;
}


#top-megamenu-nav{
    &.stuck{
        width: 100%;
        margin-top: 0;
        box-shadow: 0 1px 3px #333;
    }
}
