/*===================================================================================*/
/*  Sidebar
/*===================================================================================*/

#sidebar > .secondary {
    @include make-row();
}

.sidebar{
    ul{
        list-style: none;
    }
    
    .star-rating{
        float: none;
        display: block;
    }

    h1,h2,h3,h4{
        font-weight: 500 !important;
    }

    .widget-title{
        border-bottom: 1px solid #ececec;
        font-size: 24px;
        font-weight: 400 !important;
        line-height: 30px;
        color: $title-color;
        margin-bottom: 20px;
        padding-bottom: 10px;
        letter-spacing: -1px;
    }

    .search-form{
            
        .form-group{
            float: $start;
            margin-bottom: 0;
            margin-#{$end}: -28px;
            width: 100%;
        }

        .form-control{
            font-size: 14px;
            border: none;
            height: 42px;
            border-radius: 0px;
            background: none repeat scroll 0 0 #f6f6f6;
            box-shadow: none;
            color: #1A1A1A;
            padding-#{$start}: 10px;
            padding-#{$end}: 10px;

            &:focus{
                box-shadow: none;
            }
        }

        button{
            border: 0 none;
            float: $start;
            font-size: 13px;
            margin: 0;
            padding: dir-values(10px 10px 5px 0);
            margin-top: 1px;
            background: rgba(0,0,0,0);
        }
    }

    .product-categories{
        
        > .cat-item{
            .count{
                display: none;
            }
        }

        li{
            > a{
                color: $text-color;
                line-height: 26px;
                font-size: 14px;
                padding: 6px 0;
                display: block;
            }

            &.cat-parent{
                > a{
                    .child-indicator{
                        float: $end;
                        display: inline-block;

                        &:before{
                            font-family: fontawesome;
                            content: dir-check("\f105","\f104");
                            font-size: 18px;
                        }

                        &.open{
                            &:before{
                                content: "\f107";
                            }
                        }
                    }
                }
            }
        }

        .children{
            display: none;
            padding-#{$start}: 15px;

            li{
                > a{
                    &:before{
                        font-family: fontawesome;
                        content: "\f105";
                        margin: dir-values(0 5px 0 0);
                        transition: all 0.3s ease;
                    }

                    &:hover{
                        &:before{
                            margin-#{$end}: 10px;
                        }
                    }
                }
            }
        }

        .current-cat-parent{
            > a{
                .child-indicator{
                    &:before{
                        content: "\f107";
                    }
                }
            }

            > .children{
                display: block;
            }
        }

        .current-cat{
            > .children{
                display: block;
            }
            
            > a{
                font-weight: bold;
            }
        }
    }

    #searchform{
        #s{
            background: none repeat scroll 0 0 #f6f6f6;
            border: medium none;
            border-radius: 0;
            box-shadow: none;
            color: #1a1a1a;
            font-size: 14px;
            height: 42px;
            padding-#{$start}: 10px;
            padding-#{$end}: 10px;
            display: block;
            width: 100%;
        }

        .screen-reader-text{
            display: none;
        }

        #searchsubmit{
            background-color: transparent;
            display: none;
        }

        > div{
            position: relative;
            &:after{
                content: "\f002";
                font-family: FontAwesome;
                position: absolute;
                #{$end}: 12px;
                bottom: 12px;
            }
        }
    }

    .widget_shopping_cart{
        .basket-item-count{
            display: none;
        }

        .total-price-basket{
            .lbl{
                color: $text-color;
                margin-#{$end}: 5px;
                text-transform: uppercase;
            }

            .total-price{
                font-weight: 600;
                color: $title-color;
                font-size: 14px !important;
            }
        }

        .dropdown-menu{
            border: medium none;
            box-shadow: none;
            display: block;
            padding: 0;
            position: static;

            .basket-item{
                margin-top: 20px;

                .thumb{
                    background-color: #fff;
                    border: 1px solid #e0e0e0;
                    display: inline-block;
                    margin-#{$end}: 10px;
                }

                .title{
                    color: $title-color;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 600 !important;
                    line-height: 20px;
                }

                .amount{
                    font-weight: 700;
                    font-size: 15px;
                }
            }

            .checkout{
                > .basket-item{
                    > .row{
                        margin: 0;
                        > div{
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }

        .woocommerce-mini-cart__buttons {
            display: flex;
            justify-content: space-around;
        }
    }

    .widget_layered_nav{
        ul{
            li{
                line-height: 26px;
                padding: 6px 0;
                vertical-align: middle;

                > a{
                    font-size: 14px;
                    color: $text-color;
                }

                .count{
                    float: $end;
                }
            }

            ul{
                padding-#{$start}: 15px;
            }
        }
    }

    .product_list_widget{
        padding-#{$start}: 0;
        list-style: none;

        .media,
        .media .media {
            margin-top: 20px;
        }

        .media:first-child {
            margin-top: 0;
        }

        .media {
            > .thumb-holder {
                margin-#{$end}: 10px;
                float: $start;

                img{
                    display: block;
                }
            }

            .media-heading{
                line-height: 20px;
                font-size: 14px;
                display: inline-block;
                font-weight: 600 !important;
                color: $black;

                > a{
                    color: $black;
                }
            }
        }

        .price{
            line-height:28px;
        
            .price-prev,
            del .amount{
                color:darken($second-color,20%);
                font-size: 11px;
                text-decoration: line-through;
            }
            
            .price-current,
            ins,
            ins .amount{
                font-size: 15px;
                @extend .bold;
                text-decoration: none;
            }
            
            .price-prev,.price-current{
                @extend .inline;
                vertical-align: middle;
            }
        }
    }

    &.narrow{
        width:23%;
        padding: dir-values(0 20px 0 0);
    }
    
    &.wide{
        width:77%;
    }

    .price-filter {
        border-top: 1px solid darken($second-color,10%);
        margin: 19px 0 0 0;
        padding: 10px 0 0 0;
    }
    
    .price-range-holder{
        padding: 18px 0px 47px 0px;
        position: relative;
    
        .filter-button{
            a{
                text-transform: uppercase;
             
                &:hover{
                    color:$black;
                }
            }
        }
        
        .min-max,.filter-button{
            margin: 14px 0 0 0;
            font-size: 13px;
        }
        
        .price-slider {
            visibility: hidden;
        }
        
        .price-range.in {
            overflow: visible;
        }
        
        .slider .tooltip {
            margin-top: 55px;
        }

        .min-max{
            float: $start;
        }
        
        .filter-button{
            float: $end;
        
            a{
                @extend .bold;
            }
        }
    }

    .simple-banner{
        margin: 43px 0 34px 0;

        a{
            display: block;
        }
    }

    .widget{ 
        margin: 0 0 45px 0;

        .row{
            @extend .no-margin;
        }

        .body{
            margin: 10px 0;
            padding: 10px;
        }

        .product-list {
            margin: 30px 0 0 0;
            padding: 0;

            li{
                margin:0 0 20px 0;
        
                a{
                    line-height: 20px;
                    font-size: 14px;
                    display: inline-block;
                    font-weight: 600;
                    color: $black;
                }
            }
        }

        .bordered{
            border:2px solid darken($second-color,5%);
            border-radius: 10px;
        }
        
        hr{
            margin: 5px 0;
        }
        
        .category-filter{
            ul{
                padding: 0 3px;
                margin: 10px 0 0 0;

                li{
                    position: relative;
                }
                
                span{
                    font-size: 12px;
                    vertical-align: bottom;
                    display: inline-block;
                    line-height: 24px;
                    margin: dir-values(0 8px 0 0);
                }
                
                label {
                    font-weight:400;
                    font-size: 12px;
                    margin: 0 0 3px;
                    line-height: 20px;
                }
            }
        }
    }

    .widget_recent_reviews{
        .product_list_widget{
            > li{
                margin-top: 20px;
                overflow: hidden;
                zoom: 1;

                &:first-child{
                    margin-top: 0;
                } 

                > a {
                    display: block;
                    width: 100%;
                    line-height: 20px;
                    font-size: 14px;
                    font-weight: 600 !important;
                    color: $black;
                    margin-bottom: 5px;

                    > img{
                        display: block;
                        margin-#{$end}: 10px;
                        float: $start;
                    }
                }
            }
        }
    }

    .product-filters{
        margin-bottom: 25px;

        h3{
            line-height: 52px;
            font-size: 28px;
            letter-spacing: -1px;
        }

        .widgets{
            border: 2px solid #ececec;
            border-radius: 10px;
            margin: 10px 0;
            padding: 10px;

            > .widget{
                margin-bottom: 19px;
                padding-bottom: 19px;
                border-bottom: 1px solid #e0e0e0;

                &:last-child{
                    margin-bottom: 0;
                    border-bottom: none;
                }
            }

            .widget-title{
                font-size: 18px;
                line-height: 37px;
                letter-spacing: -1px;
                margin: 0;
                padding-bottom: 5px;
                margin-bottom: 15px;
                border-bottom: 1px solid #eee;

                & + ul{
                    padding: 0 3px;

                    > li{
                        font-weight: 400;
                        font-size: 12px;
                        margin: 0 0 3px;
                        line-height: 20px;
                        padding: 0;

                        a{
                            color: $text-color;
                            font-size: 12px;
                            line-height: 20px;
                            padding: 0;

                            &:before{
                                content: "\f096";
                                font-family: fontawesome;
                                display: inline-block;
                                padding-#{$end}: 10px;
                                color: #e0e0e0;
                                width: 20px;
                            }

                            &:hover{
                                &:before{
                                    content: "\f14a";
                                }
                            }
                        }

                        .count{
                            float: $end;
                            margin: dir-values(0 8px 0 0);
                            font-size: 12px;
                            vertical-align: bottom;
                        }
                    }
                }
            }
        }

        .chosen{
            > a{
                &:before{
                    content: "\f14a" !important;
                    font-family: fontawesome;
                }
            }
        }

        .widget_layered_nav_filters{
            .chosen{
                > a{
                    &:before{
                        content: none !important;
                    }

                    &:after{
                        content: "\f057";
                        font-family: fontawesome;
                        float: $end;
                        display: inline-block;
                    }
                }
            }
        }
    }
    
    .tagcloud{
        a{
            color: #686868;
            line-height: 34px;
        }
    }

    .widget_layered_nav {
        .select2-selection--single,
        .select2-selection--multiple {
            height: auto;
            padding: 0.3em;
            background-color: #ececec;
            padding-left: 0.6em;
        }

        .select2-selection--single {
            .select2-selection__placeholder {
                color: #444;
            }

            .select2-selection__rendered {
                padding-right: 28px;
            }

            .select2-selection__arrow {
                top: 5px;
                right: 8px;
            }
        }

        .select2-selection--multiple {
            ul li {
                font-size: 13px;

                &+.select2-search--inline {
                    display: none;                    
                }

                &.select2-search--inline {
                    padding: 4px 0 3px;
                    
                    input {
                        margin-top: 0;
                    }

                }

                .select2-selection__choice__remove {
                    margin-right: 4px;
                }
            }
        }

        .woocommerce-widget-layered-nav-dropdown__submit {
            margin-top: 1em;
        }
    }

    .widget_product_categories select {
        width: 100%;
        background-color: #ececec;
    }
}