/*===================================================================================*/
/*  Single Product Accessories
/*===================================================================================*/

.single-product .site-main {
	.woocommerce-Tabs-panel .accessories-wrapper {
		display: flex;
		align-items: center;		

		@media (max-width: 768px) {
			flex-direction: column;
		}

		.accessories-product {
			@include make-xs-column(9);
	
			@media (max-width: 768px) {
				width: 100%;
			}

			ul li.product {
				padding: 0 15px;

				@media (max-width: 768px) {
					width: 25%;
				}

				@media (max-width: 560px) {
					width: 100%;
					height: 100% !important;
					margin-bottom: 20px;
				}

				&:hover {
					box-shadow: 0 0 6px 0 rgba(1,1,1,.3);
				}

				&+li {

					@media (max-width: 560px) {
						padding-top: 20px;
					}

					&:before {
						content: " ";
						width: 1px;
						height: 90%;
						background-color: #ebebeb;
						display: block;
						left: 0;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);

						@media (max-width: 560px) {
							width: inherit;
							height: 1px;
							left: 0;
							top: 0;
						}
					}
				}

				&+li:after {
					left: -14px;
					padding: 5px 9px;
					border-radius: 50px;
					font-size: 19px;
					width: 30px;
					font-weight: 100;
					content: "+";
					line-height: 1.2;
					background: #ebebeb;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					z-index: 99;

					@media (max-width: 560px) {
						top: -18px;
						left: 50%;
						transform: translate(-50%);
					}
				}

				a {
					display: flex;
					flex-direction: column;
					text-align: center;

					.woocommerce-loop-product__title {
						order: 1;
						font-size: 15px;
						font-weight: 600 !important;
						line-height: 1;
						margin-bottom: 0;
					}

					img {
						order: 2;
						margin: auto;
					}

					.price {
						order: 3;
						font-size: 15px;

						.mc-price-wrapper {
							display: flex;
							justify-content: center;
							align-items: baseline;

							ins .amount {
								font-size: 15px;							
							}

							del .amount {
								font-size: 13px;
							}

							del {
								margin-right: 15px;
							}

							ins {
								margin-right: 0;
							}
						}						
					}
				}

				.accessory-checkbox {
					margin: 0;

					label {
						padding: 0;
						display: flex;
						justify-content: center;
						align-items: baseline;
						font-size: 14px;

						input {
							margin-right: 6px;
							display: block;
							position: initial;
							margin-left: 0;
						}
					}
				}
			}
		}

		.accessories-product-total-price {
			@include make-xs-column(3);

			@media (max-width: 768px) {
				width: 100%;
			}
			
			.total-price {
				display: flex;
				flex-direction: column;
				margin-bottom: 25px;

				.total-price-html {
					font-size: 24px;
					margin-bottom: 5px;
				}
			}
		}
	}

	.woocommerce-tabs .wc-tabs {
		@media (max-width: 768px) {
	        height: auto;

	        > li {
	            display: block;

	            &:first-child a{
                	border-top: 1px solid #e0e0e0;
                }

	            > a {
	                border-radius: 0;
	                border-left: 1px solid #e0e0e0;
	                border-right: 1px solid #e0e0e0;
	            }
	        }
	    }
	}
}


