.dokan-dashboard {
	.dokan-dashboard-content {
		p {
			a {
				@extend .product-item-title;
			}
		}

		.row-actions {
			span.edit,
			span.delete,
			span.view {
				a {
					font-size: 13px;
					font-weight: 400;
				}

			}

			span.edit,
			span.view {
				a {
					color: #747474;
				}
			}

			span.delete {
				a {
					color: #ff0000;
				}
			}
		}

		 article.dashboard-content-area {
		 	.dashboard-widget.big-counter {
		 		ul {
		 			padding-#{$start}: 0;
		 		}
		 	}
		}
	}
}

.dokan-product-listing {
	.dokan-product-listing-area {
		ins {
			.amount {
				color: #301c53;
				font-size: 18px;
			}
		}
		del {
			.amount {
				color: #b7b7b7;
				font-size: 14px;
			}
		}
	}
}

input.dokan-btn-theme[type="submit"], 
a.dokan-btn-theme, 
.dokan-btn-theme {
	color: #fff;
}

ul.subsubsub,
ul.order-statuses-filter {
	padding: 0;
	
	li {
	 	a {
	 		color: #3d3d3d;
	 		font-size: 15px;
	 	}
	}
}

.dokan-product-edit {
	.product-edit-new-container {
		.dokan-attribute-variation-options {
			.dokan-product-attribute-wrapper ul {
				margin-bottom: 1em;
			}
		}
	}

	.dokan-product-edit-area {
		.dokan-edit-sidebar {
		    .dokan-btn-theme{
		        width: 100%;
		        margin-bottom: 10px;
		    }

		    .dokan-label-success {
		    	font-weight: 400;
		    }
		}
	}

	.btn-danger {
		padding: 2px 10px;
	}
}