/*===================================================================================*/
/*	GENERAL
/*===================================================================================*/

.fontawesome{
    font-family: fontawesome;
}

.inline{
    display: inline-block;
    vertical-align: top;
}

.thumb-holder{
    float: $start;
    display: inline-block;
    background-color: #fff;
    border: 1px solid darken($second-color,10%);
}

.up-sells > h2,
.cross-sells > h2,
.entry-content .cross-sells > h2{
    @include make-section-title();
}

.up-sells {
    margin-bottom: 30px;
}

.h1, h1{
    font-size: 28px;
    line-height: 52px;
    font-weight: 500!important;
    color: $black;
    letter-spacing: -1px;

    &.border{
        border-bottom: 1px solid darken($second-color,10%);
        line-height: 50px;
    }
}

p{
    margin: 0 0 20px;
}

.iconic-link{
    color: $black;
    font-size: 12px;
    line-height: 24px;
    @extend .inline;

    &:before{
        margin: dir-values(0 5px 0 0);
        font-size: 18px;
        color:darken($second-color,20%);
        transition: 0.3s ease;
        @include add-fa();
    }
}


.availability{
    font-size: 11px;
    line-height: 9px;
    margin: 10px 0 15px 0;
    color: lighten($black,20%);
    font-weight: 600;

    span{
        margin: dir-values(0 0 0 3px);
    }


    .available{
        color: #59B210;
        @extend .bold;
    }

    .not-available{
        color:red;
        @extend .bold;
    }
}

.color-bg{
    background-color: $second-color;
    border-top:1px solid darken($second-color,10%);
}

img {
    width: auto\9;
    max-width: 100%;
}

.no-margin {
    padding: 0;
    margin: 0;
}

.no-padding{
    padding: 0;
}

.no-padding-right{
    padding-#{$end}: 0;
}

.no-padding-left{
    padding-#{$start}: 0;
}

.no-margin-left {
    margin-#{$start}: 0;
    padding-#{$start}: 0;
}

.no-margin-right {
    margin-#{$end}: 0;
    padding-#{$end}: 0;
}

.no-padding-bottom{
    padding-bottom: 0;
}

a {
    transition: 0.3s ease;
}

.caroufredsel_wrapper {
    margin: 0!important;
    width: 100%!important;
    ul {
        padding-#{$start}: 0!important;
    }
}

body {
    font-size: 15px;
    color: $text-color;
    background-color: #fff;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

::-moz-selection {
    color: $highlight-txt;
    text-shadow: none;
    -webkit-text-shadow: none;
}

::selection {
    color: $highlight-txt;
    text-shadow: none;
    -webkit-text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    outline: none!important;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

.uppercase{
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: 600;
}

@mixin gray($per:100%)
{
    filter:grayscale($per);
    -webkit-filter:grayscale($per);
    -moz-filter:grayscale($per);
    -o-filter:grayscale($per);
    -ms-filter:grayscale($per);
}

@mixin scale($factor)
{
    -webkit-transform: scale($factor);
    -moz-transform: 	 scale($factor);
    -ms-transform: 		 scale($factor);
    -o-transform: 		 scale($factor);
}

@mixin rotate-scale($deg,$factor)
{
    -webkit-transform: rotate($deg) scale($factor);
    -moz-transform: 	rotate($deg) scale($factor);
    -ms-transform: 	rotate($deg)	 scale($factor);
    -o-transform: 	rotate($deg)	 scale($factor);
}

@mixin rotate($deg)
{
    -webkit-transform: rotate($deg);
    -moz-transform: 	 rotate($deg);
    -ms-transform: 		 rotate($deg);
    -o-transform: 		 rotate($deg);
}

.capital{

}

#loading{
    display: none;
}
*:focus{
    outline: none;
}

.social-icons, .yith-wcwl-share{
    list-style: none;
    padding: 0;
    margin: 0;

    li{
        display: inline-block;
        font-size: 16px;
        margin-#{$end}: 10px;

        a{
        	color:#fff;
            display:inline-block;
            padding: 6px;
            background-color: $black;
            border-radius: 100px;

            &:before{
                width:16px;
                height: 16px;
                display: inline-block;
                text-align: center;
            }
        }
    }
}

.center-absolute{
    position:absolute;
    #{$start}:0;
    #{$end}:0;
    top:0;
    bottom:0;
    margin:auto;
}

.map-holder {
    margin-bottom: 20px;

    .map{
        width: 100%;
        height: 100%;
    }

    img {
        max-width: none;
    }
    label {
        width: auto;
        display: inline;
    }
}

.bold{
    font-weight: 800;
}


label.error {
	color: red;
	font-size: 10px;
}

.green{
    background-color: #59B210;
    color:#fff;

    &.ribbon{
        background-color:transparent;

        &:after{
            border-top-color: #59B210;
        }
    }
}

.red{
    background-color: #F8484A;
    color:#fff;

    &.ribbon{
        background-color:transparent;

        &:after{
            border-top-color: #F8484A;
        }
    }
}

.blue{
    background-color: #407AC5;
    color:#fff;

    &.ribbon{
        background-color:transparent;

        &:after{
            border-top-color: #407AC5;
        }
    }
}

.label-discount{
    display: table-cell;
    padding: 0 8px;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    display: table-cell;
    text-transform: uppercase;

    &.clear{
        height: 16px;
        background-color: transparent;
    }
}

.section-title {
    margin: 29px 0;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -1px;
    font-weight: normal!important;
}

.inline-input{
    .placeholder{
        @extend .bold;
    }

    input[type="text"]{
        width: 73%!important;
        padding: 15px 14px;
        font-size: 13px;
        line-height: 20px;
        border-radius: br-values(5px 0 0 5px);
        @extend .inline;
        float: $start;
    }

    .le-button{
        padding: 15px 14px;
        width:27%;
        float: $end;
        border-radius: br-values(0 5px 5px 0);
    }
}

.block{
    display: block;
}

.simple-link{
    color:$black;
}

.dropdown-toggle{
    &:before,&:after{
        z-index: 100;
    }
}


.green-text{
    color: $green-color !important;

    &:hover{
        background-color: $green-color !important;
        color: #fff !important;
    }
}

.blue-text{
    color: $blue-color !important;

    &:hover{
        background-color: $blue-color !important;
        color: #fff !important;
    }
}

.red-text{
    color: $red-color !important;

    &:hover{
        background-color: $red-color !important;
        color: #fff !important;
    }
}

.orange-text{
    color: $orange-color !important;

    &:hover{
        background-color: $orange-color !important;
        color: #fff !important;
    }
}

.navy-text{
    color: $navy-color !important;

    &:hover{
        background-color: $navy-color !important;
        color: #fff !important;
    }
}

.dark-green-text{
    color: $dark-green-color !important;

    &:hover{
        background-color: $dark-green-color !important;
        color: #fff !important;
    }
}

.height-xs {
    height: 230px;
}
.height-sm {
    height: 338px;
}
.height-md {
    height: 468px;
}
.height-lg {
    height: 690px;
}

.normal-weight{
    font-weight: 400;
}

.semi-bold{
    font-weight: 600;
}

.regular-bold{
    font-weight: 700;
}

.extra-bold{
    font-weight: 800;
}

.page-header{
    padding: 0;
    border: none;
    margin: 0;
    text-align: center;

    .page-title{
        font-size: 40px;
        @extend .normal-weight;
        color: $title-color;
        line-height: 50px;
    }

    .page-subtitle{
        font-size: 14px;
        @extend .normal-weight;
        color: #979797;
        margin: 0;
        line-height: 15px;
    }
}

.echo-lazy-loading{
    background: url("assets/images/ajax.gif") no-repeat scroll center center #ffffff;
}

/* Bootstrap 5 column Grid */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-#{$end}: 10px;
    padding-#{$start}: 10px;
}

.col-xs-15 {
    width: 20%;
    float: $start;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: $start;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: $start;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: $start;
    }
}

.field-row{
    margin-bottom: 25px;

    p{
        margin-bottom: 0;
    }
}

.no-margin-bottom{
    margin-bottom: 0 !important;
}

.alert{
    font-size: 16px;
}

.wp-caption.alignnone{
    margin: 0;
}

.wp-caption.aligncenter{
    margin: 0 auto;
}

.wp-caption.alignleft,
.wp-caption.alignright,
img.alignright,
img.alignleft{
    margin-top: 8px;
}

img.alignright,
img.alignleft{
    margin-bottom: 1em;
}

dl.wp-caption {
    padding: 0;
}

.wp-caption {
    max-width: 100%;
}

.wp-caption-text {
    color: #999;
    margin-top: 10px;
    font-size: 13px;
}


.alignleft {
    display: inline;
    float: $start;
    margin-#{$end}: 1.5em;
}
.alignright {
    display: inline;
    float: $end;
    margin-#{$start}: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}
.gallery-caption {
    color: #999;
}

.commentlist{
    .bypostauthor {
        .comment-body{
            background-color: #f8f8f8;
            border-top-width: 2px;

            &:after{
                border-color: transparent #f8f8f8 transparent transparent;
            }
        }
    }
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}

.le-input{
    &.form-control{
        height: auto;
    }
}

.woocommerce-demo-store .top-bar{
    margin-top: 34px;
}

.woocommerce {
    @extend .clearfix;
}

.col2-set {
    @include make-row();

    .col-1, .col-2 {
        @include make-xs-column(12);
        @include make-sm-column(6);
    }
}

.woocommerce-error {
    @include make-alert();
    @include make-alert-danger();

    li {
        list-style: none;
    }
}

.woocommerce-info {
    @include make-alert();
    @include make-alert-warning();
}

.woocommerce-message {
    @include make-alert();
    @include make-alert-success();
}

.button {
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
    line-height: 20px;
    border: none;
    font-size: 15px;
    color: #fff;
    transition:all 0.3s ease;
}

.remove {
    color: #81807f;

    &:hover {
        color: $state-danger-text;
    }
}

select {
    height: 34px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    font-size: 14px;
}
