// Buttons
.le-button,
input[type="submit"],
.added_to_cart {
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
    line-height: 20px;
    border:none;
    font-size: 15px;
    color:#fff;
    transition: 0.3s ease;

    &.huge{
        padding: 18px 52px;
    }

    &:hover{
        color:#fff;
    }

    &.disabled{
        cursor: not-allowed;
        background-color: darken($second-color,20%);
        color:#fff;
    }

    &.inverse{
        background-color: darken($second-color,10%);
        color:$black;
        font-weight: 100;

        &:hover{
            background-color: darken($second-color,5%);
            color:$black;
        }
    }

    &.big{
        padding: 15px 34px;
    }
}
