.input-text {
	border-radius: 3px;
    background-color: #ececec;
    border: 1px solid transparent;
    color: #3d3d3d;
    width: 100%;
    padding: 10px;
    transition:all 0.3s ease;

    &.qty {
    	background-color: transparent;
    	border-radius: 5px;
    	border: 1px solid #e0e0e0;
    	width: 72px;
    	text-align: center;
    }
}

form {
    @include make-row();
    margin: 0;

    h3 {
        @extend .checkout-page-title;
    }

    .form-row-first, .form-row-last {
        @include make-xs-column(12);
        @include make-sm-column(6);
    }

    .form-row-first {
        padding-#{$start}: 0;
    }

    .form-row-last {
        paddinng-#{$end}: 0;
    }

    .form-row-wide {
        @include make-xs-column(12);
        padding-#{$start}: 0;
    }

    .select2-container .select2-choice {
        padding: 10px;
    }

    .clear {
        clear: both;
    }

    fieldset {
        @extend .clearfix;
        clear: both;

        legend{
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    input[type="submit"] {
        padding: 15px 34px;
    }
}

.entry-content form h3 {
    @extend .checkout-page-title;
}

.woocommerce-invalid {
    @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
}
