// Links

.le-links{
    list-style:none;

    li{
        line-height: 27px;

        a{
            font-size: 14px;

            &:hover{
                &:before{
                    margin: dir-values(0 8px 0 0);
                }
            }

            &,&:before{
                color:$black;
            }

            &:before{
                font-size: 14px;
                line-height: 15px;
                margin: dir-values(0 5px 0 0);
                content: dir-check("\f105", "\f104");
                @include add-fa();
                transition: 0.3s ease;
            }
        }
    }
}
