/*===================================================================================*/
/*  Megamenu
/*===================================================================================*/
.yamm {

    // reset positions
    .nav, .collapse, .dropup, .dropdown {
        position: static;
    }

    // propagate menu position under container for fw navbars
    .container {
        position: relative;
    }

    // by default aligns menu to left
    .dropdown-menu {
        #{$start}: auto;
    }
    // ensure a good position
    .nav.navbar-right .dropdown-menu {
        #{$start}: auto;
        #{$end}: 0;
    }

    // Content with padding
    .yamm-content {
        padding: 20px 30px;

        ul{
            padding-#{$start}: 0 !important;
            list-style: none !important;

            > li{
                > a{
                    display: block;
                }
            }
        }

        iframe{
            max-width: 100%;
        }

        h2, h3, h4{
            font-size: 18px;
            line-height: 24px;
            margin: 20px 0;
        }
    }

    // Fullwidth menu
    .dropdown.yamm-fw .dropdown-menu {
        #{$start}: 0; #{$end}: 0;
    }

}

.megamenu-horizontal{
    .dropdown.yamm-fw .dropdown-menu{
        #{$start}: 100%;
        #{$end}: 0;
        min-width: 360%;
    }
}

.megamenu-vertical{
    .yamm-content {
        padding:10px 20px;

        li{
            a{
                color:$black;
                line-height: 26px;
                display: block;
                padding: 5px 0;
                border-bottom: 1px solid darken($second-color,10%);
                transition: 0.3s ease;

                &:hover,&:focus{
                    background-color: $second-color;
                }
            }

            &:last-child{
                a{
                    border-bottom:0;
                }
            }
        }

        .dropdown-banner-holder{
            position: absolute;
            #{$end}: -19px;
            top: 0;

            a{
                display: block;
                padding: 0;
                width:100%;
            }
        }
    }
}

.megamenu-horizontal{

    .menu-item{
        .dropdown-menu{
            position: absolute;
            top:0;
            #{$start}: 100%;
            margin: 0;
        }
    }

    .nav{
        > li{
            position: relative;
            width: 100%;

            > a{
                color: $light-black;
                font-weight: 600;

                &:focus, &:hover{
                    color: #fff;

                    &:after{
                        opacity: 1;
                    }
                }
            }

            .dropdown-menu{
                top: 0 !important;
            }

            > .dropdown-toggle{
                &:after{
                    transition: 0.3s ease;
                    content: dir-check("\f105", "\f104");
                    line-height: 18px;
                    opacity: 0;
                    color: #fff;
                    float: $end;
                    font-size: 20px;
                    height: 20px;
                    width:20px;
                }
            }
        }
    }

    .dropdown{
        &:hover,&.open,&:focus{
            .dropdown-toggle{
                &:focus,&{
                    color:#fff;
                }

                &:after{
                    opacity: 1;
                }
            }
        }
    }
}

#top-mega-nav{
    margin: 27px 0;

    nav{
        background-color:$second-color;
        border-radius:5px;

        .le-dropdown{
            > a{
                font-size: 16px;
                font-weight: 700;
            }

            &:first-child{
                display:inline-block;
                float: $start;
                position: relative;

                .dropdown-submenu > .dropdown-menu{
                    top: 0 !important;
                    margin-top: 0;
                }

                .yamm-fw{
                    > .dropdown-menu{
                        min-width: 358%;
                        #{$end}: 0 !important;
                    }

                    .yamm-content {
                        padding:10px 20px;

                        li{
                            padding:5px 0;
                            border-bottom:1px solid darken($second-color,10%);
                            transition: 0.3s ease;

                            &:last-child{
                                border-bottom:0;
                            }

                            a{
                                color: $light-black;
                                line-height: 26px;
                                font-size: 14px;
                                padding-#{$start}: 5px;
                            }

                            &:hover{
                                background-color: $second-color;
                            }
                        }

                        .dropdown-banner-holder{
                            position: absolute;
                            #{$end}: -19px;
                            top: 0;

                            a{
                                display: block;
                                padding: 0;
                                width:100%;
                            }
                        }
                    }
                }

                .dropdown-menu{
                    > li{
                        transition: 0.3s ease;

                        > a{
                            color: $light-black;
                            font-weight: 600;

                            &:focus, &:hover{
                                color: #fff;

                                &:after{
                                    opacity: 1;
                                }
                            }
                        }

                        > .dropdown-toggle{
                            &:after{
                                transition: 0.3s ease;
                                content: dir-check("\f105", "\f104");
                                line-height: 18px;
                                opacity: 0;
                                color: #fff;
                                font-size: 20px;
                                height: 20px;
                                width:20px;
                                position: absolute;
                                #{$end}: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#breadcrumb-alt{
    .mc-breadcrumb{
        .le-le-dropdown{
            display:inline-block;
            float: $start;
            position: relative;

            .dropdown-menu{
                > li{
                    > a{
                        padding: 8px 16px;
                        border-bottom: 1px solid darken($second-color,10%)!important;;
                    }

                    &:last-child{
                        > a{
                            border-bottom:none!important;
                        }
                    }
                }
            }

            .dropdown-submenu > .dropdown-menu{
                top: 0 !important;
                margin-top: 0;
                #{$start}: 100% !important;
            }

            .yamm-fw{
                > .dropdown-menu{
                    min-width: 470%;
                    #{$end}: 0 !important;
                }

                .yamm-content {
                    padding:10px 20px;

                    li{
                        padding:5px 0;
                        border-bottom:1px solid darken($second-color,10%);
                        transition: 0.3s ease;

                        &:last-child{
                            border-bottom:0;
                        }

                        a{
                            color: $light-black;
                            line-height: 26px;
                            font-size: 14px;
                            padding-#{$start}: 5px;
                            padding: 0;
                        }

                        &:hover{
                            background-color: $second-color;
                        }
                    }

                    .dropdown-banner-holder{
                        position: absolute;
                        #{$end}: -19px;
                        top: 0;

                        a{
                            display: block;
                            padding: 0;
                            width:100%;
                        }
                    }
                }
            }
        }
    }
}

.dropdown-menu{
    z-index: 1020;
}

#top-megamenu-nav{
    margin: 33px 0 0 0;
    position: relative;
    z-index: 1010;

    .navbar{
        margin: 0;
    }

    .navbar-nav{
        > li{
            border-#{$end}: 1px solid;

            > a{
                font-weight: bold;
                padding: 18px 27px;

                &,&:focus{
                    color: #fff;
                }
            }

            > .dropdown-toggle{
                &:after{
                    content: none;
                }

                &:before{
                    display: none;
                    #{$start}: auto;
                    #{$end}: 45%;
                    bottom: -22%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-width: 5px;
                    margin-#{$start}: -5px;
                }
            }

            .dropdown-menu{
                > li{
                    > a{
                        padding: 8px 16px;
                        border-bottom: 1px solid darken($second-color,10%)!important;;
                    }

                    &:last-child{
                        > a{
                            border-bottom:none!important;
                        }
                    }
                }
            }
        }

        .dropdown{
            &.open{
                .dropdown-toggle{
                    &:before{
                        display: block;
                    }
                }
            }
        }
    }
}

.animate-dropdown{
    .open > .dropdown-menu,
    .open > .dropdown-menu > .dropdown-submenu > .dropdown-menu {
        animation-name: slidenavAnimation;
        animation-duration: 200ms;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        -webkit-animation-name: slidenavAnimation;
        -webkit-animation-duration: 200ms;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-out;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: slidenavAnimation;
        -moz-animation-duration: 200ms;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease-out;
        -moz-animation-fill-mode: forwards;
    }
}

@keyframes slidenavAnimation {
    from {
        margin-top: -30px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slidenavAnimation {
    from {
        margin-top: -30px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

.nav, .dropdown-menu{
    padding-#{$start}: 0 !important;
}

.yamm-content{
    .wpb_wrapper{
        > h3:first-child,
        > h2:first-child,
        > h4:first-child,
        > h5:first-child
        > h6:first-child{
            margin-top: 20px;
            font-weight: 600 !important;
            padding-top: 0;
        }
    }
}
