.entry-content li.product, li.product, .products div.product {
	&:hover {
		z-index: 999;

		.product-inner {
			box-shadow: 0 0 5px 0 #c6c6c6;
		}
	}

	.product-inner {
		border: 1px solid #ececec;
		height: 100%;
		position: relative;

		> a {
			display: block;
			padding: 34.05px;

			.ribbon {
				position: absolute;
				top: 10px;
				#{$start}: 0;
			}

			.product-thumbnail-wrapper {
				position: relative;
				height: 161px;

				> img {
					display: block;
					margin: 0 auto;
					max-width: 100%;
					max-height: 100%;
					height: auto;
					width: auto;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

					&.echo-lazy-loading {
						width: 100%;
					}
				}
			}

			.title-area {
				margin-top: 28px;
				height: 83px;

				> h3, .woocommerce-loop-product__title {
					@extend .product-item-title;
					margin-bottom: 5px;
				}
			}

			.mc-price-wrapper {
				display: block;
				border-top: 1px solid #ececec;
				padding: dir-values(9px 0);
				@extend .clearfix;
				text-align: $end;

				.amount {
					font-size: 18px;
					font-weight: 700;
				}

				del, del .amount {
					font-size: 14px;
				}

				del .amount {
					line-height: 25px;
				}

				> del {
					float: $start;
				}

				> ins {
					float: $end;
					max-width: 70%;
					text-decoration: none;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}

		.hover-area {
			position: relative;
			text-align: center;
			background-color: #FFF;
			border-top: 1px solid #ececec;

			.button {
				position: absolute;
				top: -20px;
				left: 50%;
				white-space: pre;
				transform: translateX(-50%);

				&:hover, &:active, &:focus {
					color: #fff;
				}
			}

			.added_to_cart {
				position: absolute;
				top: -20px;
				#{$start}: 50%;
				white-space: pre;
				transform: translateX(-50%);
				@include make-button();

				&:hover, &:active, &:focus {
					color: #fff;
				}
			}

			.add_to_cart_button {
				&.added {
					display: none;
				}
			}

			.action-buttons {
				width: 100%;
				padding: dir-values(30px 0 15px 0);
				text-align: center;

				.clear {
					display: none;
				}

				div, a, span, p {
					font-size: 12px;
					line-height: 24px;
					margin: 0;
					padding: 0;
				}

				> div, > a {
					display: inline-block;
					margin: dir-values(0 5px);
				}
			}
		}
	}
}
