/*===================================================================================*/
/*  Single Product Thumbnail Slider
/*===================================================================================*/

.single-product .site-main {
	.mc-wc-product-gallery {
		position: relative;

		.mc-wc-product-gallery__image  {
			a {
				display: block;
				margin-right: 10px;

				img {
					border: 1px solid #eaeaea;
					display: block;
					width: 100px;
					height: auto;
					margin: auto;
					padding: 5px;
					margin-bottom: 2px;
				}
			}
		}


		.flex-control-nav {
			display: flex;
			justify-content: center;
			padding: 15px 0;
			margin: 0;

			li {
				list-style: none;

				a {
					width: 8px;
					height: 8px;
					display: block;
					cursor: pointer;
					text-indent: -9999px;
					border-radius: 20px;
					background: #888;

					&.flex-active {
						width: 25px;
					}
				}

				&+li {
					margin-left: 7px;
				}
			}
		}
	}
}