/*===================================================================================*/
/*  Blog Page
/*===================================================================================*/

.sticky{
	padding: 30px;
	background-color: #f6f6f6;
	border: darken( #f6f6f6, 10%);
	box-shadow: 1px 2px 2px #ddd;
}

.post-navigation{
	.pull-left,
	.pull-right{
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		max-width: 48%;
	}
}

.no-sidebar{
	.center-block{
		#{$start}: -58px;
	}
}

.format-quote{
	padding: 60px 80px;
	background-color: $green-color;

	&:before{
	   	background: url("assets/images/background-images/testimonials.jpg") repeat scroll center center rgba(0, 0, 0, 0);
	    bottom: 0;
	    content: "";
	    #{$start}: 0;
	    opacity: 0.05;
	    position: absolute;
	    #{$end}: 0;
	    top: 0;
	}

	blockquote{
		border-#{$start}: 0;
		padding: 0;
		position: relative;

		&:after{
		   	content: dir-check("\f10e", "\f10d");
		    display: block;
		    font-family: fontawesome;
		    font-size: 40px;
		    line-height: 100%;
		    position: absolute;
		    bottom: 0;
		    #{$end}: 0;
		    color: #FFF;
		}

		p{
			font-size: 20px;
		    font-style: italic;
		    line-height: 160%;
		    color: #FFF;
		}

		footer{
			color: #FFF;

			&:after{
			  	background-color: #FFF;
			    content: "";
			    display: inline-block;
			    height: 1px;
			    margin-bottom: 0.28em;
			    width: 20px;
			    margin-#{$start}: 5px;
			}
		}
	}
}

.format-link{
	background-color: #ececec;
	padding: 80px;

	.post-title{
		font-size: 38px;
		line-height: 46px;
		font-weight: 600 !important;
		margin-bottom: 20px;

		> a{
			color: $title-color;
		}
	}
}

.posts{

	.owl-controls{
		display: block;
		margin-top: 10px;
	}

	.owl-inner-pagination.owl-inner-nav .owl-dots,
	.owl-inner-pagination.owl-outer-nav .owl-dots{
		top: 10px;
	}

	.owl-inner-pagination.owl-inner-nav:hover .owl-dots,
	.owl-inner-pagination.owl-outer-nav:hover .owl-dots{
		top: -5px;
	}

	&.sidemeta{
		padding-#{$start}: 68px;

		.format-wrapper{
			position: absolute;
			top: 75px;
			#{$start}: -56px;
			font-size: 25px;

			a{
				color: #a7a7a7;
			}
		}

		.date-wrapper{
			position: absolute;
			top: 0;
			#{$start}: -68px;
		}
	}

	.meta{
		padding: 18px 0;
		border-bottom: 1px solid #ececec;

		> li{
			display: inline;
			padding-#{$start}: 6px;
			padding-#{$end}: 6px;

			&, a {
				color: #9f9f9f;
				transition: 0.3s ease;
			}

			&:after{
				content: "\f111";
				color: #9f9f9f;
				font-family: fontawesome;
				font-size: 5px;
				padding-left: 15px;
				display: inline-block;
				top: -3px;
				position: relative;
				line-height: 5px;
			}

			@include if-ltr {
				&:first-child{
					padding-left: 0;

					&:before{
						content: none;
					}
				}
			}
		}
	}

	.post{
		margin-bottom: 100px;
		position: relative;

		.date-wrapper{
			text-align: center;
			display: table;
			float: $start;
			margin-#{$end}: 20px;

			.date{
				display: table-cell;
				vertical-align: middle;
				border-radius: 4px;
				width: 52px;
				height: 71px;
				background-color: $green-color;
				line-height: 24px;
				color: #FFF;

				.month{
					font-size: 15px;
					text-transform: uppercase;
					display: block;
				}

				.day{
					font-size: 18px;
					display: block;
				}
			}
		}
	}

	.post-entry{
		font-size: 16px;
		@include typo();
	}
}

.entry-content{
	@include typo();
}

.comment-content{
	@include typo( $font-size: 14px);
}


.blog-pagination{
	text-align: center;
	width: 100%;

	> li{
		display: inline-block !important;
	}
}

.format-status{
	.post-content{
		padding: 20px;
		background: #f9f9f9;
		box-shadow: 1px 1px 1px #ddd;
	}

	.media-heading{
		margin-bottom: 20px;
	}

	.media-body p{
		margin-bottom: 0;
	}

	.meta{
		border-bottom: 0;
		padding: 18px 0 0 0;
	}
}

.format-aside{
	.post-content{
		background-color: #f9f9f9;
		padding: 20px;
		box-shadow: 1px 1px 1px #ddd;

		> p{
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

.blog-sidebar{

	select{
		max-width: 100%;
	}

	.widget{
		margin-bottom: 55px !important;
		font-size: 14px;
		line-height: 24px;
		color: #868686;

		.widget-title{
			border-bottom: 1px solid #ececec;
			font-size: 24px;
			font-weight: 400 !important;
			line-height: 45px;
			margin-bottom: 20px;
			color: $title-color;
		}

		> ul, .menu{

			li{
				font-size: 12px;
				border-bottom: 1px solid #ececec;

				> a{
					color: #686868;
					font-weight: 600 !important;
					display: inline-block;
					padding: 6px 0;
					-ms-word-wrap: break-word;
					word-wrap: break-word;
					font-size: 14px;
					margin-#{$end}: 5px;
				}

				ul{
					padding-#{$start}: 15px;
				}

				&.current-cat{
					> a{
						font-weight: 700 !important;
					}
				}

				&:last-child{
					border-bottom: none;
				}
			}

			.recentcomments{
				font-size: 14px;
			}
		}

		.search-form{

			.form-group{
				float: $start;
			    margin-bottom: 0;
			    margin-#{$end}: -28px;
			    width: 100%;
			}

			.form-control{
				font-size: 14px;
		    	border: none;
		    	height: 42px;
		    	border-radius: 0px;
		    	background: none repeat scroll 0 0 #f6f6f6;
			    box-shadow: none;
			    color: #1A1A1A;
			    padding-#{$start}: 10px;
			    padding-#{$end}: 10px;

		    	&:focus{
		    		box-shadow: none;
		    	}
			}

			button{
	    		border: 0 none;
			    float: $start;
			    font-size: 13px;
			    margin: 0;
			    padding: dir-values(10px 10px 5px 0);
			    margin-top: 1px;
			    background: rgba(0,0,0,0);
	    	}
		}

		.recent-post-list{
			h5{
				margin: 0 0 7px 0;
				font-size: 14px;
			    font-weight: 300 !important;
			    line-height: 18px;

				a{
					color: #434343;
				}
			}

			.posted-date{
				color: #8f8f8f;
				font-size: 12px;
			}

			.sidebar-recent-post-item{
				margin-bottom: 20px;
				border-bottom: none;

				.mc-default-post-thumbnail{
					height: 75px;
					width: 75px;
					font-size: 30px;
					background-color: #d0d0d0;
					border-color: #d0d0d0;
					color: #fff;
					display: block;
					text-align: center;

					&:hover{
						background-color: #626262;
						border-color: #626262;
					}

					i{
						line-height: 75px;
					}
				}
			}

			img{
				height: 75px;
				width: 75px;
				overflow: hidden;
			}
		}
	}
}

/* Owl Carousel for Blog Post with Gallery */

.owl-carousel-blog{
	margin-bottom: 30px;

	.item{
		height: 430px !important;
	}

	.owl-prev, .owl-next{
		opacity: 0.8;
	}
}

/* Blog Post Author */

.blog-post-author {
    background: none repeat scroll 0 0 #F8F8F8;
    padding: 16px;
    margin-bottom: 60px;
    margin-top: 30px;

    .media{
		> .pull-left{
	    	margin-#{$end}: 28px;
	    }

	    .media-heading{
			font-size: 19px;
			margin: 15px 0px;

			> a{
				color: $content-color;
			}
	    }

	    .media-body{
	    	p{
				color: #7f7f7f;
				font-size: 16px;
				line-height: 25px;
	    	}
	    }
    }
}


/* Blog COmments */

#comments > h3{
	font-size: 24px;
	font-weight: 400 !important;
	border-bottom: 1px solid #ececec;
	margin-bottom: 35px;
	line-height: 40px;
}

.commentlist{
	list-style: none;
	padding: 0;

	.children{
		list-style: none;
	}
}

.comment-item{
	.comment-body{
		header{
			border-bottom: none;
		}

		.author{
			font-size: 15px;
			font-weight: 700;
			display: inline-block;
		}

		.date{
			color: #8c8c8c;
			margin-#{$end}: 15px;
		}

		.likes, .likes-count{
			margin-#{$end}: 15px;
		}

		.likes{
			a, .icon{
				color: #a7a7a7;
			}
		}

		.dislikes{
			.icon{
				color: #a7a7a7;
			}
		}

		.comment-reply{
			color: $title-color;
		}

		.comment-content{
			margin-top: 15px;
			color: $content-color;
			font-size: 14px;
			line-height: 22px;
		}
	}
}

.entry-content{
	h2{
        color: $title-color;
        font-size: 28px;
        line-height: 36px;
        font-weight: normal !important;
        padding-bottom: 14px;
        margin-bottom: 12px;
    }

    .title-area h3 {
    	font-weight: 700 !important;
    }

    h3{
        color: $title-color;
        font-size: 20px;
        line-height: 28px;
        font-weight: normal !important;
        padding-bottom: 8px;
        margin-bottom: 7px;
    }

    dt, dd, p, li, address{
        color: $content-color;
        font-size: 16px;
        line-height: 28px;
    }

    p, ol, ul{
    	margin-bottom: 20px;
    }

    iframe{
    	width: 100%;
    	border: none;
    }

    .nav-tabs{
    	margin-bottom: 0;
    }
}

.woocommerce-error{
	li{
		color: #a94442 !important;
	}
}

/* Reply Block */

#respond{
	h3{
		font-size: 24px;
		font-weight: 400 !important;
		border-bottom: 1px solid #ececec;
		line-height: 40px;
	}

	p{
		margin-top: 15px;
		color: $content-color;
	}

	.field-row{
		margin-bottom: 25px;
	}

	.reply-form{
		margin-top: 40px;
	}
}

#reply-block .le-input{
	padding:9px;
}

.post-comment-button{
	font-size:16px;
	margin-bottom:70px;
}

.post-media{
	margin-bottom: 30px;

	img{
		max-width: 100%;
		height: auto;
	}
}

#blog-single .posts .post{
	margin-bottom: 40px;
}

.single-col-grid{
	.date-wrapper{
		> a {
			width: 52px;
			height: 72px;
			display: block;
			text-align: center;
			border: 1px solid #e0e0e0;
			border-radius: 2px;
			color: #434343;

			.date{
				margin-top: 9px;
			}

			.month{
				font-size: 15px;
				line-height: 24px;
				display: block;
				text-transform: uppercase;
			}

			.day{
				font-size: 18px;
				line-height: 24px;
				display: block;
			}
		}
	}

	.format-wrapper{
		text-align: center;
		margin-top: 14px;

		a{
			color: #a7a7a7;
			font-size: 24px;
		}
	}

	.post-single-col-grid{
		margin-bottom: 78px;

		.date-format-container{
			margin-#{$end}: 17px;
		}

		.post-thumbnail{
			display: block;
		}

		.mc-default-post-thumbnail{
			height: 265px;
			width: 265px;
			background-color: #d0d0d0;
			border-color: #d0d0d0;
			color: #fff;
			display: block;
			text-align: center;

			&:hover{
				background-color: #626262;
				border-color: #626262;
			}

			i{
				line-height: 265px;
				font-size: 78px;
			}
		}

		.post-title{
			font-weight: normal !important;

			> a {
				color: #434343;
				font-size: 28px;
			}
		}

		.excerpt{
			font-size: 14px;
			line-height: 24px;
			color: #747474;
			padding: 20px 0;

			p{
				margin: 0;
			}
		}
	}
}

.two-col-grid{
	.post-two-col-grid{
		margin-bottom: 78px;

		.post-thumbnail{
			display: block;
			margin-bottom: 45px;
			max-width: 100%;
		}

		.mc-default-post-thumbnail{
			height: 245;
			width: 430px;
			max-width: 100%;
			background-color: #d0d0d0;
			border-color: #d0d0d0;
			color: #fff;
			display: block;
			text-align: center;

			&:hover{
				background-color: #626262;
				border-color: #626262;
			}

			i{
				line-height: 245px;
				font-size: 72px;
			}
		}

		.post-title{
			font-weight: normal !important;

			> a {
				color: #434343;
				font-size: 28px;
			}
		}

		.excerpt{
			font-size: 14px;
			line-height: 24px;
			color: #747474;
			padding: 20px 0;

			p{
				margin: 0;
			}
		}
	}
}
