/*===================================================================================*/
/*  Checkout Page
/*===================================================================================*/

.woocommerce-checkout {

    .entry-content {
        @extend .clearfix;
    }

    .woocommerce-billing-fields h3,
    .woocommerce-shipping-fields h3,
    .shipping-details-title {
        @extend .checkout-page-title;
    }

    .woocommerce {
        @include make-lg-column(8);
        @include make-lg-column-offset(2);

        header {
            border: none;
            padding: 20px 0;
        }
    }

    .shipping-details-title {
        margin: 66px 0 25px 0;
    }

    .woocommerce-billing-fields, .woocommerce-shipping-fields {

        .form-row-first, .form-row-last {
            @include make-xs-column(12);
            @include make-sm-column(6);
        }

        .form-row-wide {
            @include make-xs-column(12);
        }

        .form-row-first {
            padding-#{$start}: 0;
        }

        .form-row-last {
            padding-#{$end}: 0;
        }

        .form-row-wide {
            padding: 0;
        }

        .clear {
            @extend .clearfix;
        }

        .form-row {
            margin-bottom: 20px;

            .input-checkbox, .input-radio {
                float: $start;
                margin-top: 18px;
                margin--#{$end}: 10px;
            }

            .select2-container .select2-choice {
                padding: 9px;
            }
        }
    }

    table > thead > tr > th:first-child,
    table > thead > tr > td:first-child,
    table > tbody > tr > th:first-child,
    table > tbody > tr > td:first-child,
    table > tfoot > tr > th:first-child,
    table > tfoot > tr > td:first-child {
        padding-#{$start}: 0;
    }
}

#payment {
    @extend .clearfix;
    margin: 90px 0 0 0;

    .create-account {
        clear: both;
    }

    .payment_methods {
        margin: 0 !important;
        border-bottom: 1px dotted #e0e0e0;
        padding: 0 !important;

        li {
            list-style: none !important;
            padding: 1.387em !important;
            border-bottom: 1px dotted #e0e0e0;
            margin-#{$start}: 0;

            img {
                float: $end;
                border: 0;
                padding: 0;
                max-height: 1.618em;
            }

            &:last-child {
                padding-bottom: 0;
                border-bottom: 0;
            }

            label {
                width: 92%;
                padding-top: 0 !important;
                margin-#{$start}: .618em;
                font-weight: bold;
            }

            p {
                margin: 0;
            }

            .payment_box {
                padding: 1.387em;
                margin: 1.387em -1.387em -1.387em -1.387em;
                background: rgba(0,0,0,0.035);
                border-top: 1px dotted #e0e0e0;

                fieldset {
                    border: 0;
                    margin: 0;
                    padding: 1em 0 0 0;
                    font-size: .857em;

                    label {
                        width: auto;
                        margin-#{$start}: 0;
                    }

                    .form-row {
                        margin-bottom: 1em;
                    }

                    .form-row-first {
                        select {
                            width: 48%;

                            &:nth-child(2n) {
                                float: $end;
                            }
                        }
                    }

                    #cvv {
                        width: 22% !important;
                    }

                    .help {
                        width: 75%;
                        float: $end;
                    }
                }
            }
        }
    }

    .terms {
        float: $start;
        margin-bottom: 0;
        margin-top: 1em;

        label {
            display: inline;
        }

        input {
            display: inline-block;
            width: auto;
            float: $start;
            position: relative;
            margin: dir-values(.527em .53em 0 0);
        }
    }

    .place-order {
        margin: 23px 0 52px 0;
        @extend .clearfix;

        .button {
            float: $end;
        }

        input[type="submit"],
        button[type="submit"] {
            padding: 15px 34px;
            display: inline-block;
            line-height: 20px;
            border: none;
            font-size: 15px;
            color: #fff;
            border-radius: 4px;
            transition:all 0.3s ease;
        }
    }
}

#ship-to-different-address {
    font-size: 14px;
    color: #3d3d3d;
    margin: 10px 0 35px 0;
    padding: 0;
    line-height: 1.42857143;
    border: none;
    position: relative;

    label, label.checkbox {
        margin: dir-values(0 0 0 20px);
    }

    input[type="checkbox"] {
        position: absolute;
        top: 0;
        #{$start}: 0;
    }
}

#customer_details {
    padding-bottom: 25px;

    .col-1, .col-2 {
        width: 100%;
    }

    .col-2 {
        @extend .clearfix;
    }
}

#order_review_heading {
    @extend .checkout-page-title;
    margin: 58px 0 16px 0;
}

.woocommerce-checkout-review-order-table {
    display: block;
    @extend .clearfix;

    thead {
        display: none;
    }

    tbody, tr, td {
        display: block;
    }

    > tbody > tr.cart_item,
    > thead > tr, {
        @include make-row();
        @extend .clearfix;
        border-bottom: 1px solid #e0e0e0;
        padding: 24px 0 25px 0;
        margin: 0;

        > td {
            border: none;
        }

        > td.product-name {
            @include make-xs-column(12);
            @include make-sm-column(10);
            padding: 0;
            position: relative;

            .product-name-wrap {
                @include make-sm-column-offset(1);
                @include make-xs-column-offset(2);
                font-weight: 600;
                color: #3d3d3d;
                line-height: 27px;
                padding-#{$start}: 15px;
            }

            dl.variation {
                @include make-sm-column-offset(1);
                @include make-xs-column-offset(2);
                margin-bottom: 0;
                padding-#{$start}: 15px;

                dt, dd, dd > p {
                    font-size: 14px;
                    line-height: 20px;
                    float: $start;
                    margin: 0;
                }

                dt {
                    padding-#{$end}: 5px;
                }
            }

            .product-quantity {
                position: absolute;
                top: 0;
                #{$start}: 0;
                font-weight: 700;
                font-size: 18px;
                display: block;
                margin: 14px 0 0 0;
                color: #3d3d3d;
            }
        }

        > td.product-total {
            @include make-xs-column(12);
            @include make-sm-column(2);
            padding: 0;
            text-align: $end;

            .amount {
                font-weight: 800;
                font-size: 17px;
                line-height: 46px;
            }
        }
    }

    tfoot {
        @include make-xs-column(12);
        @include make-lg-column(7);
        @include make-lg-column-offset(5);
        padding: 44px 0 0 0;

        > tr {

            > th {
                color: #434343;
                font-size: 14px;
                text-transform: uppercase;
                min-width: 150px;
            }

            > td {
                text-align: $end;
            }
        }
    }
}

#order_review > table.woocommerce-checkout-review-order-table {
    tfoot {
        > tr {
            display: table;
            width: 100%;

            > th, > td {
                padding: 7px 0;
                display: table-cell;
                border-top: none;
                line-height: 16px;

                .amount {
                    font-weight: bold;
                }
            }

            &.shipping {
                > th, > td {
                    padding-bottom: 23px;
                    border-bottom: 1px solid #e0e0e0;
                }

                > td {
                    > p {
                        font-size: 14px;
                        line-height: 20px;
                        margin-bottom: 0;
                    }
                }
            }

            &.order-total {
                > th, > td {
                    padding-top: 11px;
                    vertical-align: middle;
                }

                .amount {
                    font-size: 21px;
                    line-height: 30px;
                }
            }
        }
    }
}

#shipping_method {
    padding-#{$start}: 0;
    margin-bottom: 0;

    > li {
        list-style: none;
    }
}

select.shipping_method {
    height: 25px;
    background-color: #ececec;
    border: none;
    border-radius: 0;
    font-size: 12px;
}

.entry-content .order_details,
.order_details {
    padding-#{$start}: 0;

    > li {
        list-style: none;
    }
}

dl.variation {
    dt, dd, dd > p {
        font-size: 14px;
        line-height: 20px;
        float: $start;
        margin: 0;
    }

    dt {
        padding-#{$end}: 5px;
    }
}
