/*===================================================================================*/
/*  Home Page
/*===================================================================================*/

#top-banner-and-menu{
    margin: 27px 0 0 0;

    &.homepage2{
        background-color: darken($second-color,1%);
        margin: 0;
    }
}

.homebanner-holder{
    @extend .no-margin;
    width: 78.5%!important;
    padding-#{$start}: 20px;
}

.homebanner-slider{
    position:relative;

    &:hover{
        .nav-holder{
            opacity: 1;
        }
    }

    .nav-holder{
        opacity: 0;
        width: 100%;
        display: block;
        z-index: 100;
        position: absolute;
        top: 40%;
        transition: 0.3s ease;

        .btn-prev,.btn-next{
            position: absolute;
            font-size: 100px;

            &:hover{
                color:#333;
            }
        }

        .btn-prev{
            #{$start}:10px;
        }

        .btn-next{
          #{$end}:10px;
        }
    }
}

.homebanner{
    display:inline-block;

    a{
        display: block;

        &:hover{
            opacity: 0.9;
        }
    }
}

#owl-main{
    .caption{
        letter-spacing: -3px;
        color: $light-black;
        position: absolute;
        z-index:100;
        top: 11%;
        #{$start}: 5%;

        &.right{
            #{$start}:auto;
            #{$end}: 2%;
            top: 10%;
        }

        .big-text{
            @extend .uppercase;
            font-size: 50px;
            line-height:64px;

            .big{
                display: block;
                font-size: 90px;
                font-weight: 800;
                line-height: 70px;
                top: -11px;
                #{$start}: 9px;
                position: relative;

                .sign{
                    font-size: 42px;
                    vertical-align: super;
                }
            }
        }

        .excerpt{
            @extend .uppercase;
            font-size: 28px;
            letter-spacing: -1px;
            margin-top: 15px;
            line-height: 28px;
        }

        .small{
            margin: 11px 0;
            letter-spacing: -1px;
        }

        .button-holder{
            margin: 31px 0 0;

            a{
                letter-spacing: 0px;
            }
        }
    }
}

.banner{
    > a{
        display: inline-block;
        position: relative;
        overflow: hidden;
    }

    img{
        position: relative;
        transition: 0.3s ease;
        width: 100%;
        height: auto;
    }

    &:hover{
       img{
            /*@include rotate-scale(-1deg, 1.1);*/
            -webkit-animation-duration: 1s;
            animation-duration: 1s;

            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;

            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;

            opacity: 0.9;
        }
    }

    .banner-text{
        position: absolute;
        color: $black;
        top: 30%;
        z-index: 200;
        width: 100%;
        padding: 0 4%;

        &.theblue{
            h1,.tagline{
                 color:#4F6276;
            }
        }

        &.right{
            #{$end}: 4%;
            #{$start}: auto;
        }

        .banner-title{
            font-size: 36px;
            font-weight: 800!important;
            line-height: 38px;
            padding: 0;
            margin: 0;
        }

        .tagline{
            font-weight: 100;
            font-size: 20px;
            line-height: 33px;
        }
    }
}

#banner-holder{
    margin: 23px 0;
}

#products-tab{
    margin: 50px 0 20px 0;

    .image{
        min-height: 215px;
    }
}

.nav-tabs{
    border:none;

    &,li,a,ul{
        transition: 0.3s ease;
    }

    &.simple{
        li{
            a{
                border-bottom: 1px solid darken($second-color,10%);
            }

            &.active{
                a{
                    padding: 14px 44px;
                    background-color: #fff;
                    color: $black;
                    border: 1px solid darken($second-color,10%);

                    &:hover{
                        background-color: darken($second-color,10%);
                        color: $black;
                        border: 1px solid darken($second-color,15%);;
                    }
                }
            }
        }
    }

    li{
        float:none;
        display:inline-block;
        vertical-align:bottom;

        a{
            border: none;
            color: $black;
            background-color: $second-color;
            font-size: 15px;
            line-height: 13px;
            padding: 18px 39px;
            margin: 0 3px;
        }

        &.active{
            a{
                margin-#{$start}: 0 !important;
                font-size: 19px;
                line-height: 30px;
                padding: 16px 53px;
                font-weight: 600;

                &,&:focus{
                    color:#fff!important;
                    border:none!important;
                }

                &:hover{
                    cursor: pointer;
                    color:#fff;
                    border:none;
                }
            }
        }
    }
}

.btn-loadmore{
    color: lighten($black,10%);
    display: inline-block;
    text-align: center;
    margin: 21px 0;

    &:hover{
        i{
            &:before{
                color:#fff;
            }
        }
    }

    i{
        vertical-align: middle;
        display: inline-block;
        background-color: $second-color;
        border-radius: 5px;
        width: 22px;
        height: 22px;
        position: relative;
        transition: 0.3s ease;

        &:before{
            color:lighten($black,10%);
            display: inline-block;
            width: 10px;
            height: 10px;
            font-size: 10px;
            line-height: 12px;
            vertical-align: middle;
            text-align: center;
            @extend .center-absolute;
            transition: 0.3s ease;
        }
    }
}
