/*===================================================================================*/
/*  Single Product Page
/*===================================================================================*/

.wc-single-product {

    .site-content {
        padding-bottom: 40px;
    }
}

.shop_attributes{
    width: 100%;

    tbody{
        th{
            margin: 0;
            width: 300px;
            font-weight: 700;
            vertical-align: top;
        }

        th,td{
            padding: 7px 0;
            border-bottom: 1px solid #e0e0e0;

            &,
            & p{
                color: #3d3d3d;
                font-size: 14px;
                margin-bottom: 0;
            }
        }

        tr{
            &:last-child{
                th, td{
                    border-bottom: 0;
                }
            }
        }
    }
}

.single-product .site-main {

    .product-action-buttons {
        > div, > a {
            margin-#{$end}: 15px;
            display: inline-block;
        }

        .clear {
            display: none;
        }
    }

    .images-and-summary-wrapper {
        padding-bottom: 40px;

        .images-and-summary {
            @include make-row();
            @extend .clearfix;
        }

        .product-images {
            @include make-xs-column(12);
            @include make-sm-column(8);
            @include make-sm-column-offset(2);
            @include make-md-column(6);
            @include make-md-column-offset(3);
            @include make-lg-column(5);
            @include make-lg-column-offset(0);
            position: relative;
        }

        .summary {
            @include make-xs-column(12);
            @include make-sm-column(12);
            @include make-md-column(12);
            @include make-lg-column(7);
        }
    }

    .woocommerce-product-gallery {
        position: relative;

        .woocommerce-product-gallery__trigger {
            position: absolute;
            top: 10px;
            right: 10px;
            display: block;
            height: 2em;
            width: 2em;
            border-radius: 3px;
            z-index: 99;
            text-align: center;
        }

        .woocommerce-product-gallery__image {
            text-align: center;
        }

        img {
            margin: 0 auto;
            height: auto;
        }

        .flex-viewport {
			margin-bottom: 2.2em;
		}

        .flex-control-thumbs {
			@include clearfix;
			margin: 0;
			padding: 0;
			display: flex;
			flex-flow: row wrap;

			li {
				list-style: none;
				cursor: pointer;
				margin:0 10px 10px 0;

				img {
					border: 1px solid #eaeaea;
                    opacity: .5;
                    transition:all 0.2s ease;

					&.flex-active {
						// border-bottom-width: 2px;
						// border-bottom-style: solid;
                        border-bottom: none;
                        opacity: 1;
					}
				}

                &:hover {
                    img {
                        opacity: 1;
                    }
                }
			}
		}

		&.woocommerce-product-gallery--columns-2 {
			.flex-control-thumbs {
				li {
					flex: 0 1 calc(50% - 8px);

					&:nth-child(2n) {
						margin-right: 0;
					}
				}
			}
		}

		&.woocommerce-product-gallery--columns-3 {
			.flex-control-thumbs {
				li {
					flex: 0 1 calc(35% - 8px);

					&:nth-child(3n) {
						margin-right: 0;
					}
				}
			}
		}

		&.woocommerce-product-gallery--columns-4 {
			.flex-control-thumbs {
				li {
					//@include span( 1 of 4 );
					flex: 0 1 calc(25% - 8px);

					&:nth-child(4n) {
						margin-right: 0;
					}
				}
			}
		}

		&.woocommerce-product-gallery--columns-5 {
			.flex-control-thumbs {
				li {
					//@include span( .8 of 4 );
					flex: 0 1 calc(20% - 8px);

					&:nth-child(5n) {
						margin-right: 0;
					}
				}
			}
		}
    }

    .ribbon {
        position: absolute;
        #{$start}: 15px;
    }

    .thumbnails {
        margin: dir-values(10px 0 0 0);

        img {
            width: 73px;
            height: 73px;
        }

        .owl-controls{
            margin-top: 0;

            .owl-dots{
                .owl-dot{
                    span{
                        height: 8px;
                        width: 8px;
                        margin: dir-values(0 2px);
                    }
                }
            }
        }

        .owl-stage-outer{
            padding-bottom: 1px;
        }

        .zoom{
            width: 100%;
            display: block;
            border: 1px solid darken($second-color,10%);

            img{
                max-width: 100%;
                height: auto;
            }
        }
    }

    .woocommerce-main-image {
        display: block;
        padding: 20px;
        border: 1px solid darken($second-color,10%);

        img{
            max-width: 100%;
            display: block;
            height: auto;
            margin: 0 auto;
        }
    }

    div[itemprop="description"],
    .woocommerce-product-details__short-description{
        margin: 22px 0;
        color: $content-color;
        font-size: 16px;
        line-height: 28px;

        ul{
            padding-#{$start}: 15px;
        }
    }

    .quantity {
        display: inline-block;
        margin-#{$end}: 18px;

        .input-text.qty {
            padding: 14px 10px;
            font-size: 18px;
            height: 56px;
        }
    }

    .summary {
        > form.cart {
            margin: 24px 0;
        }
    }

    .single_variation_wrap {
        .single_variation {
            margin-bottom: 20px;
        }
    }

    .product_meta {
        font-weight: 600;
        font-size: 12px;

        > span {
            &::after {
                content: " ,  ";
                font-weight: normal;
            }

            &:last-child{
                &::after {
                    content: none;
                }
            }
        }
    }

    .owl-dots .owl-dot:only-child {
        display: none;
    }

    .wc-tabs-wrapper {
        padding: 20px 0 40px 0;
    }

    .wc-tabs {
        @extend .clearfix;
        height: 58px;
        list-style: none;
        margin-#{$start}: -3px;

        > li {
            display: inline-block;
            position: relative;
            vertical-align: bottom;

            > a {
                border-radius: br-values(4px 4px 0 0);
                display: block;
                position: relative;
                font-size: 15px;
                line-height: 13px;
                padding: dir-values(18px 39px);
                margin: dir-values(0 3px);
                background-color: #f9f9f9;
                color: #3d3d3d;
                border-bottom: 1px solid #e0e0e0;
            }

            &.active {
                > a {
                    font-size: 19px;
                    line-height: 30px;
                    padding: dir-values(14px 44px);
                    font-weight: 600;
                }
            }
        }
    }

    .wc-tab {
        border: 1px solid #e0e0e0;
        padding: 35px;
        border-radius: 0;
    }

    table.group_table {
        @include make-table();
        margin-bottom: 20px;

        > tbody > tr > td {
            border-top: none;
        }

        td.label {
            display: table-cell;
            color: inherit;
            font-weight: inherit;
            text-align: inherit;
            white-space: inherit;
            padding: inherit;
            font-size: inherit;
            line-height: inherit;
            vertical-align: middle;

            label {
                margin-bottom: 0;

                > a {
                    @extend .product-item-title;
                }
            }
        }

        td.price {
            vertical-align: middle;

            .mc-price-wrapper {
                display: block;

                > ins > .amount,
                > del > .amount,
                .amount {
                    color: #301c53;
                    font-size: 18px;
                    font-weight: 700;
                    text-align: $end;
                }

                > ins {
                    float: $start;
                    margin-#{$end}: 10px;
                }

                > del > .amount {
                    text-decoration: line-through;
                    color: #c6c6c6;
                    font-size: 12px;
                    font-weight: normal;
                }
            }
        }
    }

    table.variations {
        @include make-table();
        margin-bottom: 20px;

        > tbody > tr > td,
        > tbody > tr > th {
            border-top: none;
        }

        td.label {
            display: table-cell;
            color: inherit;
            font-weight: inherit;
            text-align: inherit;
            white-space: inherit;
            padding: inherit;
            font-size: inherit;
            line-height: inherit;
            vertical-align: middle;

            label {
                margin-bottom: 0;
            }
        }

        td.value {
            select {
                height: 34px;
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 0;
                font-size: 14px;
            }

            .reset_variations {
                color: #7d7d7d;
                border-bottom: 1px dotted #e0e0e0;
                font-size: 12px;
                margin-#{$start}: 15px;

                &:hover {
                    color: #333;
                }
            }
        }
    }

    .single_add_to_cart_button {
        padding: 18px 52px;
    }

    .summary .amount {
        font-size: 40px;
    }

    .amount {
        color: #28124A;
    }

    del, del .amount {
        color: #e0e0e0;
        font-weight: 600;
        font-size: 14px;
    }

    .mc-price-wrapper {
        @extend .clearfix;

        > del {
            line-height: 25px;
        }

        > ins {
            float: $start;
            margin-#{$end}: 15px;
        }
    }

    div[itemprop="offers"],
    .sale p.price,
    .sale{
        .price, .amount {
            font-size: 40px;
        }

        del, del .amount {
            font-size: 20px;
        }

        .mc-price-wrapper {

            > del {
                line-height: 60px;
            }

            > ins {
                font-size: 40px;
            }
        }
    }

    .product-brand {
        line-height: 22px;
        padding-bottom: 7px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .single-product-title {
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 15px;
    }

    .new-review-form{
        margin: 53px 0 0 0;

        .field-row{
            margin-bottom: 36px;
        }

        h2{
            font-size: 22px;
            line-height: 36px;
        }

        form{
            margin: 27px 0 0 0;
        }

        .star-row{
            margin-bottom: 27px!important;

            .star-holder{
                padding: 9px 0 0 0;
            }
        }

        .buttons-holder{
            margin: -16px  0px 0 0px;
            text-align: $end;

            button{
                padding: 14px 31px;
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .single-product .site-main .wc-tabs {
        height: auto;

        > li {
            display: block;

            > a {
                border-radius: 0;
                border-left: 1px solid #e0e0e0;
                border-right: 1px solid #e0e0e0;
            }
        }
    }
}
