<span style='color: #000' title='Frames'>    98</span><span style='color: #009' title='Memory'>  22528.00 KB</span><span style='color: #900' title='Time'>   1829.78 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />