#footer {
	ul.product_list_widget {
		> li {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 20px;
			}

			img,
			.wp-post-image {
				float: $end;
			}

			.product-title {
				color: #0e53a5;
				font-weight: 700;
			}

			.mc-price-wrapper {
				margin-#{$start}: 0;
				
				.amount, ins, ins > .amount {
					font-size: 15px;
					line-height: 21px;
					font-weight: normal;
				}
			}
		}
	}
}