ul.product_list_widget {
	list-style: none;
	padding: 0;

	> li {
		@extend .clearfix;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}

		img,
		.wp-post-image {
			float: $start;
			border: 1px solid #e0e0e0;
			display: inline-block;
			margin-#{$end}: 10px;
			width: 73px;
			height: 73px;
		}

		.product-title {
			color: #3d3d3d;
			display: block;
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 5px;
			font-weight: 600;
		}

		.mc-price-wrapper {
			line-height: 28px;
			font-size: 15px;
			margin-#{$start}: 83px;
			display: block;

			.amount {
				font-weight: 700;
				color: #5d5d5d;
			}

			del, del > .amount {
				font-size: 11px;
				color: #c6c6c6;
				font-weight: normal;
			}

			ins, ins > .amount {
				text-decoration: none;
			}
		}
	}
}