html#ecwid_html {
	body#ecwid_body {

		.ecwid div.ecwid-Checkout {
       		div.ecwid-Checkout-blockTitle, 
       		table.ecwid-Checkout-blockTitle div.gwt-Label, 
       		table.ecwid-Checkout-blockTitle div.gwt-HTML {
       		 	@extend .checkout-page-title;
       		 	max-width: 100% !important;
       		}

       		table.ecwid-Checkout-blockTitle,
       		table.ecwid-fullWidth.ecwid-AddressForm-name-envelope {
       			width: 100% !important;
       		 	max-width: 100% !important;
       		}

       		table.ecwid-Checkout-blockTitle {
       			margin: 30px 0 15px !important;
       		}
       		
	 		.ecwid-btn--secondary {
	 			&.ecwid-btn--address_book_sign_in {
	 				margin: 0 !important;
          padding: 6px 11px !important;
          font-size: 11px !important;
	 			}
	 		}

       		div.ecwid-floatLeftPanel {
       			width: 100%;
            margin-#{$end}: 0 !important;
       		}

       		div.ecwid-AddressForm div.ecwid-form {
       			padding: 0 !important;
       			width: 100% !important;
       			background: transparent !important;
       		}

       		div.ecwid-fieldWrapper {
       			margin-bottom: 20px;

            table {
                width: 100% !important;
              }
       		}



       		table.ecwid-AddressForm-state select,
       		table.ecwid-AddressForm-country select {
			    width: 100% !important;
       		}

       		div.ecwid-AddressForm-secureLockIcon {
       			bottom: 0px !important;
       			#{$end}: 0px !important;
       		}

       		.ecwid-floatLeftPanel.ecwid-Checkout-DeliveryMethod,
       		div.ecwid-Checkout-EmailBlock,
       		div.ecwid-Checkout-PasswordBlock  {
       			table,
       			div.ecwid-form {
       				width: 100% !important;
       			}

       			div.ecwid-form {
       				padding: 30px !important;
       				background: #f6f6f6 !important;

       				input.gwt-TextBox,
       				input.gwt-PasswordTextBox {
       					width: 100% !important;
       				}
       			}
       		}

       		div.ecwid-Checkout-PasswordBlock-tip {
       			color: #3d3d3d !important;
       		}

       		div.ecwid-AddressForm {

       			td[align="center"] {
       				text-align: $start !important;
       			}

   				.ecwid-btn--secondary-inverse {
   					padding: 15px 0 !important;
   					border:none!important;
   					box-shadow: none;

   					td {
   						color: #3d3d3d !important;
   						font-size: 14px !important;
   						font-weight: 700;
   					}
   				}
       			
       		}

		}

    .ecwid-Checkout {
      & > .ecwid-productBrowser-head-panel + div>div>div {
        display: flex !important;
      }
      .ecwid-Checkout-ShippingAddress {
        padding-right: 20px;
        width: 100%;

        .ecwid-Checkout-blockTitle {
          td>div {
            display: flex;
            align-items: center;
          }
        }

        form .ecwid-AddressForm-fields {
          padding: 20px 15px;

          .ecwid-fieldWrapper {
            display: flex;
            margin-bottom: 3px;

            .ecwid-fieldLabel {
              width: 210px !important;
              font-weight: 400 !important;
              font-size: 14px !important;
            }

            &>table {
              width: 68.5% !important;
            }
          }
        }        
      }

      .ecwid-Checkout-DeliveryMethod {
        width: 60% !important;
      }

      .ecwid-productBrowser-head {
        font-size: 25px !important;
        padding: 0px !important;
        line-height: 1 !important;
        font-weight: 400 !important;
      }

      .gwt-HTML {
          font-size: 18px !important;
          border-bottom: none !important;
          padding: 0px !important;
          margin-bottom: 0px !important;
          margin-bottom: 1px !important;
          line-height: 1 !important;
      }

      .ecwid-Checkout-DeliveryMethod {
        .gwt-HTML {
          margin-bottom: 24px !important;
        }

        .ecwid-AccentedContinueButton {
          .ecwid-btn--primary {
            font-weight: 400 !important;
          }
        }
      }

      .ecwid-Checkout-ShippingAddress-container {
        background-color: #f6f6f6 !important;
      }

      .ecwid-shippingOption {
        label,
        .ecwid-shippingOption-rate {
          font-weight: 400;
        }
      }
    }

    .ecwid .ecwid-productBrowser-CheckoutPaymentDetailsPage {

      .ecwid-PaymentMethodSelector {
            padding-right: 20px;
            width: 75% !important;

        .ecwid-productBrowser-head {
          font-size: 22px !important;
        }

        div.ecwid-Checkout-blockTitle {
          font-size: 20px !important;
          border-bottom: none !important;
          line-height: 1 !important;
          padding: 0px !important;
          margin-bottom: 19px !important;
        }        
      }

      div.ecwid-Checkout-blockTitle {
        font-size: 20px !important;
        border-bottom: none !important;
        line-height: 1 !important;
        padding: 0px !important;
        margin-bottom: 19px !important;
      }

      .ecwid-form {
        padding: 14px 20px;
        background-color: #f4f4f4;

        .ecwid-fieldEnvelope .ecwid-fieldEnvelope-around textarea {
          background-color: #fff !important;
          border: 1px solid #bfbfbf !important;
        }

        .ecwid-PaymentMethodsBlock-PaymentOption label {
          font-weight: 400;
          font-size: 14px;
        }

        .ecwid-fieldWrapper {
          display: flex
        }
      }

      .ecwid-Checkout-PaymentRightPanel {

        .ecwid-Checkout-EmailBlock,
        .ecwid-Checkout-PasswordBlock {
          .ecwid-form {
            padding: 20px 30px 20px 15px !important;
          }
        }

        .ecwid-btn--secondary {
          padding: 5px 34px !important;
          font-size: 11px !important;
        }
        
        .ecwid-form {
          padding: 20px !important;

          .ecwid-fieldWrapper {
            margin-bottom: 2px;
            display: flex;
            align-items: center;

            label {
              width: 30% !important;
              font-weight: 400 !important;
              font-size: 14px !important;              
            }

            input {
              border: 1px solid #bfbfbf !important;
            }

            &>table.ecwid-fieldEnvelope {
              width: 74% !important;
            }
          }
        }

        .ecwid-Checkout-PasswordBlock {
          .ecwid-Checkout-blockTitle-text {
            line-height: 1.5;
          }

          .ecwid-Checkout-PasswordBlock-tip {
            line-height: 1.8;
          }
        }

        .ecwid-Checkout-BillingAddress-container {
          background: #f6f6f6;

          .ecwid-AddressForm-fields-topPanel>table{
            margin-bottom: 0px;

            td {
              text-align: center !important;
              
              .ecwid-btn--secondary {
                padding-bottom: 0px !important;

                td {
                  vertical-align: middle !important;

                  .gwt-HTML {
                    font-size: 14px !important;
                    font-weight: 400 !important;
                  }
                }
              }
            }
          }

          .ecwid-AddressForm-fields {
            padding: 0px 30px 40px 18px;

            table {
              width: 74% !important;

              table { 
                width: 100% !important;
              }
            }
          }
        }
      }
    }
	}
}