.ecwid-home-page-tabs {
	.product {
		float: $start;
		width: 25%;

		@media (max-width: 767px) {
			width: 100%;
		}
	}
}

.ecwid-favorite {
	position: absolute;
	top: 10px;
	#{$start}: 10px;
	display: none;
	

	span {
		font-size: 14px;
		line-height: 16px;
		color: #747474;

		&:before {
			content: "\f08a";
			font-family: FontAwesome;
			color: #747474;
			margin-#{$end}: 5px;
		}
	}
}

.carousel-holder,
.ecwid-home-page-tabs {
	.product {
		&:hover,
		&:focus {
			.ecwid-favorite {
				display: block;
			}
		}
	}
}