html#ecwid_html {
	body#ecwid_body {

		.top-cart-row-container {
			position: relative;
		}

		.widget.widget_ecwid_minicart {
			position: absolute;
			top: -70px;
			#{$end}: 0;
			display: inline-block;

			.widgettitle {
				display: none;
			}
		}

		.widget.widget_ecwid_minicart_miniview {
			position: absolute;
			top: 0;
			#{$end}: 0;
			text-align: #{$end} !important;
			height: 100%;

			.widgettitle {
				display: none;
			}
		}

		.widget.widget_ecwidnsfminicart{
			display: inline-block;
			position: absolute;
			right: 0;

			h2 {
				display: none;
			}

			.ec-minicart:hover {
				background-color: transparent;
			}

			.ec-minicart.ec-minicart--rect {
				border: 0;
				padding: 0;
				box-shadow: none;

				.ec-minicart__icon {
					display: none;
				}

				.ec-minicart__count {
					font-weight: 400;
					font-size: 14px;
					font-family: 'Open Sans', sans-serif;
				}

				.ec-minicart__wrap {

					&:before {
						background: url(../images/background-images/cart.png) no-repeat scroll 0 0 transparent;
						bottom: 0;
						content: "";
						left: -55px;
						position: absolute;
						right: 0;
						top: 0;
					}
				}

				.ec-minicart__subtotal {
					font-size: 22px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 700;
					line-height: 1.5;
				}

				.ec-minicart__counter {
					display: block;
					right: inherit;
					top: 2px;
					left: -35px;
					padding: 0 6px;
					min-width: auto;
					height: auto;
					line-height: 1.6;
					font-size: 12px;
				}
			}
		}

		.top-cart-row-container {
			div.ecwid-minicart-mini {
				.ecwid-minicart-mini-link,
				.ecwid-minicart-mini-count {
					display: none;
				}
			}
		}

		div.ecwid-minicart-mini-rolloverContainer {
			display: block !important;

			div.ecwid-minicart-mini-rollover {
				border: none !important;
				#{$start}: 65px !important;
				top: 0 !important;
				cursor: pointer;
			}

			.ecwid-minicart-mini-link {
			    display: inline-block;
			    font-size: 14px;
			    line-height: 21px;
			    float: $end;
			    margin-top: -4px;

			    &,
			    &:hover,
			    &:focus {
			    	color: #3d3d3d !important;
			    }
			}

			.ecwid-minicart-mini-items {
				display: none ;
			}

			.ecwid-minicart-mini-overlay-count {
				font-size: 12px !important;
				height: 21px;
				width: 21px;
				border-radius: 50%;
				display: inline-block;
				text-align: center;
				font-weight: 700;
				color: #fff !important;
				vertical-align: middle;
				line-height: 19px;
				margin-#{$start}: 9px;
				margin-#{$end}: 18px;
			}

			.ecwid-minicart-mini-total {
				margin-top: -5px;
				margin-#{$start}: 48px;

				.ecwid-minicart-mini-total-label {
					display: none;
				}

				.ecwid-minicart-mini-total-total {
					font-size: 22px;
				}
			}

			&:hover,
			&:focus {
				.ecwid-minicart-mini-link,
				a {
					&,
				    &:hover,
				    &:focus {
				    	color: #3d3d3d !important;
				    }
				}
			}
		}

		.ecwid-minicart-mini-overlay-count {
			border-radius: 100px;
		    color: #fff;
		    font-size: 12px;
		    font-weight: 700;
		    height: 21px;
		    line-height: 21px;
		    position: absolute;
		    #{$end}: 12px;
		    text-align: center;
		    top: 5px;
		    width: 21px;

			&:before {
				background: url("../images/background-images/cart.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
			  	bottom: 0;
			  	content: "";
			  	#{$start}: 0;
			  	position: absolute;
			  	#{$end}: 0;
			  	top: 0;
			}
		}
	}
}
