html#ecwid_html {
	body#ecwid_body {
		div.ecwid-productBrowser.ecwid-productBrowser-CartPage {
			div.ecwid-productBrowser-head {
				font-size: 34px !important;
			  	font-weight: 400 !important;
			  	color: $title-color !important;
			  	padding: 40px 0;
			  	text-align: center;
			}

			div.ecwid-productBrowser-productNameLink a {
				color: #0e53a5 !important;
			    font-weight: 400 !important;
			    line-height: 15px !important;
			}

			.ecwid-productBrowser-price {
				font-weight: 400 !important;
			    padding: 2px 15px 0px;
			}

			.ecwid-productBrowser-cart-qtyTextField-multiplication {
				padding-top: 0px;
				font-weight: 400 !important;
			}

			.ecwid-productBrowser-cart-removeItemButton {
				top: -6px !important;
    			right: -10px !important;
			}

			.ecwid-productBrowser-cart-qtyTextField {
				background-color: transparent !important ;
			    border: 1px solid #e0e0e0 !important;
			    border-radius: 5px !important;
			    text-align: center !important;
			    padding: 5px !important;/*10px*/
			    color: #3d3d3d !important;
			    transition:all 0.3s ease;

			}

			.ecwid-productBrowser-cart-optionsList-name,
			.ecwid-productBrowser-cart-weight {
				font-weight: 400 !important;
			}

			div.ecwid-productBrowser-cart-optionsList {
				padding-top: 0 !important;

				.ecwid-productBrowser-cart-optionsList-value {
					font-weight: 400 !important;
				}

				.ecwid-btn--secondary.ecwid-btn--changeOptions {
					padding: 5px 11px !important;
					font-size: 13px !important;
				}
			}
		}

		table.ecwid-productBrowser-cart-itemsTable {
			tr {
				@include make-row();
            	position: relative;
			}
		}

		td.ecwid-productBrowser-cart-itemsTable-headerCell,
		td.ecwid-Invoice-itemsTable-headerCell {
			color: $content-color !important;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 20px;
            padding: 15px 6px 0px !important;
            border-bottom: 1px solid #e0e0e0 !important;
            font-weight: 400 !important;

		}

		.ecwid-productBrowser-cart-itemsTable-row-selected,
		.ecwid-productBrowser-cart-itemsTable-cell-selected {
			border-bottom: none !important;
		}

		td.ecwid-productBrowser-cart-itemsTable-cell {
			padding: 7px 0 15px !important;
			border-bottom: 1px solid #e0e0e0 !important;

			&.ecwid-productBrowser-cart-itemsTable-cell-thumbnail {
				padding-#{$end}: 15px !important;
			}

			&.ecwid-productBrowser-cart-itemsTable-cell-price,
			&.ecwid-productBrowser-cart-itemsTable-cell-subtotal {
				text-align: center !important;
			}
		}

		td.ecwid-Invoice-itemsTable-cell-thumbnail,
		td.ecwid-productBrowser-cart-itemsTable-cell {
		  	img {
		  		border: 1px solid #E0E0E0 !important;
		  	}
		}

		div.ecwid-productBrowser-cart-EnterCouponBox {
			margin: 0px !important;
			padding: 12px 18px !important;
		    background-color: #f4f4f4 !important;

			div.ecwid-productBrowser-cart-EnterCouponBox-couponCodeLabel {
				color: #3d3d3d !important;
			    font-size: 14px !important;
			    line-height: 40px !important;
			    vertical-align: middle !important;
		        font-weight: 400;
			}

			.ecwid-productBrowser-cart-EnterCouponBox-couponPanelControls .ecwid-fieldEnvelope-around {
				padding: 0px;
			}

			.gwt-TextBox {
				background-color: #ececec !important;
			    border: medium none;
			    border-radius: 5px 0 0 5px !important;
			    color: #3d3d3d !important;
			    font-size: 13px;
			    line-height: 20px;
			    padding: 13px 14px !important;/*15px 14px;*/
			    width: 200px !important;
			}
		}

		.ecwid-btn.ecwid-btn--secondary.ecwid-btn--apply {
		   border-radius: 0 5px 5px 0 !important;
		   margin-#{$start}: -5px;
		   padding: 14px 34px !important;/*15px 14px;*/
		   color: #fff !important;
		   font-size: 15px;
		   font-weight: 400;
		   border: none !important;
	       line-height: 16px;
		}

		div.ecwid-productBrowser-cart-subtotalLabel,
		div.ecwid-productBrowser-cart-shippingLabel,
		div.ecwid-productBrowser-cart-taxLabel,
		div.ecwid-productBrowser-cart-totalLabel {
			color: $title-color !important;
            font-size: 14px !important;
            text-transform: uppercase;
            line-height: 16px !important;
            font-weight: 400;
		}

		div.ecwid-productBrowser-cart-totalLabel {
			font-size: 20px !important;
		}

		.ecwid-productBrowser-backgroundedPanelInner,
		div.ecwid-productBrowser-cart-subtotalAmount,
		div.ecwid-productBrowser-cart-subtotalAmountMinus,
		div.ecwid-productBrowser-cart-shippingAmount,
		div.ecwid-productBrowser-cart-taxAmount {
			color: #301c53 !important;
			font-weight: 400 !important;
			line-height: 16px !important;
		}

		.ecwid-productBrowser-cart,
		div.ecwid-productBrowser-cart-totalAmount {
			color: #301c53 !important;
			font-weight: 400 !important;
			line-height: 25px !important;
			font-size: 20px !important;
		}

		table.ecwid-productBrowser-cart-totalAmountPanel td {
			padding: 24px 0 !important;

			.ecwid-productBrowser-cart-totalLabel {
				line-height: 25px !important;
			}
		}

		div.ecwid-productBrowser-cart-termsCheckbox {
			color: $text-color !important;

			a,label {
				font-weight: 400;
				font-size: 12px !important;
			}

			label {
				color: #000 !important;
			}

		}

		.ecwid-productBrowser-cart .ecwid-btn--secondary {
		    padding: 10px 40px !important;
	        font-size: 13px !important;
		}

		.ecwid-productBrowser-cart-estimationNote {
			font-size: 12px !important;
		}

		.ecwid-productBrowser-cart-termsCheckbox.ecwid-productBrowser-cart-termsCheckbox-rollover {
			opacity: 1;

			a,label {
				color: #000 !important;
			}
		}

		.ecwid-btn--primary{
			&.ecwid-btn--checkout {
				padding: 10px 40px !important;
				border-radius: 4px !important;
				font-size: 15px !important;
			    font-weight: 700 !important;
			    line-height: 20px !important;
			    box-shadow: none !important;
			    font-weight: 400 !important;

			    &:focus:hover {
			    	border-color: none;
			    }
			}
		}

		.ecwid-btn--primary {
			&:focus,
			&:hover,
			&:visited
			&:active {
				border-color: transparent !important;
			}
		}

		div.ecwid-productBrowser-cart-chooseLocationPopup-deliveryMethodLabel {
			color: #3d3d3d !important;
		}

		&.ecwid-shopping-cart {
			.section-page-title,
			.ecwid-shopping-cart-categories,
			td .ecwid-minicart-mini,
			.ecwid-shopping-cart-search,
			.ecwid-productBrowser-auth{
				display: none;
			}

			.ecwid-minicart-mini-rolloverContainer + .ecwid-minicart-mini-rolloverContainer .ecwid-minicart-mini-rollover {
				display: none !important;
			}
		}
	}
}
