html#ecwid_html {
	body#ecwid_body {
		.widget.widget_ecwid_search {

			.widgettitle {
				display: none;
			}

			.ecwid-SearchPanel,
			.ecwid-search-widget {
				margin: dir-values(8px 0 0 0);
				position: relative;

				input.ecwid-SearchPanel-field,
				input.ecwid-search-widget__input,
				.ecwid-search-widget__input[type="text"] {
		            border: 3px solid #c6c6c6;
		            padding: 13px;
		            color:$black;
		            width:100%;
		            border-radius: 7px;/*br-values(7px 0  0 7px);*/
		            margin-#{$end}: 0 !important;
		            max-width: 100% !important;
				}

				.ecwid-SearchPanel-button,
				.ecwid-search-widget__btn {
					border-radius: br-values(0 5px 5px 0) !important;
		            padding: 15px 20px !important;
		            margin: dir-values(0 0 0 -2px);
		            color: #fff !important;
				    display: inline-block;
				    font-size: 15px !important;
				    font-weight: 700;
				    height: auto !important;
				    border: medium none !important;
				    transition: 0.3s ease;

				    position: absolute;
				    top:0;
				    #{$end}:0;

				    &:hover,
				    &:focus {
				    	background: #939393 !important;
				    }
		        }
		    }
		}
	}
}

html#ecwid_html {
	body#ecwid_body {
		.widget.widget_ecwid_search {

			.ecwid-search-widget {
				max-width: 100%;

				input.ecwid-search-widget__input,
				.ecwid-search-widget__input[type="text"] {
					height: auto;
					border-radius: 7px !important;
				}

				.ecwid-search-widget__btn {
					height: 54px !important;
					width: 10%;
					line-height: 1.2;

					&:hover,
				    &:focus {
				    	opacity: 1 !important;
				    }

					svg {
						height: auto;
    					width: auto;

						.ecwid-search-widget-icon {
							fill: #fff;
						}
					}
				}
			}
		}

		.mc-handheld-footer-bar {
			@media (max-width: $screen-sm-max) {

				li.search {
					position: relative;
				}

				li.search.active {
					.widget_ecwid_search {
						bottom: 100%;
					}
				}

				.widget_ecwid_search {
					position: absolute;
					bottom: -2em;
					left: 0;
					right: 0;
					background-color: #333E48;
					padding: 1em;
					transition: all 0.3s;

					.ecwid-search-widget {
						margin-top: 0;

						&:before {
							top: 20px;
							left: 20px;
							font-family: FontAwesome;
							content: "\f002";
							color: #43454b;
							position: absolute;
							opacity: .8;
						}
					}
				}

				.widget.widget_ecwid_search .ecwid-search-widget input.ecwid-search-widget__input {
					border: none;
					padding: 16px 20px 16px 45px;
					border-radius: 2px !important;
				}

				.widget.widget_ecwid_search .ecwid-search-widget .ecwid-search-widget__btn {
					display: none;
				}
			}
		}
	}
}
