html#ecwid_html {
	body#ecwid_body {

		div.ecwid-productBrowser-categoryPath {
			font-size: 12px !important;
			font-weight: 600 !important;
			padding-top: 0 !important;

			a{
				font-size: 12px !important;
				font-weight: 600 !important;
			}
		}

		.ecwid-fieldEnvelope .ecwid-fieldEnvelope-around {
			input.ecwid-productBrowser-details-qtyTextField {
				background-color: #fff !important ;
			    border: 1px solid #e0e0e0 !important;
			    border-radius: 5px !important;
			    text-align: center !important;
			    padding: 10px !important;
			    color: #3d3d3d !important;
			    transition:all 0.3s ease;
			    text-align: center !important;
			    //width: 25% !important;

			}
		}

		div.ecwid-productBrowser-details {
			div.ecwid-productBrowser-price {
				color: #28124A !important;
				font-weight: 700 !important;
				margin: 20px 0 !important;
				font-size: 40px !important;
			}
		}

		div.ecwid-productBrowser-details-inTheBag {
			div {
				color: #3d3d3d !important;
			}
		}

		div.ecwid-productBrowser-details-outOfStockLabel {
			color: #FF0000 !important;
		}

		div.ecwid-productBrowser-details-descr {
			p {
				margin: 22px 0 !important;
		        color: $content-color !important;
		        font-size: 16px !important;
		        line-height: 28px !important;
			}

			h1,h2,h3{
				font-weight: 700 !important;
			}

			h4, h5, h6  {
				font-weight: 600 !important;
			}
		}

	}
}
