html#ecwid_html {
	body#ecwid_body {
		.widget.widget_ecwid_vcategories_list,
		.widget.widget_ecwid_vcategories {
			h4.widget-title ,
			h2.widgettitle {
				border-radius: 5px 5px 0 0;
			    color: #fff;
			    font-size: 16px !important;
			    font-weight: 700 !important;
			    padding: 17px !important;
			    margin: 0 !important;
			    border-bottom: none !important;
			    letter-spacing: 0 !important;

			    &:before {
			    	content: "\f03a";
			    	font-family: FontAwesome;
			    	margin: dir-values(0 10px 0 0);
			    	font-weight: 400;
		    	    -webkit-font-smoothing: antialiased;
			    }
			}

		    div.ecwid-categories { 
		    	border: 1px solid #e0e0e0;
		    	border-radius: 0 0 5px 5px;
		    	border-top: none;

		    	table{
		    		width: 100% !important;

		    		tr{
		    			&:nth-child(4n+1) {
		    				td {
		    					a {
		    						background: #fff;

		    					}
		    				}
		    			}

		    			&:nth-child(4n+3) {
		    				td {
		    					a{
		    						background: #f9f9f9;
		    					}
		    				}
		    			}

		    		}

		    		td.ecwid-categories-vertical-table-cell {
		    			border: none !important;

		    			table.ecwid-categories-vertical-table-cell-categoryLink {
		    				margin: 0 !important;
		    				width: 100% !important;

		    				td {
		    					a{
		    						display: block !important;

		    						.ecwid-categories-category {
				    				
					    				padding: 12px 17px;
					    				font-size: 15px;
					    				line-height: 26px;
					    				color: #636363 !important;
				    					font-weight: 600;
				    					display: block !important;
				    				}

				    				&:hover,
				    				&:focus {
				    					.ecwid-categories-category {
				    						color: #fff !important;
				    					}
				    				}
			    				}
		    				}
		    			}
		    		}
			    }
			}

			ul {
			    list-style-type: none;
			   	padding-left: 0px;
			   	
			    li {
		    	    font-size: 15px;
	    	        padding: 12px 0px 12px 15px;
					line-height: 26px;
				    font-weight: 600;
				    border: 1px solid #e0e0e0;
				    border-bottom: 0px;
    				border-top: 0px;

    				&:last-child {
    					border: 1px solid #e0e0e0;
    					border-top: 0px;
    					border-radius: 0 0 5px 5px;
    				}

				    &:hover {
			    	    background-color: #59B210 !important;
			    	    border-color: #59B210;

			    	    a {
			    	    	color: #fff;
			    	    }
				    }

					&:nth-child(2n) {
					    background-color: #F9F9F9;
					}
			
					a {
					    color: #636363;
					}
			    }

			}
		}		
	}
}
