.entry-content .wpcf7-form, .wpcf7-form {
	> p {
		color: #3e3e3e;
		font-size: 14px;
		line-height: 22px;
		font-weight: 600;
	}

	.wpcf7-text, .wpcf7-textarea {
		color: #3d3d3d;
		font-size: 16px;
		line-height: 28px;
		font-weight: normal;
		background-color: #f6f6f6;
		border-radius: 0;
		padding: 9px;
		border: none;
		width: 100%;
		transition:all 0.3s ease;
	}

	.wpcf7-submit {
		padding: 18px 52px;
		border-radius: 4px;
		font-weight: bold;
		display: inline-block;
		line-height: 20px;
		border: none;
		font-size: 15px;
		width: auto;
		color: #fff;
	}
}
