/*===================================================================================*/
/*  YITH Wishlist
/*===================================================================================*/

.wishlist-title {
	text-align: center;
	padding: 40px 0;

	h2 {
		font-size: 40px;
		line-height: 50px;
		color: #434343;
	}
}

.yith-wcwl-add-button img,
.yith-wcwl-wishlistexistsbrowse .feedback {
	display: none !important;
}

.yith-wcwl-wishlistaddedbrowse {

	.feedback {
		cursor: pointer;

		&:before {
			@include add-fa();
			margin-#{$end}: 5px;
			color: #c6c6c6;
			content: $fa-var-check;
		}
	}

	> a {
		display: none;
	}
}

.add_to_wishlist {
	color: #747474;
	font-size: 14px;

	&::before {
		@include add-fa();
		margin-#{$end}: 5px;
		color: #c6c6c6;
		content: $fa-var-heart;
	}
}

.yith-wcwl-wishlistexistsbrowse > a {
	color: #747474;

	&::before {
		@include add-fa();
		margin-#{$end}: 5px;
		color: #c6c6c6;
		content: $fa-var-th-list;
	}
}

.yith-wcwl-share {

	.yith-wcwl-share-title {
		margin: 0;
	}

	> ul {
		padding-#{$start}: 0 !important;
	}
}

.shop_table.wishlist_table {
	> tbody > tr > th,
	> tbody > tr > td,
	> tfoot > tr > th,
	> tfoot > tr > td {
		vertical-align: middle;
	}

	.mc-price-wrapper {
		> ins {
			float: $start;
			margin-#{$end}: 10px;
		}

		> del, > del .amount {
			font-size: 90%;
		}
	}
}

.yith-wcwl-share{

    h4{
        line-height: 27px;
        padding-bottom: 11px;
    }

    ul > li > a{
        line-height: 1;
        font-family: FontAwesome;
        font-style: normal;
    }

    .facebook{
        &:before{
            content: $fa-var-facebook;
        }
    }

    .twitter{
        &:before{
            content: $fa-var-twitter;
        }
    }

    .pinterest{
        &:before{
            content: $fa-var-pinterest;
        }
    }

    .googleplus{
        &:before{
            content: $fa-var-google-plus;
        }
    }

    .email{
        &:before{
            content: $fa-var-envelope;
        }
    }
}

.btn-add-to-wishlist{
    color: $black;
    font-size: 12px;
    line-height: 24px;
    @extend .inline;

    i{
        margin: dir-values(0 5px 0 0);
        color: darken($second-color,20%);
        transition: 0.3s ease;
    }
}

.yith-wcwl-add-button > a i,
.wishlist_table .add_to_cart.button i{
    margin-#{$end}: 5px !important;
}
