/*===================================================================================*/
/*  YITH WooCompare
/*===================================================================================*/

.add-to-compare-link {
	color: #747474;
	font-size: 14px;
	padding: 0;
	border-radius: 0;
	font-weight: normal;

	&::before {
		@include add-fa();
		margin-#{$end}: 10px;
		color: #c6c6c6;
		content: $fa-var-exchange;
	}

	&.added {
		&::before {
			content: $fa-var-check;
		}
	}
}

.btn-add-to-compare{
    color: $black;
    font-size: 12px;
    line-height: 24px;
    @extend .inline;

    i{
        margin: dir-values(0 5px 0 0);
        color:darken($second-color,20%);
        transition: 0.3s ease;
    }
}
